<header class="layout-header">
	<a href="#" class="btn-nugu">누구나 주식회사</a>
	<a href="#" class="btn-menu">메뉴 open/close</a>
	<a href="#" class="btn-login">로그인</a>

	<nav class="shortcut-menus">
		<h2 class="shortcut-menus-title">네비게이션 메뉴</h2>
		<ul>
			<li@@if ( menu == "intro" ) { class="is-selected"}><a href="#">누구나 주식회사</a></li>
			<li@@if ( menu == "product" ) { class="is-selected"}><a href="#">NUGU</a></li>
			<li@@if ( menu == "support" ) { class="is-selected"}><a href="#">SUPPORT</a></li>
		</ul>
	</nav>
</header>