<!-- 데스크탑전용 로그인 후 메뉴 -->
<aside id="user-menus" class="user-menus">
	<h2 class="title">사용자 메뉴</h2>

	<p class="btns">
		<a href="#">마이페이지</a>
		<a href="#">로그아웃</a>
	</p>
</aside>


<!-- 모바일전용 전체 메뉴 -->
<aside id="menus" class="mobile-menus">
	<button type="button" class="btn-close">메뉴 닫기</button>

	<h2 class="title">누구나 주식회사</h2>

	<nav class="shortcut-menus">
		<ul class="list-menus">
			<li>
				<a href="#">누군 주식회사</a>
			</li>
			<li>
				<a href="#">NUGU</a>
			</li>
			<li>
				<a href="#">SUPPORT</a>
				<ul class="list-sub-menus">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">1:1 문의</a></li>
					<li><a href="#">사용매뉴얼</a></li>
				</ul>
			</li>
		</ul>
	</nav>

	<div class="login-container">
		<!-- 로그인 전 -->
		<!-- <a href="#" class="btn-login">로그인</a> -->

		<!-- 로그인 후 -->
		<a href="#" class="btn-user">id******</a>
		<p class="btns">
			<a href="#">마이페이지</a>
			<a href="#">로그아웃</a>
		</p>
	</div>
</aside>
<script>
$(document).ready(function(e) {
	// mobile
	var $btnCloseMenuMobile = $('.mobile-menus .btn-close');
	$btnCloseMenuMobile.on('click', function(e) {
		e.preventDefault();

		$('body').toggleClass('is-menu-open');
	});
});	
</script>



<header class="layout-header">
	<a href="#" class="btn-nugu">누구나 주식회사</a>
	<a href="#menus" class="btn-menu only-mobile">메뉴 open/close</a>

	<!-- 로그인 전 -->
	<a href="#" class="btn-login">로그인</a>

	<!-- 로그인 후 -->
	<a href="#user-menus" class="btn-user only-desktop">id******</a>

	<nav class="shortcut-menus">
		<h2 class="shortcut-menus-title">네비게이션 메뉴</h2>
		<ul class="list-menus">
			<li@@if ( menu == "intro" ) { class="is-selected"}><a href="#">누구나 주식회사</a></li>
			<li@@if ( menu == "product" ) { class="is-selected"}><a href="#">NUGU</a></li>
			<li@@if ( menu == "support" ) { class="is-selected"}><a href="#">SUPPORT</a></li>
		</ul>
	</nav>
	<script>
	$(document).ready(function(e) {
		// desktop
		var $btnUserDesktop = $('.btn-user.only-desktop');
		$btnUserDesktop.on('click', function(e) {
			e.preventDefault();

			var target = $(this).attr('href');
			$(target).toggleClass('is-show');
		});

		// mobile
		var $btnMenuMobile = $('.btn-menu.only-mobile');
		$btnMenuMobile.on('click', function(e) {
			e.preventDefault();

			$('body').toggleClass('is-menu-open');
		});
	});	
	</script>
</header>