

/* buttons */
.btn-nugu { display: block; text-indent: -9999px;
	@include mobile { @include retina-sprite($sm-nugu-group); }
	@include desktop { @include sprite($sd-nugu); }
}

.btn-menu { display: block; text-indent: -9999px; @include retina-sprite($sm-btn-menus-group); }

.btn-login { display: block; text-indent: -9999px;
	@include mobile { @include retina-sprite($sm-btn-login-group); }
	@include desktop { @include sprite($sd-btn-login); }
}

.btn-user { display: block; font-family: $font-roboto-stack; font-size: 0.750rem; color: #868686; 
	@include mobile { text-align: center;
		&:before { content: ''; display: block; margin: 0 auto 8px auto; @include retina-sprite($sm-icon-user-group); }
	}

	@include desktop { font-size: 1.125rem; background-color: #fff;
		&:after { content: ''; display: inline-block; margin-left: 10px; vertical-align: middle; @include sprite($sd-icon-user); }
	}	
}


/* top navigation */
.shortcut-menus {
	@include mobile { display: none;
		.shortcut-menus-title { display: none; }

		.list-menus { margin-top: 15px;
			> li { position: relative; padding: 25px 0; text-align: center;
				> a { display: block; font-size: 1.250rem; font-weight: 500; color: #666; }

				+ li {
					&:before { content: ''; display: block; position: absolute; top: 0; left: 50%; margin-left: -15px; height: 1px; width: 30px; background-color: #e0e0e0; }
				}
			}
		}

		.list-sub-menus {
			> li { padding-top: 25px; text-align: center;
				> a { display: block; font-size: 0.813rem; color: #ababab; }
			}
		}
	}

	@include desktop {
		.shortcut-menus-title { display: none; }

		.list-menus { text-align: center;
			> li { display: inline-block; padding: 0 30px 0 30px;
				> a { display: block; position: relative; font-family: $font-roboto-stack; font-size: 1.125rem; font-weight: 500; color: #666; line-height: 100px;
					&:hover { color: #ed6627; }
				}

				&.is-selected {
					> a {
						&:after { content: ''; display: block; position: absolute; bottom: -1px; height: 4px; width: 100%; background-color: #ed6627; }
					}
				}
			}
		}
	}
}



/* filter(search & category) container */
.search-container { display: block; box-sizing: border-box; position: relative; margin: 0 auto; padding: 0 6.122448979592%; height: 37px; width: 76.5625%; border-radius: 37px; background-color: #f2f2f2;
	select { display: block; float: left; margin-top: 10px; margin-right: 6px; width: 22.857142857143%; font-size: 0.750rem; color: #a9a9a9; vertical-align: middle; background: url('/assets/images/mobile/bg_search_select@2x.png') right center no-repeat; background-size: 11px 20px; }
	p { display: inline-block; position: relative; width: 61.224489795918%;
		&:before { content: ''; display: block; position: absolute; top: 50%; left: 0; margin-top: -5px; height: 11px; width: 1px; background-color: #d5d5d5; }

		input[type=text] { display: block; box-sizing: border-box; padding-left: 10px; height: 37px; width: 100%; font-size: 0.750rem; color: #252525; line-height: 37px; vertical-align: middle; }
	}
	.btn-submit { display: block; position: absolute; top: 50%; right: 6.122448979592%; margin-top: -$sm-icon-search-height/2; text-indent: -9999px; }

	@include mobile {
		.btn-submit { @include retina-sprite($sm-icon-search-group); }	
	}

	@include desktop { padding: 0 30px 0 20px; height: 56px; width: 430px; border-radius: 56px;
		select { margin-top: 15px; margin-right: 16px; font-size: 1.000rem; background: url('/assets/images/desktop/bg_search_select.png') right center no-repeat; background-size: 12px 26px; }
		p {
			&:before { margin-top: -8px; height: 16px; }

			input[type=text] { height: 56px; font-size: 1.000rem; line-height: 56px; }
		}
		.btn-submit { right: 30px; margin-top: -$sd-icon-search-height/2; @include sprite($sd-icon-search); }
	}
}

.category-container { text-align: center;
	.btn-category { display: inline-block; padding-right: 21px; font-size: 0.875rem; font-weight: 500; color: #ed6829; background: url('/assets/images/mobile/bg_search_select@2x.png') right center no-repeat; background-size: 11px 20px; }

	.list-category { text-align: center;
		> li { display: inline-block; padding: 0 16px 0 20px;
			a { font-size: 1.125rem; font-weight: 500; color: #999; line-height: 1em;
				&:hover { color: #ed6829; }
			}

			&.is-selected {
				a { color: #ed6829; }
			}

			+ li { border-left: 1px solid #d6d6d6; }
		}
	}

	@include mobile { margin-top: 15px;
		.list-category { display: none; }
	}

	@include desktop { margin-top: 60px;
		.btn-category { display: none; }
		.new { display: inline-block; margin-top: -4px; text-indent: -9999px; vertical-align: middle; }
		.new { @include sprite($sd-icon-new); }
	}
}

.filter-container {
	@include mobile { padding-top: 13px; padding-bottom: 17px;
	}

	@include desktop { padding-top: 60px; padding-bottom: 30px;
	}
}



/* page tab */
.page-tab { overflow: hidden;
	a { display: block; box-sizing: border-box; float: left; width: 50%; font-size: 1.000rem; font-weight: 500; color: #868686; text-align: center; line-height: 2.375em; border: 1px solid #ddd; background-color: #fafafa;
		&:hover,
		&.is-selected { color: #fff; border: 1px solid #666; background-color: #666; }

		+ a { border-left: 0px; }
	}

	@include mobile { margin-top: 13px; }

	@include desktop { margin-top: 47px;
		a { font-size: 1.125rem; line-height: 3.333em; }
	}
}




/* bbs */
.item-info { 
	.category { display: block; position: relative; margin-top: 0px; height: 28px; font-size: 0.750rem; font-weight: 500; color: #ed7d7d;
		&:after { content: ''; display: block; position: absolute; bottom: 0; height: 1px; width: 20px; background-color: #ccc; }
	}
	.title { display: block; margin-top: 7px; font-size: 1.000rem; font-weight: 400; color: #252525; line-height: 1.313em; }
	.new { display: inline-block; margin-top: -4px; text-indent: -9999px; vertical-align: middle; }
	.options { margin-top: 10px; font-size: 0.750rem; font-weight: 400; color: #939393;
		time { display: inline-block; vertical-align: middle; }
		.number { display: inline-block; margin-left: 6px; vertical-align: middle;
			&:before { content: ''; display: inline-block; width: 1px; vertical-align: middle; background-color: #f2f2f2; }
		}
	}

	@include mobile {
		.new { @include retina-sprite($sm-icon-new-group); }
		.options { font-family: $font-roboto-stack;
			.number { line-height: 11px; 
				&:before { display: inline-block; margin: -2px 10px 0 0; height: 11px; width: 1px; background-color: #f2f2f2; }
				> span { display: inline-block; margin-top: -2px; margin-right: 1px; text-indent: -9999px; vertical-align: middle; }

				&.hit { > span { @include retina-sprite($sm-icon-hit-group); } }
				&.recommend { > span { @include retina-sprite($sm-icon-recommend-group); } }
			}
		}
	}

	@include desktop {
		.category { height: 35px; font-size: 1.000rem; }
		.title { display: inline-block; overflow: hidden; margin-top: 6px; height: 28px; max-width: 700px; font-size: 1.375rem; text-overflow: ellipsis; white-space: nowrap; }
		.new { @include sprite($sd-icon-new); }
		.options { display: inline-block; margin-left: 26px; font-size: 1.000rem; font-weight: 300; vertical-align: top;
			.number { margin-left: 16px;
				&:before { margin-top: -4px; margin-right: 20px; height: 14px; background-color: #e0e0e0; }
			}
		}


		.list-by-admin & { 
			.title { display: block; height: 56px; text-overflow: none; white-space: normal; }
			.options { margin-left: 0; }
		}

	}
}


.list-bbs-item { display: block; position: relative;
	.thumb {
		+ .item-info {
			.category { margin-top: 14px; }
		}
	}

	@include mobile {
	}

	@include desktop {
		.list-bbs & {
			&:after { content: ''; display: block; position: absolute; top: 50%; right: 30px; margin-top: -$sd-icon-detail-height/2; @include sprite($sd-icon-detail); }
		}
		.thumb { height: 175px;
			img { height: 175px; width: 350px; }
		}
	}
}


.list-by-admin { border-top: 2px solid #717171;
	> li { padding: 20px 4.6875% 17px; border-top: 1px solid #e9ecef;
		&:first-child { border-top: 0; }
	}

	@include desktop { overflow: hidden; padding: 40px 0; width: 100%; border-top: 2px solid #9b9b9b;
		> li { float: left; padding: 0 17px; width: 350px; border-top: 0px;
			&:nth-child(3n+1) { padding-left: 0; }
			&:nth-child(3n+3) { padding-right: 0; }

			+ li { width: 349px; border-left: 1px solid #dde2e6; }
		}
	}
}

.list-bbs {
	> li { padding: 20px 4.6875% 17px; border-top: 1px solid #e9ecef;
		&:last-child { border-bottom: 1px solid #e9ecef; }
	}

	@include desktop {
		> li { padding: 38px 0 37px 0; border-top: 1px solid #dde2e6; }
	}
}



/* bbs navigation */
.list-bbs-navigation { padding-top: 20px;
	@include mobile {
		.btn-more { display: block; margin: 0 auto; height: 30px; width: 52.5%; font-size: 0.875rem; font-weight: 400; color: #868686; text-align: center; line-height: 30px; border: 1px solid #b6b6b6; border-radius: 30px; }
	}

	@include desktop { padding-top: 35px; text-align: center;
		.btn-more { display: none; height: 40px; width: 156px; font-size: 1.250rem; line-height: 40px; border: 2px solid #b6b6b6; border-radius: 40px;
			&:hover { color: #868686; border: 2px solid #b6b6b6; }
		}
		
		a { display: inline-block; margin: 0 9px 0 13px; padding: 0 2px; height: 21px; font-family: $font-roboto-stack; font-size: 1.000rem; font-weight: 500; color: #949494; line-height: 21px; border-bottom: 2px solid #fff;
			&:hover { color: #ed6829; border-bottom: 2px solid #ed6829; }

			&.is-selected { color: #ed6829; border-bottom: 2px solid #ed6829; }
		}

		.btns { margin: 0; padding: 0; text-indent: -9999px;
			&:hover { border-bottom: 2px solid #fff; }

			&.first { @include sprite($sd-btn-first); }
			&.prev { @include sprite($sd-btn-prev); }
			&.next { @include sprite($sd-btn-next); }
			&.last { @include sprite($sd-btn-last); }
		}
	}

}





/* 게시글 상세 */
.btn-recommend { display: block; font-size: 0.875rem; font-weight: 400; color: #646464; text-align: center; border: 1px solid #d9d9d9; border-radius: 3px; background-color: #f7f7f7;
	.recommend { display: inline-block; }

	@include mobile { margin: 35px auto 0 auto; width: 119px; line-height: 47px;
		.recommend { margin-top: -4px; margin-right: 5px; text-indent: -9999px; vertical-align: middle; @include retina-sprite($sm-icon-recommend-02-group); }

		.view-bbs-item-info & {
			display: none;
		}
	}

	@include desktop { margin: 30px auto 0 auto; width: 186px; font-size: 1.000rem; color: #646464; line-height: 60px; 
		.recommend { margin-right: 22px; font-family: $font-roboto-stack; font-size: 1.000rem; font-weight: 400; color: #ed6829;
			> span { display: inline-block; text-indent: -9999px; margin-top: -4px; vertical-align: middle; @include sprite($sd-icon-recommend-02); }
		}
		.txt { text-decoration: underline;
			&:after { content: '>'; }
		}

		.view-bbs-item-info & { position: absolute; top: 50%; right: 30px; margin-top: -41px; padding: 16px 0; width: 153px; line-height: 28px;
			.recommend { display: block; margin-right: 0;
				> span { margin-right: 5px; }
			}
		}
	}
}

.view-bbs-item-info { position: relative; padding: 17px 0;
	.category { display: block; font-size: 1.000rem; font-weight: 500; color: #ed7d7d; }
	.title { font-size: 1.500rem; font-weight: 400; color: #252525; line-height: 1.250em; }
	.options { font-size: 0.875rem; font-weight: 400; color: #939393;
		time { display: inline-block; vertical-align: middle; }
		.number { display: inline-block; margin-left: 6px; vertical-align: middle;
			&:before { content: ''; display: inline-block; width: 1px; vertical-align: middle; background-color: #f2f2f2; }
		}
	}

	@include mobile {
		.title { margin-top: 8px; }
		.options { margin-top: 7px; font-family: $font-roboto-stack;
			.number { line-height: 13px; 
				&:before { display: inline-block; margin: -2px 10px 0 0; height: 12px; width: 1px; background-color: #f2f2f2; }
				> span { display: inline-block; margin-top: -2px; margin-right: 1px; text-indent: -9999px; vertical-align: middle; }

				&.hit { > span { @include retina-sprite($sm-icon-hit-02-group); } }
				&.recommend { > span { @include retina-sprite($sm-icon-recommend-02-group); } }
			}
		}
	}

	@include desktop { padding: 36px 0 39px 30px;
		.category { display: inline-block; font-size: 1.500rem; font-weight: 400; }
		.title { display: inline-block; }
		.options { margin-top: 20px; font-size: 1.000rem;
			.number { margin-left: 16px;
				&:before { margin-top: -4px; margin-right: 20px; height: 14px; background-color: #e0e0e0; }
				&.recommend { display: none; }
			}
		}
	}
}


.view-bbs { border-top: 2px solid #717171;
	.view-bbs-content { border-top: 1px solid #d9d9d9;
		img { display: block; margin: 0 auto; max-width: 100%; }
		p { margin-top: 24px; font-size: 1.000rem; font-weight: 400; color: #252525; line-height: 1.500em; }
	}

	@include mobile { margin-top: 12px; padding: 0 4.6875%;
		.view-bbs-content { padding: 20px 0 0 0;
			img { width: 100%; }
		}
	}

	@include desktop { margin-top: 60px;
		.view-bbs-content { padding: 40px 0 48px 0; border-bottom: 1px solid #d9d9d9; }
	}
}

.btn-in-bbs { display: block; font-size: 0.875rem; font-weight: 500; color: #fff; text-align: left; line-height: 2.286em; border-radius: 32px;
	@include mobile { display: inline-block; min-width: 90px; text-align: center; background-color: #ed6829; }	
	@include desktop { display: inline-block; min-width: 135px; font-size: 1.125rem; text-align: center; line-height: 46px; border-radius: 46px; background-color: #ed6829; }

	&.cancel { background-color: #959595; }

	&.main { min-width: 160px;
		@include desktop { }
	}

	&.list {
		@include mobile { position: fixed; right: 15px; bottom: 15px; text-indent: -9999px; @include retina-sprite($sm-btn-list-group); background-color: transparent; }
	}
}

.view-bbs-btns { margin-top: 30px; text-align: right;
	&.center { text-align: center; }

	@include mobile { text-align: center;
		&.mt77 { margin-top: 77px; }
	}
}

.view-bbs-navigation { overflow: hidden; border-top: 1px solid #717171; border-bottom: 1px solid #717171;
	a { display: block; box-sizing: border-box; position: relative; width: 50%; font-weight: 400; color: #252525;
		&:before { content: attr(title); display: block; font-weight: 300; color: #9c9b9b; }
		&:after { content: ''; display: block; position: absolute; top: 50%; left: 15px; }

		.category { margin-right: 6px; font-weight: 500; color: #ed7d7d; }
	}

	@include mobile {
		a { float: left; padding-left: 40px; font-size: 0.875rem; line-height: 49px;
			> span { display: none; }

			+ a { border-left: 1px solid #d9d9d9; }

			&.prev {
				&:after { margin-top: -$sm-icon-up-height/2; @include retina-sprite($sm-icon-up-group); }
			}
			&.next {
				&:after { margin-top: -$sm-icon-down-height/2; @include retina-sprite($sm-icon-down-group); }
			}
		}
	}

	@include desktop { margin-top: 60px;
		a { width: 100%; font-size: 1.000rem; line-height: 68px;
			&:before { display: inline-block; padding-left: 70px; width: 90px; }
			&:after { left: 30px; }

			+ a { border-top: 1px solid #d9d9d9; }

			&.prev {
				&:after { margin-top: -$sd-icon-up-height/2; @include sprite($sd-icon-up); }
			}
			&.next {
				&:after { margin-top: -$sd-icon-down-height/2; @include sprite($sd-icon-down); }
			}
		}
	}
}


/* 게시글 작성 */
.forms {
	table { margin-top: 15px; width: 100%; border-top: 2px solid #9b9b9b;
		tbody {
			th { padding: 25px 0 0 30px; height: 51px; width: 120px; font-size: 1.125rem; font-weight: 300; color: #252525; text-align: left; vertical-align: top; border-bottom: 1px solid #e9ecef; }
			td { padding: 15px 30px 15px 0; border-bottom: 1px solid #e9ecef; }
		}

		@include mobile {
			tbody {
				th { display: none; }
				td { padding: 0; position: relative; }
			}
		}
		@include desktop { margin-top: 40px;
			.last {
				th, td { border-bottom: 1px solid #949596; }
			}
		}
	}

	input[type=text],
	input[type=search] { width: 100%; box-sizing: border-box; font-size: 1.000rem; 
		@include mobile { padding: 0 0 0 15px; height: 47px; line-height: 47px; }
		@include desktop { padding-left: 15px; line-height: 44px; border: 1px solid #ddd;
			&::placeholder { color: #fff; }
		}
	}

	textarea { display: block; box-sizing: border-box; width: 100%; font-size: 1.000rem; 
		@include mobile { padding: 15px 15px; height: 288px; border: 0px; }
		@include desktop { padding: 15px 15px; border: 1px solid #ddd;
			&::placeholder { color: #fff; }
		}
	}

	.filebox { display: inline-block; box-sizing: border-box; position: relative;
		input[type=file] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
		label { cursor: pointer; font-size: 1.000rem; }
		.btn-clear { display: block; position: absolute; z-index: z("default"); text-indent: -9999px; }

		.upload-name { display: inline-block; padding: 0 0 0 15px; font-size: 1.000rem; font-weight: 300; color: #999; border: 1px solid #ddd; background-color: #fafafa; }
		.upload-hidden:not(:valid) ~ .btn-clear { display: none; }

		@include mobile { padding-right: 50%; width: 100%;
			label { display: block; box-sizing: border-box; position: relative; padding-left: 15px; height: 47px; width: 100%; font-weight: 400; color: #a9a9a9; line-height: 47px;
				&:after { content: ''; display: block; position: absolute; top: 50%; right: 15px; margin-top: -$sm-btn-fileupload-height/2; @include retina-sprite($sm-btn-fileupload-group); }
			}
			.btn-clear { right: 0; bottom: -46px; @include retina-sprite($sm-btn-clear-group); }
			.upload-name { display: none; position: absolute; right: 0; bottom: -48px; left: 0; width: 100%; border: 0px; border-bottom: 1px solid #d9d9d9;
				&.show { display: block; }
			}
		}

		@include desktop {
			label { display: inline-block; heiht: 46px; width: 100px; font-weight: 500; color: #fff; line-height: 46px; text-align: center; vertical-align: middle; border-radius: 4px; background-color: #c4c4c4; }
			.btn-clear { top: 50%; right: 107px; margin-top: -$sd-btn-clear-height/2; @include sprite($sd-btn-clear); }
			.upload-name { width: 318px; }
		}
	}


	.limited { display: block; box-sizing: border-box; float: right; position: relative; padding: 10px 15px 0 22px; height: 47px; width: 50%; font-size: 0.688rem; font-weight: 300; color: #999; line-height: 15px;
		&:before { content: ''; display: block; vertical-align: middle; border-radius: 3px; background-color: #999; }

		@include mobile { position: absolute; top: 0; right: 0; border-left: 1px solid #d9d9d9;
			&:before { position: absolute; top: 16px; left: 15px; height: 3px; width: 3px; }
		}
		@include desktop { display: inline-block; float: none; margin-left: 16px; padding: 0; width: auto; font-size: 1.000rem; line-height: 46px;
			&:before { display: inline-block; margin: -4px 1px 0 0; height: 4px; width: 4px; }
		}
	}

	/* 게시판 상세 완료 메시지 */
	.complete { position: relative; margin-top: 15px; padding: 70px 0 67px 0; width: 100%; font-size: 0.750rem; font-weight: 400; color: #999; line-height: 1.417em; text-align: center; border-top: 2px solid #9b9b9b; border-bottom: 1px solid #d9d9d9;
		&:before { content: ''; display: block; }

		em { display: block; font-size: 1.000rem; font-weight: 500; color: #ed6829; }

		@include mobile {
			&:before { margin: 0 auto 17px auto; @include retina-sprite($sm-icon-message-group); }
			em { margin-bottom: 5px; }
		}
		@include desktop { margin-top: 40px; padding: 140px 0 140px 476px; font-size: 1.125rem; text-align: left; 
			&:before { position: absolute; top: 50%; left: 310px; margin-top: -$sd-icon-message-height/2; @include sprite($sd-icon-message); }
			em { margin-bottom: 9px; font-size: 1.500rem; }
		}
	}
}


/* accordion 목록 */
.accordion { border-top: 2px solid #9b9b9b; border-bottom: 1px solid #e9ecef;
	@include mobile { margin-top: 15px; }
	@include desktop { margin-top: 40px; }

	.status { display: block; position: absolute; top: 16px; left: 15px; width: 50px; font-size: 0.688rem; font-weight: 500; color: #fff; line-height: 20px; text-align: center; border-radius: 20px; background-color: #9b9b9b;
		&.done { background-color: #ed6627; }

		@include desktop { top: 50%; left: 30px; margin-top: -16px; width: 80px; font-size: 1.000rem; line-height: 32px; border-radius: 32px; }
	}

	dt { border-top: 1px solid #e9ecef;
		> a { display: block; position: relative; padding: 14px 45px 16px 75px;
			&:after { content: ''; display: block; position: absolute; top: 50%; right: 15px; }

			.title { font-size: 1.000rem; font-weight: 400; color: #252525; line-height: 1.375em; }
			time { font-size: 0.750rem; font-weight: 300; color: #999; }
		}

		@include mobile {
			> a {
				&:after { margin-top: -$sm-icon-accordion-down-height/2; @include retina-sprite($sm-icon-accordion-down-group); }
			}
		}
		@include desktop { 
			> a { padding: 26px 60px 28px 130px;;
				&:after { margin-top: -$sd-icon-accordion-down-height/2; @include sprite($sd-icon-accordion-down); }

				.title { font-size: 1.375rem; }
				time { margin-left: 26px; font-size: 1.000rem; }
			}
		}


		&.is-opened {
			> a {
				&:after { }
			}
			+ dd { display: block; }

			@include mobile {
				> a {
					&:after { margin-top: -$sm-icon-accordion-up-height/2; @include retina-sprite($sm-icon-accordion-up-group); }
				}
			}
			@include desktop {
				> a {
					&:after { margin-top: -$sd-icon-accordion-up-height/2; @include sprite($sd-icon-accordion-up); }
				}
			}
		}
	}


	dd { display: none; padding: 22px 15px 22px 75px; font-size: 0.813rem; color: #868686; line-height: 1.385em; background-color: #fafafa;

		@include mobile { }
		@include desktop { padding: 37px 60px 38px 130px;  font-size: 1.000rem; line-height: 1.625em; }
		
		.answer { position: relative; margin-top: 10px;
			&:before { content: ''; display: block; position: absolute; top: 2px; left: -18px; height: 8px; width: 8px; border-bottom: 1px solid #aaa; border-left: 1px solid #aaa; }
			time { display: block; }

			@include mobile { }
			@include desktop { margin-top: 20px;
				&:before { top: 2px; left: -30px; height: 10px; width: 10px; }
			}
		}
	}


	// FAQ
	&.faq {
		dt {
			> a { padding-left: 44px;
				@include desktop { padding-left: 82px; }
			}
		}
		dd { padding-left: 44px;
			.answer { margin-top: 0;
				&:before { content: 'A'; top: 0; left: -29px; height: 20px; width: 20px; font-family: $font-roboto-stack; font-size: 0.688rem; font-weight: 500; color: #fff; line-height: 20px; text-align: center; border: 0; border-radius: 20px; background-color: #ed6627; }
			}

			@include desktop { padding-left: 82px;
				.answer {
					&:before { top: -5px; left: -52px; height: 32px; width: 32px; font-size: 1.125rem; line-height: 32px; border-radius: 32px; }
				}
			}
		}

		.status { display: block; position: absolute; top: 16px; left: 15px; width: 20px; font-family: $font-roboto-stack; font-size: 0.688rem; font-weight: 500; color: #fff; line-height: 20px; text-align: center; border-radius: 20px; background-color: #9b9b9b;
			@include desktop { top: 50%; left: 30px; margin-top: -16px; width: 32px; font-size: 1.000rem; line-height: 32px; border-radius: 32px; }
		}
	}
}


/* 서포트 바로가기 */
.support-shortcut { overflow: hidden; padding-top: 51px; background-color: #4b4b4b;
	.shortcut { display: block; padding: 40px 0; font-weight: 400; color: #fff; text-align: center;
		&:before { content: ''; display: block; margin: 0 auto 16px auto; }
		&:after { content: ''; display: block; margin: 21px auto 0 auto; }

		strong { display: block; font-size: 1.500rem; font-weight: 500; }
		p { display: block; margin-top: 7px; font-size: 0.750rem; }
	}	

	@include mobile { background: url('/assets/images/mobile/bg_support@2x.jpg') center top no-repeat; background-size: cover;
		ul {
			li {
				+ li { border-top: 1px solid #666; }
			}
		}

		.shortcut {
			&.faq {
				&:before { @include retina-sprite($sm-icon-support01-group); }
				&:after { @include retina-sprite($sm-icon-shortcut-group); }
			}

			&.qna {
				&:before { @include retina-sprite($sm-icon-support02-group); }
				&:after { @include retina-sprite($sm-icon-shortcut-group); }
			}

			&.manual {
				&:before { @include retina-sprite($sm-icon-support03-group); }
				&:after { @include retina-sprite($sm-icon-pdf-group); }
			}
		}
	}
	@include desktop { padding-top: 100px; min-width: $desktop-min-width; background: url('/assets/images/desktop/bg_support.jpg') center top no-repeat; background-size: cover;
		transition: margin 0.3s;

		ul { margin: 0 auto; width: $desktop-min-width;
			> li { box-sizing: border-box; float: left; width: 33.3%;
				+ li { border-left: 1px solid #666; }
			}
		}
		.shortcut { padding: 140px 0;
			&:before { margin-bottom: 24px; }
			&:after { margin-top: 27px; }

			strong { font-size: 2.000rem; }
			p { margin-top: 4px; font-size: 1.000rem; line-height: 1.500em; }

			&.faq {
				&:before { @include sprite($sd-icon-support01); }
				&:after { @include sprite($sd-icon-shortcut); }
			}

			&.qna {
				&:before { @include sprite($sd-icon-support02); }
				&:after { @include sprite($sd-icon-shortcut); }
			}

			&.manual {
				&:before { @include sprite($sd-icon-support03); }
				&:after { @include sprite($sd-icon-pdf); }
			}

			+ .shortcut { border-left: 1px solid #666; }
		}
	}
}


/* 튜토리얼 */
.tutorial { box-sizing: border-box; padding: 34px 0 0 0; height: 160px; background: url('/assets/images/mobile/bg_tutorial@2x.jpg') center center no-repeat; background-size: cover; 
	.title { display: block; margin: 0 auto; text-indent: -9999px; }
	.detail { margin-top: 25px; font-size: 1.125rem; font-weight: 300; color: #fff; line-height: 1.444em; }
	.btn-play { display: block; margin: 25px auto 0 auto; text-indent: -9999px; }

	@include mobile {
		.title { @include retina-sprite($sm-title-tutorial-group); }
		.detail { display: none; }
		.btn-play { @include retina-sprite($sm-btn-play-group); }
	}
	@include desktop { padding: 96px 0 0 80px; height: 400px; background: url('/assets/images/desktop/bg_tutorial.jpg') center center no-repeat; background-size: cover;
		.title { margin: 0; @include sprite($sd-title-tutorial); }
		.btn-play { margin: 0; margin-top: 38px; @include sprite($sd-btn-play); }
	}
}



/* 메인 : 영상 영역 */
.main-video-container { background-color: rgba(0, 0, 0, 0.8);

	@include mobile { height: 517px; }
	@include desktop { height: 924px; }
}

/* 메인 : NUGU 소개 */
.main-nugu-info { position: relative;
	.nugu-detail { padding: 0 20px; text-align: center; background-color: rgba(11, 128, 144, 0.75);
		.title { font-size: 1.500rem; font-weight: 700; color: #fff;
			.txt-nugu { display: block; margin: 7px auto 0 auto; text-indent: -9999px; background-color: transparent; }
		}
		.example { margin-top: 48px; font-size: 1.313rem; font-weight: 300; color: #fff; line-height: 1.524em; }
		.description { margin-top: 39px; font-size: 0.750rem; color: #fff; line-height: 1.667em;
			+ .description { margin-top: 0; }
		}
		.btn-more { display: inline-block; margin-top: 60px; height: 30px; width: 168px; font-size: 0.875rem; color: #fff; line-height: 28px; text-align: center; border: 1px solid #fff; border-radius: 30px; }
	}

	.list-featured-nugu { padding: 0 15px; background-color: #ebebed;
		> li { position: relative; padding: 16px 0 18px 0; font-size: 0.750rem;
			&:after { content: ''; display: block; position: absolute; top: 50%; right: 0; }

			.title { font-size: 1.125rem; font-weight: 700; color: #3b3b3b; }
			.description { margin-top: 1px; font-weight: 500; color: #5b5b5b; }
			.example { display: inline-block; position: relative; margin-top: 6px; padding: 0 12px 0 12px; font-weight: 400; color: #696767; line-height: 1.250em; }

			+ li { border-top: 1px solid #b6b6b7; }
		}
	}

	@include mobile {
		.nugu-detail { position: relative; padding-top: 65px; height: 500px;
			&:before { content: ''; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: z("default") - 2; height: 100%; width: 100%; background: url('/assets/images/mobile/bg_nugu_info@2x.jpg') center bottom no-repeat; background-size: cover; }

			.title {
				.txt-nugu { @include retina-sprite($sm-txt-nugu-01-group); }
			}
		}


		.list-featured-nugu { padding: 0 15px; background-color: #ebebed;
			> li {
				.example {
					&:before { content: ''; display: block; position: absolute; top: 2px; left: 0; @include retina-sprite($sm-dq-left-group); }
					&:after { content: ''; display: block; position: absolute; bottom: 7px; right: 0; @include retina-sprite($sm-dq-right-group); }
				}
				
				&.melon {
					&:after { margin-top: -$sm-icon-featured01-height/2; @include retina-sprite($sm-icon-featured01-group); }

					.title:after { content: ''; display: inline-block; margin-left: 10px; @include retina-sprite($sm-txt-melon-group); }
				}
				&.smarthome {
					&:after { margin-top: -$sm-icon-featured02-height/2; @include retina-sprite($sm-icon-featured02-group); }

					.title:after { content: ''; display: inline-block; margin-left: 10px; @include retina-sprite($sm-txt-smarthome-group); }
				}
				&.schedule {
					&:after { margin-top: -$sm-icon-featured03-height/2; @include retina-sprite($sm-icon-featured03-group); }
				}
				&.wheather {
					&:after { margin-top: -$sm-icon-featured04-height/2; @include retina-sprite($sm-icon-featured04-group); }
				}
				&.alarm {
					&:after { margin-top: -$sm-icon-featured05-height/2; @include retina-sprite($sm-icon-featured05-group); }
				}
			}
		}
	}
	@include desktop { min-width: 1440px; background: #ebeced url('/assets/images/desktop/bg_nugu_info.jpg') center center no-repeat;
		.layout-inner-contents { position: relative; margin: 0 auto; height: 1024px; width: 1440px !important; }

		.nugu-detail { box-sizing: border-box; float: left; padding: 187px 0 0 66px; height: 100%; width: 640px; text-align: left;
			.title { margin-left: -16px; font-size: 3.000rem;
				.txt-nugu { margin: 18px 0 0 7px; @include sprite($sd-txt-nugu-01); }
			}
			.example { margin-top: 87px; font-size: 2.500rem; line-height: 1.500em; }
			.description { margin-top: 87px; font-size: 1.375rem; line-height: 1.273em;
				+ .description { margin-top: 7px; }
			}
			.btn-more { margin-top: 70px; height: 44px; width: 196px; font-size: 1.250rem; font-weight: 500; line-height: 44px; border: 2px solid #fff; border-radius: 44px; }
		}

		.list-featured-nugu { position: absolute; top: 240px; left: 1040px; padding: 0; width: 382px; background-color: transparent;
			> li { position: relative; padding: 20px 0 23px 0; font-size: 1.000rem;
				&:after { content: ''; display: block; position: absolute; bottom: 22px; right: 0; }

				.title { font-size: 1.500rem; }
				.description { margin-top: 3px; font-size: 1.125rem; color: #5b5b5b; }
				.example { margin-top: 6px; padding: 0 23px 0 21px; font-weight: 300; line-height: 1.3em;
					&:before { content: ''; display: block; position: absolute; top: 1px; left: 0; @include sprite($sd-dq-left); }
					&:after { content: ''; display: block; position: absolute; bottom: 5px; right: 0; @include sprite($sd-dq-right); }
				}

				&.melon {
					&:after { @include sprite($sd-icon-featured01); }

					.title:after { content: ''; display: inline-block; margin-left: 6px; @include sprite($sd-txt-melon); }
				}
				&.smarthome {
					&:after { @include sprite($sd-icon-featured02); }

					.title:after { content: ''; display: inline-block; margin-left: 6px; @include sprite($sd-txt-smarthome); }
				}
				&.schedule {
					&:after { @include sprite($sd-icon-featured03); }
				}
				&.wheather {
					&:after { @include sprite($sd-icon-featured04); }
				}
				&.alarm {
					&:after { @include sprite($sd-icon-featured05); }
				}
			}
		}
	}
}


/* 메인 : NUGU 소개 */
.main-product {
	.layout-inner-contents { box-sizing: border-box; background-color: rgba(11, 128, 144, 0.75); }

	.message-benefit { font-size: 1.313rem; font-weight: 300; color: #fff; line-height: 1.476em;
		strong { display: block; margin: 0 auto 20px auto; font-size: 1.500rem; font-weight: 700;
			.txt-nugu { display: inline-block; margin-top: -4px; margin-left: 6px; text-indent: -9999px; vertical-align: middle; background-color: transparent; }
		}
	}

	.info { margin-top: 160px; font-size: 1.000rem; font-weight: 400; color: #fff;
		.price { display: block; margin-bottom: 3px; font-family: $font-roboto-stack; font-size: 2.875rem; font-weight: bold; color: #ff802b;
			span { font-size: 1.250rem; font-weight: 400; color: #fff; }
		}
		
		small { display: block; margin-top: 10px; font-size: 0.750rem; }
	}

	.btn-more { display: inline-block; margin-top: 25px; height: 30px; width: 168px; font-size: 0.875rem; color: #fff; line-height: 28px; text-align: center; border: 1px solid #fff; border-radius: 30px; }

	@include mobile { text-align: center; background: url('/assets/images/mobile/bg_nugu_product@2x.jpg') center top no-repeat; background-size: cover;
		.layout-inner-contents { height: 568px; padding: 65px 0 0 0; }
		.message-benefit {
			strong {
				.txt-nugu { @include retina-sprite($sm-txt-nugu-02-group); }
			}
		}
	}

	@include desktop { position: relative; height: 1024px; min-width: 1440px; text-align: right; background: url('/assets/images/desktop/bg_nugu_product.jpg') center bottom no-repeat;
		.layout-inner-contents { position: absolute; top: 0; left: 50%; margin-left: 60px; padding: 173px 45px 0 0; height: 1024px; width: 680px !important; }

		.message-benefit { font-size: 2.625rem;
			strong { margin-bottom: 28px; font-size: 3.000rem;
				.txt-nugu { margin-top: -4px; margin-left: 6px; text-align: left; @include sprite($sd-txt-nugu-02); }
			}
		}


		.info { margin-top: 172px; font-size: 2.000rem; font-weight: 400; color: #fff;
			.price { margin-bottom: 3px; font-size: 5.750rem;
				span { font-size: 2.500rem; }
			}
			
			small { margin-top: 5px; font-size: 1.313rem; }
		}

		.btn-more { margin-top: 70px; height: 44px; width: 196px; font-size: 1.250rem; font-weight: 500; line-height: 44px; border: 2px solid #fff; border-radius: 44px; }
	}
}


/* 메인 : 왓츠뉴 */
.main-whats-new { 
	.list-by-admin { border-top: 0px; }

	@include mobile { padding-bottom: 40px;
		.list-by-admin { border-bottom: 1px solid #e9ecef; }
	}
	@include desktop { margin: 0 auto; padding-top: 90px; padding-bottom: 80px; width: $desktop-min-width;
		.list-by-admin { padding: 0; border-top: 1px solid #dde2e6; border-bottom: 1px solid #dde2e6;
			> li { padding-top: 20px; padding-bottom: 20px; }
		}
		.btn-more { display: block; margin: 0 auto; }
	}
}


/* 메인 : 회사소개 */
.main-company { text-align: center;

	.message { font-size: 0.750rem; color: #fff; line-height: 1.750em;
		em { display: block; margin-bottom: 10px; font-size: 1.438rem; font-weight: 700; line-height: 1.435em; }
	}

	.recommend {
		.youtube { margin-top: 25px; height: 208px; }
		.kongdoo { margin-top: 22px;
			.title { font-size: 1.750rem; font-weight: 500; color: #fff; }
			.say-hello { margin-top: 8px; font-size: 0.750rem; font-weight: 400; color: #fff; line-height: 1.333em;
				&:before { content: ''; display: inline-block; margin-top: -10px; vertical-align: middle; }
				&:after { content: ''; display: inline-block; margin-bottom: -4px; }
					
				span { display: inline-block; margin-bottom: 5px; }
				strong { font-weight: 700; }
			}
		}
	}

	.btn-more { display: inline-block; margin-top: 28px; height: 30px; width: 168px; font-size: 0.875rem; color: #fff; line-height: 28px; text-align: center; border: 1px solid #fff; border-radius: 30px; }

	@include mobile { padding: 63px 15px 70px 15px; background: url('/assets/images/mobile/bg_main_company@2x.png') left top repeat;
		.recommend {
			.kongdoo {
				.say-hello {
					&:before { @include retina-sprite($sm-dq-left-02-group); }
					&:after { @include retina-sprite($sm-dq-right-02-group); }
				}
			}
		}
	}

	@include desktop { background-color: #26abbc;
		.layout-inner-contents { margin: 0 auto; padding: 75px 30px 89px 30px; width: $desktop-min-width; }

		.message { font-size: 1.500rem;
			em { margin-bottom: 20px; font-size: 3.000rem; }
		}

		.recommend { overflow: hidden; margin-top: 60px;
			.youtube { float: left; margin: 0px; height: 390px; width: 542px; }
			.kongdoo { margin: 0px; padding-top: 13px;
				.title { font-size: 3.500rem; }
				.say-hello { margin-top: 33px; font-size: 1.375rem; line-height: 1.455em;
					&:before { margin-top: -14px; @include sprite($sd-dq-left-02); }
					&:after { margin-bottom: 4px; @include sprite($sd-dq-right-02); }
						
					span { margin-bottom: 10px; }
				}
			}
		}

		.btn-more { margin-top: 47px; height: 44px; width: 196px; font-size: 1.250rem; font-weight: 500; line-height: 44px; border: 2px solid #fff; border-radius: 44px; }
	}
}



/* 회사 소개 */
body.company {

	.page-title { font-size: 1.563rem; font-weight: 700; }

	.intro { margin-top: 19px; font-size: 0.875rem; color: #666; text-align: center; line-height: 1.643em; }
	.youtube { margin-top: 35px; padding: 0 15px; height: 208px; }

	.kongdoo { color: #fff; text-align: center; 
		.title { font-size: 1.438rem; font-weight: 500; }
		.say-hello { margin-top: 22px; font-size: 0.750rem; line-height: 1.750em; }
		.btn-detail { margin-top: 35px; display: inline-block; height: 30px; width: 168px; font-size: 0.875rem; color: #fff; text-align: center; line-height: 30px; border: 1px solid #fff; border-radius: 30px; }
	}

	@include mobile {
		.layout-contents { padding-bottom: 30px; }

		.kongdoo { padding: 35px 0 40px 0; background: url('/assets/images/mobile/bg_main_company@2x.png') left top repeat; }
	}

	@include desktop {
		.page-title { font-size: 2.875rem; }

		.intro { margin-top: 23px; font-size: 1.250rem; font-weight: 300; line-height: 1.500em; }
		.youtube { margin: 55px auto 0 auto; height: 390px; width: 544px; }

		.kongdoo { padding: 45px 0 55px 0; min-width: $desktop-min-width; background: url('/assets/images/desktop/bg_main_company.png') left top repeat; 
			.title { font-size: 2.625rem; }
			.say-hello { margin-top: 18px; font-size: 1.125rem; line-height: 1.556em; }
			.btn-detail { margin-top: 45px; height: 44px; width: 196px; font-size: 1.250rem; font-weight: 500; line-height: 44px; border: 2px solid #fff; }
		}
	}
}



/* product */
body.product {

	/* header */
	.nugu-header { box-sizing: border-box; padding: 26px 0 0 0;
		.title { font-size: 1.688rem; font-weight: 400; color: #fff; line-height: 1.185em; text-align: center;
			em { color: #ed6627; }
			strong { display: block; margin: 3px auto 0 auto; text-indent: -9999px; }
		}
		.product-img { margin: 14px auto 0 auto; height: 354px; width: 320px; }
		.description { padding: 20px 0 16px 0; font-size: 0.750rem; color: #666; line-height: 1.667em; text-align: center; }
		.btns { text-align: center;
			a { display: inline-block; height: 30px; width: 168px; font-size: 0.875rem; color: #868686; text-align: center; line-height: 30px; border: 1px solid #b6b6b6; border-radius: 30px; }
		}

		@include mobile { height: auto; background: url('/assets/images/mobile/bg_product_header@2x.jpg') center top repeat-x; background-size: 320px 517px;
			.title {
				strong { @include retina-sprite($sm-txt-nugu-03-group); }
			}
			.btns {
				a { margin-top: 15px; }
			}
		}
		@include desktop { padding: 0; min-width: 1280px; background: url('/assets/images/desktop/bg_product_header.jpg') center top repeat-x;
			.layout-inner-contents { position: relative; box-sizing: border-box; margin: 0 auto; padding: 164px 0 0 80px; height: 920px; width: 1280px; }
			.title { position: relative; z-index: z("default") + 1; padding-left: 20px; font-size: 3.250rem; line-height: 1.308em; text-align: left;
				strong { margin: 14px 0 0 5px; @include sprite($sd-txt-nugu-03); }
			}
			.product-img { position: absolute; bottom: 0; right: 0; margin: 0; height: 870px; width: 860px; }
			.description { margin-top: 35px; padding: 20px 0 16px 25px; font-size: 1.000rem; color: #fff; line-height: 1.688em; text-align: left; }
			.btns { padding: 59px 0 0 25px; text-align: left;
				a { height: 44px; width: 196px; font-size: 1.250rem; font-weight: 500; color: #fff; line-height: 44px; border: 2px solid #fff; border-radius: 44px;
					+ a { margin-left: 16px; }
				}
			}
		}
	}



	/* featured */
	.featured-product {
		> .title { display: none; }
	}

	.list-featured-product {
		// 특장점 type 01
		.featured { text-align: center;
			.title { font-size: 1.563rem; font-weight: 500; color: #ed6627; }
			.description { font-size: 0.750rem; color: #666; line-height: 1.667em; 
				&:after { content: ''; display: block; margin: 0 auto; height: 1px; width: 50px; background-color: #999; }

				.guide { font-weight: 300;
					&:before { content: '* '; color: #ed6627; }
				}
			}
			.example {
				.commands { font-size: 1.313rem; font-weight: 300; color: #868686; }
				.answer { display: inline-block; position: relative; padding: 0 10px; font-size: 0.750rem; color: #fff; line-height: 33px; border-radius: 5px; background-color: #727272;
					&:before { content: ''; display: none; position: absolute; bottom: 1px; left: 0; }
					&:after { content: ''; display: none; position: absolute; bottom: 1px; right: 0; }

					&.left:before { display: block; }
					&.right:after { display: block; }
				}
			}
		}

		@include mobile {
			.featured { padding: 46px 0 246px 0; text-align: center;
				.title { }
				.description { margin-top: 9px;
					&:after { margin-top: 21px; }
				}
				.example { padding-top: 25px;
					.commands { }
					.answer { margin-top: 17px;
						&:before { left: -5px;  @include retina-sprite($sm-answer-left-group); }
						&:after { right: -5px;  @include retina-sprite($sm-answer-right-group); }
					}
				}

				&.voice-command { background: url('/assets/images/mobile/product_img02@2x.png') center bottom no-repeat; background-size: 232px 206px; }
				&.secretary { background: #f7f7f7 url('/assets/images/mobile/product_img03@2x.png') center bottom no-repeat; background-size: 218px 214px; }
				&.evolution { padding-bottom: 357px; background: url('/assets/images/mobile/product_img04@2x.png') center bottom no-repeat; background-size: 320px 330px; }
			}

		}
		@include desktop { margin: 0 auto; width: 1280px;
			> li { margin-top: 80px; background-color: #f7f7f7;
				&.bg-none { background-color: #fff; }
			}

			.featured { box-sizing: border-box; position: relative; height: 560px; text-align: left;
				.title { font-size: 2.875rem; line-height: 1.217em; }
				.description { margin-top: 27px; font-size: 1.000rem; line-height: 1.750em; 
					&:after { content: ''; display: block; position: absolute; bottom: 0; margin: 0; height: 1px; width: 70px; background-color: #999; }
				}
				.example {
					.commands { font-size: 2.500rem; line-height: 1.400em; }
					.answer { margin-top: 0px; padding: 0 25px; font-size: 1.063em; line-height: 66px; border-radius: 10px;
						&:before { left: -9px; bottom: 2px; @include sprite($sd-answer-left); }
						&:after { right: -9px; bottom: 2px; @include sprite($sd-answer-right); }
					}
				}

				&.voice-command { padding: 0 0 0 920px; background: url('/assets/images/desktop/product_img02.png') 80px bottom no-repeat;
					.featured-inner-contents { box-sizing: border-box; padding: 32px 80px 0 30px; height: 100%; background-color: #fff; }
					.example { position: absolute; bottom: 140px; right: 360px; padding-right: 30px; width: 290px; text-align: right;
						.answer { margin-top: 51px; }
					}
				}
				&.secretary { padding: 0 920px 0 0; text-align: right; background: url('/assets/images/desktop/product_img03.png') 786px bottom no-repeat;
					.featured-inner-contents { box-sizing: border-box; padding: 32px 30px 0 100px; height: 100%; background-color: #fff; }
					.description {
						&:after { left: 260px; }
					}
					.example { position: absolute; bottom: 140px; left: 390px; width: 350px; text-align: left;
						.answer { margin-top: 51px; }
					}
				}
				&.evolution { height: auto;
					.featured-inner-contents { margin: 0 auto; width: 1120px; text-align: center; height: 748px; background: url('/assets/images/desktop/product_img04.png') center bottom no-repeat; }
					.description {
						&:after { position: static; margin: 35px auto 0 auto; }
					}
					.example { position: absolute; bottom: 140px; left: 880px; text-align: left;
						.answer { margin-top: 51px; }
					}
				}
			}
		}


		// 특장점 type 02
		.function { position: relative; padding: 46px 0 0 0;
			figcaption { padding: 26px 15px 0 15px;
				.title { font-size: 1.563rem; font-weight: 500; color: #ed6627; }
				.description { margin-top: 17px; font-size: 0.750rem; color: #666; line-height: 1.667em;
					span { display: inline-block; font-size: 0.750rem; color: #666; line-height: 1.667em; }
					.guide { font-weight: 300;
						&:before { content: '* '; color: #ed6627; }
					}
				}
			}

			@include mobile {
				figcaption {
					.description {
						span {
							~ span { display: inline-block; margin-top: 5px; }
						}
					}
				}
			}

			@include desktop { margin: 0 auto; padding: 0; width: 1120px;
				figcaption { padding: 0; 
					.title { font-size: 2.875rem; line-height: 1.239em; }
					.description { margin-top: 23px; font-size: 1.000rem; line-height: 1.750em;
						span { display: inline-block; font-size: 1.000rem; line-height: 1.750em; }
						.guide { position: absolute; bottom: -54px; width: 500px; font-weight: 300;
							&:before { content: ''; display: inline-block; margin: -4px 5px 0 0; height: 4px; width: 4px; vertical-align: middle; background-color: #868686; }
						}
					}
				}

				&.sound {
					figcaption { position: absolute; bottom: 0; left: 0; width: 250px; }
				}

				&.design {
					figcaption { position: absolute; bottom: 0; left: 0; width: 280px; }
				}

				&.light {
					figcaption { position: absolute; bottom: 0; right: 0; width: 270px; }
				}
			}
		}

	}


	/* voice command */
	.voice-commands { overflow: hidden;
		.title { font-size: 1.438rem; font-weight: 300; color: #fff; line-height: 1.435em; text-align: center;
			.txt-nugu { display: inline-block; margin: -4px 6px 0 0; text-indent: -9999px; vertical-align: middle; background-color: transparent; }
		}
		.list-example {
			> li { position: relative; margin-bottom: 40px; padding: 9px 0 9px 65px; font-size: 0.750rem;
				&:before { content: ''; display: block; position: absolute; top: 50%; left: 0; }

				.command { font-weight: 500; color: #fff; }
				.answer { margin-top: 4px; font-weight: 300; color: #d9d9d9; }
			}
		}

		@include mobile { margin-top: 36px; padding: 44px 15px 10px 15px; background: url('/assets/images/mobile/bg_voice_commands@2x.jpg') center bottom no-repeat; background-size: cover;
			.title {
				.txt-nugu { @include retina-sprite($sm-txt-nugu-01-group); }
			}
			.list-example { margin-top: 26px;
				> li {
					&.icon01:before { margin-top: -$sm-icon-command01-height/2; @include retina-sprite($sm-icon-command01-group); }
					&.icon02:before { margin-top: -$sm-icon-command02-height/2; @include retina-sprite($sm-icon-command02-group); }
					&.icon03:before { margin-top: -$sm-icon-command03-height/2; @include retina-sprite($sm-icon-command03-group); }
					&.icon04:before { margin-top: -$sm-icon-command04-height/2; @include retina-sprite($sm-icon-command04-group); }
					&.icon05:before { margin-top: -$sm-icon-command05-height/2; @include retina-sprite($sm-icon-command05-group); }
					&.icon06:before { margin-top: -$sm-icon-command06-height/2; @include retina-sprite($sm-icon-command06-group); }
				}
			}
		}

		@include desktop { margin-top: 116px; background: url('/assets/images/desktop/bg_voice_commands.jpg') center bottom no-repeat; background-size: cover;
			.voice-commands-inner-contents { box-sizing: border-box; position: relative; margin: 0 auto; padding: 87px 0 0 0; height: 693px; width: 1120px; }

			.title { font-size: 2.875rem; line-height: 1.304em; text-align: left;
				.txt-nugu { margin: -4px 6px 0 0; @include sprite($sd-txt-nugu-01); }
			}

			.list-example { overflow: hidden; position: absolute; top: 200px; right: 0; width: 720px;
				> li { float: left; margin-bottom: 50px; padding: 0 0 0 30px; width: 330px; font-size: 1.063rem;
					&:before { position: static; margin-bottom: 6px; }

					.command { font-weight: 500; color: #fff; }
					.answer { margin-top: 5px; font-weight: 300; color: #d9d9d9; }

					&.icon01:before { @include sprite($sd-icon-command01); }
					&.icon02:before { @include sprite($sd-icon-command02); }
					&.icon03:before { @include sprite($sd-icon-command03); }
					&.icon04:before { @include sprite($sd-icon-command04); }
					&.icon05:before { @include sprite($sd-icon-command05); }
					&.icon06:before { @include sprite($sd-icon-command06); }
				}
			}
		}
	}


	/* 소개 영상 */
	.intro-video { box-sizing: border-box; margin-top: 50px; padding-top: 47px; height: 228px; text-align: center;
		.title { font-size: 1.438rem; font-weight: 500; color: #fff;
			.txt-nugu { display: inline-block; margin: -4px 6px 0 0; text-indent: -9999px; vertical-align: middle; background-color: transparent; }
		}

		.btn-play { display: block; margin: 32px auto 0 auto; text-indent: -9999px; }

		@include mobile { background: url('/assets/images/mobile/bg_intro_video@2x.jpg') center center no-repeat; background-size: cover;
			.title {
				.txt-nugu { @include retina-sprite($sm-txt-nugu-01-group); }
			}

			.btn-play { @include retina-sprite($sm-btn-play-02-group); }
		}

		@include desktop { margin: 100px auto 0 auto; padding-top: 154px; height: 560px; width: 1120px; background: url('/assets/images/desktop/bg_intro_video.jpg') center center no-repeat;
			.title { font-size: 3.625rem; font-weight: 300; 
				.txt-nugu { margin: -12px 6px 0 0; @include sprite($sd-txt-nugu-04); }
			}

			.btn-play { margin-top: 41px; @include sprite($sd-btn-play-02); }
		}
	}


	/* 활용하기 */
	.useful { text-align: center;
		.txt-nugu { display: inline-block; margin: -4px 2px 0 0; text-indent: -9999px; vertical-align: middle; background-color: transparent; }

		.title { font-size: 1.438rem; font-weight: 500; color: #666; }
		.description { margin-top: 15px; margin-bottom: 25px; font-size: 0.750rem; color: #666; line-height: 1.750em; }

		.useful-case {
			.inner { display: none; }
		}
		.guide { padding: 6px 15px 17px 15px; text-align: left;
			> li { position: relative; margin-top: 7px; padding-left: 6px; font-size: 0.688rem; font-weight: 300; color: #666; line-height: 1.455em;
				&:before { content: ''; display: block; position: absolute; top: 6px; left: 0; height: 2px; width: 2px; border-radius: 1px; background-color: #666; }
			}
		}
		.message { margin-top: 14px; font-size: 1.063rem; color: #666; line-height: 1.647em; }

		@include mobile { padding: 46px 0;
			.title {
				.txt-nugu { @include retina-sprite($sm-txt-nugu-05-group); }
			}

			.useful-case { margin: 0 15px; @include aspect-ratio(580, 2053); background: url('/assets/images/mobile/bg_useful@2x.jpg') center top no-repeat; background-size: 100%; }

			.message {
				.txt-nugu { @include retina-sprite($sm-txt-nugu-06-group); }
			}
		}

		@include desktop { margin: 0 auto; padding: 91px 0 100px 0; width: 1120px;
			.title { font-size: 2.875rem; font-weight: 300;
				.txt-nugu { margin-top: -12px; @include sprite($sd-txt-nugu-05); }
			}

			.description { margin-top: 25px; margin-bottom: 72px; font-size: 1.125rem; }
			.useful-case { @include aspect-ratio(1120, 3945); background: url('/assets/images/desktop/bg_useful.jpg') center top no-repeat; background-size: 100%; }
			.guide { padding: 37px 0 53px 0; 
				> li { margin-top: 0; padding-left: 11px; font-size: 1.000rem; line-height: 1.625em;
					&:before { top: 12px; height: 4px; width: 4px; border-radius: 2px; }
				}
			}
			.message { margin-top: 0px; font-size: 1.875rem; line-height: 1.667em;
				.txt-nugu { margin-top: -8px; @include sprite($sd-txt-nugu-06); }

				+ .message {
					&:after { content: ''; display: block; margin: 60px auto 0 auto; height: 1px; width: 70px; background-color: #999; }
				}
			}
		}
	}


	/* 선구매 혜택 */
	.benefit-pre-order { box-sizing: border-box; text-align: center;
		.title { font-size: 0.938rem; font-weight: 400; color: #fff; }
		.price { margin-top: 5px; font-family: $font-roboto-stack; font-size: 1.875rem; font-weight: 300; color: #ed6627;
			.unit { font-size: 0.750rem; font-weight: 400; color: #fff; }
		}
		.description { margin-top: 40px; font-size: 0.750rem; color: #fff; line-height: 1.750em; }
		.btns { padding-top: 10px;
			a { display: block; margin: 15px auto 0 auto; height: 30px; width: 168px; font-size: 0.875rem; color: #fff; text-align: center; line-height: 30px; border: 1px solid #fff; border-radius: 30px;  }
		}

		@include mobile { padding: 48px 0 0 0; height: 365px; background: url('/assets/images/mobile/bg_pre_order@2x.jpg') center center no-repeat; background-size: cover;

		}

		@include desktop { margin: 0 auto; padding: 96px 0 0 0; height: 503px; background: url('/assets/images/desktop/bg_pre_order.jpg') center center no-repeat; background-size: cover;
			.title { font-size: 1.500rem; }
			.price { margin-top: 0px; font-size: 3.750rem;
				.unit { font-size: 1.250rem; }
			}
			.description { margin-top: 18px; font-size: 1.125rem; line-height: 1.556em; }
			.btns { padding-top: 75px;
				a { display: inline-block; margin: 0; height: 44px; width: 196px; font-size: 1.250rem; font-weight: 500; line-height: 44px; border: 2px solid #fff; border-radius: 44px; 
					+ a { margin-left: 16px; }
				}
			}
		}
	}



	/* 모바일 앱 */
	.shortcut-apps { text-align: center; background-color: #f7f7f7;
		.title { font-family: $font-roboto-stack; font-size: 1.563rem; font-weight: 300; color: #666;
			.txt-nugu { display: inline-block; margin: -4px 6px 0 0; text-indent: -9999px; vertical-align: middle; background-color: transparent; }
		}
		.description { margin-top: 9px; font-size: 0.750rem; color: #666; line-height: 1.750em; }
		.screenshot { margin-top: 25px;
			figcaption { display: none; }
		}
		.how-to-download { margin-top: 28px; font-size: 0.688rem; color: #666;
			.btns { padding: 12px 0 11px 0;
				a { display: inline-block; text-indent: -9999px; }
			}
		}

		@include mobile { padding: 46px 15px 48px 15px;
			.title {
				.txt-nugu { @include retina-sprite($sm-txt-nugu-05-group); }
			}

			.how-to-download {
				.btns {
					.btn-ios { @include retina-sprite($sm-btn-ios-group); }
					.btn-android { margin-left: 7px; @include retina-sprite($sm-btn-android-group); }
				}
			}
		}

		@include desktop { padding: 90px 0 97px 0;
			.title { font-size: 2.875rem;
				.txt-nugu { margin: -8px 6px 0 0; @include sprite($sd-txt-nugu-05); }
			}
			.description { margin-top: 23px; font-size: 1.125rem; }
			.screenshot { margin-top: 70px; }
			.how-to-download { margin-top: 55px; font-size: 1.375rem;
				.btns { padding: 25px 0 22px 0;
					.btn-ios { @include sprite($sd-btn-ios); }
					.btn-android { margin-left: 16px; @include sprite($sd-btn-android); }
				}
			}
		}
	}


	/* 누구를 시작하는 방법 */
	.get-started { text-align: center;
		.title { font-size: 1.438rem; font-weight: 400; color: #666; line-height: 1.391em;
			.txt-nugu { display: inline-block; margin: -4px 6px 0 0; text-indent: -9999px; vertical-align: middle; background-color: transparent; }
		}

		.process { margin-top: 26px;
			> li { padding: 18px 0; font-size: 0.750rem; color: #fff;
				&:before { content: attr(index); display: block; margin-bottom: 5px; font-family: $font-roboto-stack; font-size: 1.563rem; line-height: 1em; }

				&.index01 { background-color: #a6a6a6; }
				&.index02 { background-color: #8c8c8c; }
				&.index03 { background-color: #737373; }
				&.index04 { background-color: #595959; }
				&.index05 { background-color: #404040; }
			}

		}

		@include mobile { padding: 43px 15px 50px 15px;
			.title {
				.txt-nugu { @include retina-sprite($sm-txt-nugu-05-group); }
			}
		}

		@include desktop { padding: 88px 0 100px 0;
			.title { font-size: 2.875rem; font-weight: 300;
				.txt-nugu { margin: -8px 0px 0 0; @include sprite($sd-txt-nugu-05); }
			}

			.process { overflow: hidden; margin: 70px auto 0 auto; width: 1120px;
				> li { float: left; padding: 75px 0 56px 0; min-height: 80px; width: 20%; font-size: 1.000rem;
					&:before { margin-bottom: 8px; font-size: 2.000rem; }
				}
			}
		}
	}


	/*  제품 사양 */
	.nugu-spec { background-color: #5f5f5f;
		.title { display: none; }

		.list-spec { overflow: hidden;
			> li { float: left; padding-top: 20px; width: 50%; font-size: 0.688rem; font-weight: 500; color: #fff;
				.title { display: block; font-weight: 500; line-height: 1.455em; }
				p { margin-top: 8px; font-weight: 300; line-height: 1.455em; }
			}
		}

		@include mobile { padding: 29px 15px 47px 15px; 

		}

		@include desktop { padding: 0;
			.nugu-spec-inner-contents { margin: 0 auto; padding: 82px 0 94px 0; width: 1120px; background: url('/assets/images/desktop/bg_spec.png') right bottom no-repeat; }

			.list-spec {
				> li { padding-top: 42px; width: 380px; font-size: 1.375rem;
					.title { }
					p { margin-top: 23px; font-size: 1.000rem; line-height: 1.625em; }
				}
			}
		}
	}


	/* 유의사항 */
	.product-notice { color: #919191; background-color: #252525;
		.title { font-size: 0.688rem; font-weight: 500; }
		.list-notice {
			> li { position: relative; margin-top: 8px; padding: 0 0 0 5px; font-size: 0.688rem; font-weight: 300; line-height: 1.455em;
				&:before { content: ''; display: block; position: absolute; top: 7px; left: 0; height: 2px; width: 2px; background-color: #919191; }
			}
		}

		.btns { padding-top: 10px;
			a { display: block; margin: 15px auto 0 auto; height: 30px; width: 168px; font-size: 0.875rem; color: #929292; text-align: center; line-height: 30px; border: 1px solid #929292; border-radius: 30px;  }
		}

		@include mobile { padding: 32px 15px 50px 15px;

		}

		@include desktop { padding: 52px 0 88px 0; color: #b1b1b1;
			.product-notice-inner-contents { position: relative; box-sizing: border-box; margin: 0 auto; padding: 0 0 0 96px; width: 1120px; }
			.title { position: absolute; top: 7px; left: 0; font-size: 0.875rem; font-weight: 700; }
			.list-notice {
				> li { margin-top: 0px; padding: 0 0 0 12px; font-size: 0.875rem; line-height: 2.143em;
					&:before { top: 13px; height: 3px; width: 3px; }
				}
			}

			.btns { position: absolute; top: 0; right: 0; paddig: 0;
				a { margin: 0; height: 44px; width: 276px; font-size: 1.250rem; line-height: 44px; border: 2px solid #929292;
					+ a { margin-top: 10px; }
				}
			}
		}
	}

}





