

body { background-color: #fff; }

@include mobile {
	.only-desktop { display: none; }
	img { width: 100%; }
}

@include desktop {
	.only-mobile { display: none; }
}


/* header */
.layout-header { position: fixed; top: 0; right: 0; left: 0; z-index: z("gnb"); height: 50px; border-bottom: 1px solid #ddd; background-color: #fff;
	.btn-menu { position: absolute; top: 50%; left: 10px; margin-top: -$sm-btn-menus-height/2; }
	.btn-nugu { position: absolute; top: 50%; margin-top: -$sm-btn-nugu-height/2; }
	.btn-login { position: absolute; top: 50%; right: 10px; margin-top: -$sm-btn-nugu-height/2; }

	@include mobile {
		.btn-nugu { left: 50%; margin-left: -$sm-btn-nugu-width/2; }
	}

	@include desktop { height: 100px; min-width: $desktop-min-width; 
		.btn-menu { display: none; }
		.btn-nugu { left: 40px; margin-top: -$sd-btn-nugu-height/2; }
		.btn-login { right: 30px; margin-top: -$sd-btn-nugu-height/2; }
	}
}


/* contents */
.layout-contents { margin: 51px auto 0 auto; padding-bottom: 60px;
	.page-title { font-family: $font-roboto-stack; font-size: 1.500rem; font-weight: 500; color: #252525; text-align: center; }
	.hidden-title { display: none; }

	@include mobile { padding-top: 24px; }

	@include desktop { margin-top: 101px; padding-bottom: 120px; width: $desktop-min-width; 
		.page-title { display: block; padding-top: 50px; font-size: 2.750rem; font-weight: 500; color: #252525;
			body.whatsnew & { display: none; }
		}
	}
}


/* footer */
.layout-footer { padding: 35px 0 46px 0; text-align: center; border-top: 1px solid #ddd;
	@include desktop { padding: 80px 0 80px 0; min-width: $desktop-min-width; }

	.address { font-size: 0.625rem; font-weight: 300; color: #868686; line-height: 1.400em;
		strong { display: block; font-weight: 300; }
	}
	.copyright { font-family: $font-roboto-stack; font-size: 0.625rem; font-weight: 300; color: #ccc; }

	@include desktop {
		.address { font-size: 0.875rem;
			strong { display: inline; }
		}
		.copyright { font-size: 0.750rem; }
	}
}