

body { background-color: #fff; }

@include mobile {
	.only-desktop { display: none; }
	img { width: 100%; }
}

@include desktop {
	.only-mobile { display: none; }
}


/* header */
.layout-header { position: relative; height: 50px; border-bottom: 1px solid #ddd;
	.btn-menu { position: absolute; top: 50%; left: 10px; margin-top: -$sm-btn-menus-height/2; }
	.btn-nugu { position: absolute; top: 50%; margin-top: -$sm-btn-nugu-height/2; }
	.btn-login { position: absolute; top: 50%; right: 10px; margin-top: -$sm-btn-nugu-height/2; }

	@include mobile {
		.btn-nugu { left: 50%; margin-left: -$sm-btn-nugu-width/2; }
	}

	@include desktop { height: 100px; min-width: $desktop-min-width; 
		.btn-menu { display: none; }
		.btn-nugu { left: 40px; margin-top: -$sd-btn-nugu-height/2; }
		.btn-login { right: 30px; margin-top: -$sd-btn-nugu-height/2; }
	}
}


/* contents */
.layout-contents { margin: 0 auto; padding-bottom: 60px;
	.page-title { margin-top: 24px; font-family: $font-roboto-stack; font-size: 1.500rem; font-weight: 500; color: #252525; text-align: center; }
	.hidden-title { display: none; }

	@include desktop { padding-bottom: 120px; width: $desktop-min-width; 
		.page-title { display: none; }
	}
}


/* footer */
.layout-footer { padding: 30px 0 0 0; text-align: center; border-top: 1px solid #ddd;
	@include desktop { padding: 80px 0 0 0; min-width: $desktop-min-width; }
}