/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sm-btn-login-name: 'sm-btn_login';
$sm-btn-login-x: 0px;
$sm-btn-login-y: 34px;
$sm-btn-login-offset-x: 0px;
$sm-btn-login-offset-y: -34px;
$sm-btn-login-width: 30px;
$sm-btn-login-height: 30px;
$sm-btn-login-total-width: 94px;
$sm-btn-login-total-height: 81px;
$sm-btn-login-image: '../images/mobile/sprites.png';
$sm-btn-login: (0px, 34px, 0px, -34px, 30px, 30px, 94px, 81px, '../images/mobile/sprites.png', 'sm-btn_login', );
$sm-btn-menus-name: 'sm-btn_menus';
$sm-btn-menus-x: 46px;
$sm-btn-menus-y: 0px;
$sm-btn-menus-offset-x: -46px;
$sm-btn-menus-offset-y: 0px;
$sm-btn-menus-width: 30px;
$sm-btn-menus-height: 30px;
$sm-btn-menus-total-width: 94px;
$sm-btn-menus-total-height: 81px;
$sm-btn-menus-image: '../images/mobile/sprites.png';
$sm-btn-menus: (46px, 0px, -46px, 0px, 30px, 30px, 94px, 81px, '../images/mobile/sprites.png', 'sm-btn_menus', );
$sm-btn-nugu-name: 'sm-btn_nugu';
$sm-btn-nugu-x: 0px;
$sm-btn-nugu-y: 0px;
$sm-btn-nugu-offset-x: 0px;
$sm-btn-nugu-offset-y: 0px;
$sm-btn-nugu-width: 40px;
$sm-btn-nugu-height: 28px;
$sm-btn-nugu-total-width: 94px;
$sm-btn-nugu-total-height: 81px;
$sm-btn-nugu-image: '../images/mobile/sprites.png';
$sm-btn-nugu: (0px, 0px, 0px, 0px, 40px, 28px, 94px, 81px, '../images/mobile/sprites.png', 'sm-btn_nugu', );
$sm-icon-hit-name: 'sm-icon_hit';
$sm-icon-hit-x: 0px;
$sm-icon-hit-y: 70px;
$sm-icon-hit-offset-x: 0px;
$sm-icon-hit-offset-y: -70px;
$sm-icon-hit-width: 13px;
$sm-icon-hit-height: 11px;
$sm-icon-hit-total-width: 94px;
$sm-icon-hit-total-height: 81px;
$sm-icon-hit-image: '../images/mobile/sprites.png';
$sm-icon-hit: (0px, 70px, 0px, -70px, 13px, 11px, 94px, 81px, '../images/mobile/sprites.png', 'sm-icon_hit', );
$sm-icon-new-name: 'sm-icon_new';
$sm-icon-new-x: 82px;
$sm-icon-new-y: 0px;
$sm-icon-new-offset-x: -82px;
$sm-icon-new-offset-y: 0px;
$sm-icon-new-width: 12px;
$sm-icon-new-height: 12px;
$sm-icon-new-total-width: 94px;
$sm-icon-new-total-height: 81px;
$sm-icon-new-image: '../images/mobile/sprites.png';
$sm-icon-new: (82px, 0px, -82px, 0px, 12px, 12px, 94px, 81px, '../images/mobile/sprites.png', 'sm-icon_new', );
$sm-icon-recommend-name: 'sm-icon_recommend';
$sm-icon-recommend-x: 82px;
$sm-icon-recommend-y: 18px;
$sm-icon-recommend-offset-x: -82px;
$sm-icon-recommend-offset-y: -18px;
$sm-icon-recommend-width: 9px;
$sm-icon-recommend-height: 11px;
$sm-icon-recommend-total-width: 94px;
$sm-icon-recommend-total-height: 81px;
$sm-icon-recommend-image: '../images/mobile/sprites.png';
$sm-icon-recommend: (82px, 18px, -82px, -18px, 9px, 11px, 94px, 81px, '../images/mobile/sprites.png', 'sm-icon_recommend', );
$sm-icon-search-name: 'sm-icon_search';
$sm-icon-search-x: 46px;
$sm-icon-search-y: 36px;
$sm-icon-search-offset-x: -46px;
$sm-icon-search-offset-y: -36px;
$sm-icon-search-width: 16px;
$sm-icon-search-height: 16px;
$sm-icon-search-total-width: 94px;
$sm-icon-search-total-height: 81px;
$sm-icon-search-image: '../images/mobile/sprites.png';
$sm-icon-search: (46px, 36px, -46px, -36px, 16px, 16px, 94px, 81px, '../images/mobile/sprites.png', 'sm-icon_search', );
$sm-btn-login-2x-name: 'sm-btn_login@2x';
$sm-btn-login-2x-x: 0px;
$sm-btn-login-2x-y: 68px;
$sm-btn-login-2x-offset-x: 0px;
$sm-btn-login-2x-offset-y: -68px;
$sm-btn-login-2x-width: 60px;
$sm-btn-login-2x-height: 60px;
$sm-btn-login-2x-total-width: 188px;
$sm-btn-login-2x-total-height: 162px;
$sm-btn-login-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-login-2x: (0px, 68px, 0px, -68px, 60px, 60px, 188px, 162px, '../images/mobile/sprites@2x.png', 'sm-btn_login@2x', );
$sm-btn-menus-2x-name: 'sm-btn_menus@2x';
$sm-btn-menus-2x-x: 92px;
$sm-btn-menus-2x-y: 0px;
$sm-btn-menus-2x-offset-x: -92px;
$sm-btn-menus-2x-offset-y: 0px;
$sm-btn-menus-2x-width: 60px;
$sm-btn-menus-2x-height: 60px;
$sm-btn-menus-2x-total-width: 188px;
$sm-btn-menus-2x-total-height: 162px;
$sm-btn-menus-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-menus-2x: (92px, 0px, -92px, 0px, 60px, 60px, 188px, 162px, '../images/mobile/sprites@2x.png', 'sm-btn_menus@2x', );
$sm-btn-nugu-2x-name: 'sm-btn_nugu@2x';
$sm-btn-nugu-2x-x: 0px;
$sm-btn-nugu-2x-y: 0px;
$sm-btn-nugu-2x-offset-x: 0px;
$sm-btn-nugu-2x-offset-y: 0px;
$sm-btn-nugu-2x-width: 80px;
$sm-btn-nugu-2x-height: 56px;
$sm-btn-nugu-2x-total-width: 188px;
$sm-btn-nugu-2x-total-height: 162px;
$sm-btn-nugu-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-nugu-2x: (0px, 0px, 0px, 0px, 80px, 56px, 188px, 162px, '../images/mobile/sprites@2x.png', 'sm-btn_nugu@2x', );
$sm-icon-hit-2x-name: 'sm-icon_hit@2x';
$sm-icon-hit-2x-x: 0px;
$sm-icon-hit-2x-y: 140px;
$sm-icon-hit-2x-offset-x: 0px;
$sm-icon-hit-2x-offset-y: -140px;
$sm-icon-hit-2x-width: 26px;
$sm-icon-hit-2x-height: 22px;
$sm-icon-hit-2x-total-width: 188px;
$sm-icon-hit-2x-total-height: 162px;
$sm-icon-hit-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-hit-2x: (0px, 140px, 0px, -140px, 26px, 22px, 188px, 162px, '../images/mobile/sprites@2x.png', 'sm-icon_hit@2x', );
$sm-icon-new-2x-name: 'sm-icon_new@2x';
$sm-icon-new-2x-x: 164px;
$sm-icon-new-2x-y: 0px;
$sm-icon-new-2x-offset-x: -164px;
$sm-icon-new-2x-offset-y: 0px;
$sm-icon-new-2x-width: 24px;
$sm-icon-new-2x-height: 24px;
$sm-icon-new-2x-total-width: 188px;
$sm-icon-new-2x-total-height: 162px;
$sm-icon-new-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-new-2x: (164px, 0px, -164px, 0px, 24px, 24px, 188px, 162px, '../images/mobile/sprites@2x.png', 'sm-icon_new@2x', );
$sm-icon-recommend-2x-name: 'sm-icon_recommend@2x';
$sm-icon-recommend-2x-x: 164px;
$sm-icon-recommend-2x-y: 36px;
$sm-icon-recommend-2x-offset-x: -164px;
$sm-icon-recommend-2x-offset-y: -36px;
$sm-icon-recommend-2x-width: 18px;
$sm-icon-recommend-2x-height: 22px;
$sm-icon-recommend-2x-total-width: 188px;
$sm-icon-recommend-2x-total-height: 162px;
$sm-icon-recommend-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-recommend-2x: (164px, 36px, -164px, -36px, 18px, 22px, 188px, 162px, '../images/mobile/sprites@2x.png', 'sm-icon_recommend@2x', );
$sm-icon-search-2x-name: 'sm-icon_search@2x';
$sm-icon-search-2x-x: 92px;
$sm-icon-search-2x-y: 72px;
$sm-icon-search-2x-offset-x: -92px;
$sm-icon-search-2x-offset-y: -72px;
$sm-icon-search-2x-width: 32px;
$sm-icon-search-2x-height: 32px;
$sm-icon-search-2x-total-width: 188px;
$sm-icon-search-2x-total-height: 162px;
$sm-icon-search-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-search-2x: (92px, 72px, -92px, -72px, 32px, 32px, 188px, 162px, '../images/mobile/sprites@2x.png', 'sm-icon_search@2x', );
$spritesheet-width: 94px;
$spritesheet-height: 81px;
$spritesheet-image: '../images/mobile/sprites.png';
$spritesheet-sprites: ($sm-btn-login, $sm-btn-menus, $sm-btn-nugu, $sm-icon-hit, $sm-icon-new, $sm-icon-recommend, $sm-icon-search, );
$spritesheet: (94px, 81px, '../images/mobile/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 188px;
$retina-spritesheet-height: 162px;
$retina-spritesheet-image: '../images/mobile/sprites@2x.png';
$retina-spritesheet-sprites: ($sm-btn-login-2x, $sm-btn-menus-2x, $sm-btn-nugu-2x, $sm-icon-hit-2x, $sm-icon-new-2x, $sm-icon-recommend-2x, $sm-icon-search-2x, );
$retina-spritesheet: (188px, 162px, '../images/mobile/sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sm-btn-login-group-name: 'sm-btn_login';
$sm-btn-login-group: ('sm-btn_login', $sm-btn-login, $sm-btn-login-2x, );
$sm-btn-menus-group-name: 'sm-btn_menus';
$sm-btn-menus-group: ('sm-btn_menus', $sm-btn-menus, $sm-btn-menus-2x, );
$sm-btn-nugu-group-name: 'sm-btn_nugu';
$sm-btn-nugu-group: ('sm-btn_nugu', $sm-btn-nugu, $sm-btn-nugu-2x, );
$sm-icon-hit-group-name: 'sm-icon_hit';
$sm-icon-hit-group: ('sm-icon_hit', $sm-icon-hit, $sm-icon-hit-2x, );
$sm-icon-new-group-name: 'sm-icon_new';
$sm-icon-new-group: ('sm-icon_new', $sm-icon-new, $sm-icon-new-2x, );
$sm-icon-recommend-group-name: 'sm-icon_recommend';
$sm-icon-recommend-group: ('sm-icon_recommend', $sm-icon-recommend, $sm-icon-recommend-2x, );
$sm-icon-search-group-name: 'sm-icon_search';
$sm-icon-search-group: ('sm-icon_search', $sm-icon-search, $sm-icon-search-2x, );
$retina-groups: ($sm-btn-login-group, $sm-btn-menus-group, $sm-btn-nugu-group, $sm-icon-hit-group, $sm-icon-new-group, $sm-icon-recommend-group, $sm-icon-search-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
