/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sd-btn-first-name: 'sd-btn_first';
$sd-btn-first-x: 86px;
$sd-btn-first-y: 30px;
$sd-btn-first-offset-x: -86px;
$sd-btn-first-offset-y: -30px;
$sd-btn-first-width: 23px;
$sd-btn-first-height: 23px;
$sd-btn-first-total-width: 139px;
$sd-btn-first-total-height: 122px;
$sd-btn-first-image: '../images/desktop/sprites.png';
$sd-btn-first: (86px, 30px, -86px, -30px, 23px, 23px, 139px, 122px, '../images/desktop/sprites.png', 'sd-btn_first', );
$sd-btn-last-name: 'sd-btn_last';
$sd-btn-last-x: 116px;
$sd-btn-last-y: 0px;
$sd-btn-last-offset-x: -116px;
$sd-btn-last-offset-y: 0px;
$sd-btn-last-width: 23px;
$sd-btn-last-height: 23px;
$sd-btn-last-total-width: 139px;
$sd-btn-last-total-height: 122px;
$sd-btn-last-image: '../images/desktop/sprites.png';
$sd-btn-last: (116px, 0px, -116px, 0px, 23px, 23px, 139px, 122px, '../images/desktop/sprites.png', 'sd-btn_last', );
$sd-btn-login-name: 'sd-btn_login';
$sd-btn-login-x: 0px;
$sd-btn-login-y: 62px;
$sd-btn-login-offset-x: 0px;
$sd-btn-login-offset-y: -62px;
$sd-btn-login-width: 60px;
$sd-btn-login-height: 60px;
$sd-btn-login-total-width: 139px;
$sd-btn-login-total-height: 122px;
$sd-btn-login-image: '../images/desktop/sprites.png';
$sd-btn-login: (0px, 62px, 0px, -62px, 60px, 60px, 139px, 122px, '../images/desktop/sprites.png', 'sd-btn_login', );
$sd-btn-next-name: 'sd-btn_next';
$sd-btn-next-x: 86px;
$sd-btn-next-y: 59px;
$sd-btn-next-offset-x: -86px;
$sd-btn-next-offset-y: -59px;
$sd-btn-next-width: 23px;
$sd-btn-next-height: 23px;
$sd-btn-next-total-width: 139px;
$sd-btn-next-total-height: 122px;
$sd-btn-next-image: '../images/desktop/sprites.png';
$sd-btn-next: (86px, 59px, -86px, -59px, 23px, 23px, 139px, 122px, '../images/desktop/sprites.png', 'sd-btn_next', );
$sd-btn-nugu-name: 'sd-btn_nugu';
$sd-btn-nugu-x: 0px;
$sd-btn-nugu-y: 0px;
$sd-btn-nugu-offset-x: 0px;
$sd-btn-nugu-offset-y: 0px;
$sd-btn-nugu-width: 80px;
$sd-btn-nugu-height: 56px;
$sd-btn-nugu-total-width: 139px;
$sd-btn-nugu-total-height: 122px;
$sd-btn-nugu-image: '../images/desktop/sprites.png';
$sd-btn-nugu: (0px, 0px, 0px, 0px, 80px, 56px, 139px, 122px, '../images/desktop/sprites.png', 'sd-btn_nugu', );
$sd-btn-prev-name: 'sd-btn_prev';
$sd-btn-prev-x: 86px;
$sd-btn-prev-y: 88px;
$sd-btn-prev-offset-x: -86px;
$sd-btn-prev-offset-y: -88px;
$sd-btn-prev-width: 23px;
$sd-btn-prev-height: 23px;
$sd-btn-prev-total-width: 139px;
$sd-btn-prev-total-height: 122px;
$sd-btn-prev-image: '../images/desktop/sprites.png';
$sd-btn-prev: (86px, 88px, -86px, -88px, 23px, 23px, 139px, 122px, '../images/desktop/sprites.png', 'sd-btn_prev', );
$sd-icon-detail-name: 'sd-icon_detail';
$sd-icon-detail-x: 116px;
$sd-icon-detail-y: 29px;
$sd-icon-detail-offset-x: -116px;
$sd-icon-detail-offset-y: -29px;
$sd-icon-detail-width: 14px;
$sd-icon-detail-height: 26px;
$sd-icon-detail-total-width: 139px;
$sd-icon-detail-total-height: 122px;
$sd-icon-detail-image: '../images/desktop/sprites.png';
$sd-icon-detail: (116px, 29px, -116px, -29px, 14px, 26px, 139px, 122px, '../images/desktop/sprites.png', 'sd-icon_detail', );
$sd-icon-down-name: 'sd-icon_down';
$sd-icon-down-x: 116px;
$sd-icon-down-y: 61px;
$sd-icon-down-offset-x: -116px;
$sd-icon-down-offset-y: -61px;
$sd-icon-down-width: 22px;
$sd-icon-down-height: 14px;
$sd-icon-down-total-width: 139px;
$sd-icon-down-total-height: 122px;
$sd-icon-down-image: '../images/desktop/sprites.png';
$sd-icon-down: (116px, 61px, -116px, -61px, 22px, 14px, 139px, 122px, '../images/desktop/sprites.png', 'sd-icon_down', );
$sd-icon-new-name: 'sd-icon_new';
$sd-icon-new-x: 116px;
$sd-icon-new-y: 101px;
$sd-icon-new-offset-x: -116px;
$sd-icon-new-offset-y: -101px;
$sd-icon-new-width: 16px;
$sd-icon-new-height: 16px;
$sd-icon-new-total-width: 139px;
$sd-icon-new-total-height: 122px;
$sd-icon-new-image: '../images/desktop/sprites.png';
$sd-icon-new: (116px, 101px, -116px, -101px, 16px, 16px, 139px, 122px, '../images/desktop/sprites.png', 'sd-icon_new', );
$sd-icon-recommend-02-name: 'sd-icon_recommend_02';
$sd-icon-recommend-02-x: 66px;
$sd-icon-recommend-02-y: 62px;
$sd-icon-recommend-02-offset-x: -66px;
$sd-icon-recommend-02-offset-y: -62px;
$sd-icon-recommend-02-width: 14px;
$sd-icon-recommend-02-height: 12px;
$sd-icon-recommend-02-total-width: 139px;
$sd-icon-recommend-02-total-height: 122px;
$sd-icon-recommend-02-image: '../images/desktop/sprites.png';
$sd-icon-recommend-02: (66px, 62px, -66px, -62px, 14px, 12px, 139px, 122px, '../images/desktop/sprites.png', 'sd-icon_recommend_02', );
$sd-icon-search-name: 'sd-icon_search';
$sd-icon-search-x: 86px;
$sd-icon-search-y: 0px;
$sd-icon-search-offset-x: -86px;
$sd-icon-search-offset-y: 0px;
$sd-icon-search-width: 24px;
$sd-icon-search-height: 24px;
$sd-icon-search-total-width: 139px;
$sd-icon-search-total-height: 122px;
$sd-icon-search-image: '../images/desktop/sprites.png';
$sd-icon-search: (86px, 0px, -86px, 0px, 24px, 24px, 139px, 122px, '../images/desktop/sprites.png', 'sd-icon_search', );
$sd-icon-up-name: 'sd-icon_up';
$sd-icon-up-x: 116px;
$sd-icon-up-y: 81px;
$sd-icon-up-offset-x: -116px;
$sd-icon-up-offset-y: -81px;
$sd-icon-up-width: 22px;
$sd-icon-up-height: 14px;
$sd-icon-up-total-width: 139px;
$sd-icon-up-total-height: 122px;
$sd-icon-up-image: '../images/desktop/sprites.png';
$sd-icon-up: (116px, 81px, -116px, -81px, 22px, 14px, 139px, 122px, '../images/desktop/sprites.png', 'sd-icon_up', );
$spritesheet-width: 139px;
$spritesheet-height: 122px;
$spritesheet-image: '../images/desktop/sprites.png';
$spritesheet-sprites: ($sd-btn-first, $sd-btn-last, $sd-btn-login, $sd-btn-next, $sd-btn-nugu, $sd-btn-prev, $sd-icon-detail, $sd-icon-down, $sd-icon-new, $sd-icon-recommend-02, $sd-icon-search, $sd-icon-up, );
$spritesheet: (139px, 122px, '../images/desktop/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
