/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sm-btn-clear-name: 'sm-btn_clear';
$sm-btn-clear-x: 316px;
$sm-btn-clear-y: 28px;
$sm-btn-clear-offset-x: -316px;
$sm-btn-clear-offset-y: -28px;
$sm-btn-clear-width: 44px;
$sm-btn-clear-height: 44px;
$sm-btn-clear-total-width: 390px;
$sm-btn-clear-total-height: 202px;
$sm-btn-clear-image: '../images/mobile/sprites.png';
$sm-btn-clear: (316px, 28px, -316px, -28px, 44px, 44px, 390px, 202px, '../images/mobile/sprites.png', 'sm-btn_clear', );
$sm-btn-fileupload-name: 'sm-btn_fileupload';
$sm-btn-fileupload-x: 246px;
$sm-btn-fileupload-y: 116px;
$sm-btn-fileupload-offset-x: -246px;
$sm-btn-fileupload-offset-y: -116px;
$sm-btn-fileupload-width: 32px;
$sm-btn-fileupload-height: 32px;
$sm-btn-fileupload-total-width: 390px;
$sm-btn-fileupload-total-height: 202px;
$sm-btn-fileupload-image: '../images/mobile/sprites.png';
$sm-btn-fileupload: (246px, 116px, -246px, -116px, 32px, 32px, 390px, 202px, '../images/mobile/sprites.png', 'sm-btn_fileupload', );
$sm-btn-list-name: 'sm-btn_list';
$sm-btn-list-x: 208px;
$sm-btn-list-y: 28px;
$sm-btn-list-offset-x: -208px;
$sm-btn-list-offset-y: -28px;
$sm-btn-list-width: 48px;
$sm-btn-list-height: 48px;
$sm-btn-list-total-width: 390px;
$sm-btn-list-total-height: 202px;
$sm-btn-list-image: '../images/mobile/sprites.png';
$sm-btn-list: (208px, 28px, -208px, -28px, 48px, 48px, 390px, 202px, '../images/mobile/sprites.png', 'sm-btn_list', );
$sm-btn-login-name: 'sm-btn_login';
$sm-btn-login-x: 322px;
$sm-btn-login-y: 116px;
$sm-btn-login-offset-x: -322px;
$sm-btn-login-offset-y: -116px;
$sm-btn-login-width: 30px;
$sm-btn-login-height: 30px;
$sm-btn-login-total-width: 390px;
$sm-btn-login-total-height: 202px;
$sm-btn-login-image: '../images/mobile/sprites.png';
$sm-btn-login: (322px, 116px, -322px, -116px, 30px, 30px, 390px, 202px, '../images/mobile/sprites.png', 'sm-btn_login', );
$sm-btn-menus-name: 'sm-btn_menus';
$sm-btn-menus-x: 358px;
$sm-btn-menus-y: 116px;
$sm-btn-menus-offset-x: -358px;
$sm-btn-menus-offset-y: -116px;
$sm-btn-menus-width: 30px;
$sm-btn-menus-height: 30px;
$sm-btn-menus-total-width: 390px;
$sm-btn-menus-total-height: 202px;
$sm-btn-menus-image: '../images/mobile/sprites.png';
$sm-btn-menus: (358px, 116px, -358px, -116px, 30px, 30px, 390px, 202px, '../images/mobile/sprites.png', 'sm-btn_menus', );
$sm-btn-nugu-name: 'sm-btn_nugu';
$sm-btn-nugu-x: 208px;
$sm-btn-nugu-y: 82px;
$sm-btn-nugu-offset-x: -208px;
$sm-btn-nugu-offset-y: -82px;
$sm-btn-nugu-width: 40px;
$sm-btn-nugu-height: 28px;
$sm-btn-nugu-total-width: 390px;
$sm-btn-nugu-total-height: 202px;
$sm-btn-nugu-image: '../images/mobile/sprites.png';
$sm-btn-nugu: (208px, 82px, -208px, -82px, 40px, 28px, 390px, 202px, '../images/mobile/sprites.png', 'sm-btn_nugu', );
$sm-btn-play-name: 'sm-btn_play';
$sm-btn-play-x: 262px;
$sm-btn-play-y: 28px;
$sm-btn-play-offset-x: -262px;
$sm-btn-play-offset-y: -28px;
$sm-btn-play-width: 48px;
$sm-btn-play-height: 48px;
$sm-btn-play-total-width: 390px;
$sm-btn-play-total-height: 202px;
$sm-btn-play-image: '../images/mobile/sprites.png';
$sm-btn-play: (262px, 28px, -262px, -28px, 48px, 48px, 390px, 202px, '../images/mobile/sprites.png', 'sm-btn_play', );
$sm-icon-accordion-down-name: 'sm-icon_accordion_down';
$sm-icon-accordion-down-x: 254px;
$sm-icon-accordion-down-y: 82px;
$sm-icon-accordion-down-offset-x: -254px;
$sm-icon-accordion-down-offset-y: -82px;
$sm-icon-accordion-down-width: 19px;
$sm-icon-accordion-down-height: 10px;
$sm-icon-accordion-down-total-width: 390px;
$sm-icon-accordion-down-total-height: 202px;
$sm-icon-accordion-down-image: '../images/mobile/sprites.png';
$sm-icon-accordion-down: (254px, 82px, -254px, -82px, 19px, 10px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_accordion_down', );
$sm-icon-accordion-up-name: 'sm-icon_accordion_up';
$sm-icon-accordion-up-x: 279px;
$sm-icon-accordion-up-y: 82px;
$sm-icon-accordion-up-offset-x: -279px;
$sm-icon-accordion-up-offset-y: -82px;
$sm-icon-accordion-up-width: 19px;
$sm-icon-accordion-up-height: 10px;
$sm-icon-accordion-up-total-width: 390px;
$sm-icon-accordion-up-total-height: 202px;
$sm-icon-accordion-up-image: '../images/mobile/sprites.png';
$sm-icon-accordion-up: (279px, 82px, -279px, -82px, 19px, 10px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_accordion_up', );
$sm-icon-down-name: 'sm-icon_down';
$sm-icon-down-x: 326px;
$sm-icon-down-y: 82px;
$sm-icon-down-offset-x: -326px;
$sm-icon-down-offset-y: -82px;
$sm-icon-down-width: 16px;
$sm-icon-down-height: 10px;
$sm-icon-down-total-width: 390px;
$sm-icon-down-total-height: 202px;
$sm-icon-down-image: '../images/mobile/sprites.png';
$sm-icon-down: (326px, 82px, -326px, -82px, 16px, 10px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_down', );
$sm-icon-hit-name: 'sm-icon_hit';
$sm-icon-hit-x: 272px;
$sm-icon-hit-y: 98px;
$sm-icon-hit-offset-x: -272px;
$sm-icon-hit-offset-y: -98px;
$sm-icon-hit-width: 13px;
$sm-icon-hit-height: 11px;
$sm-icon-hit-total-width: 390px;
$sm-icon-hit-total-height: 202px;
$sm-icon-hit-image: '../images/mobile/sprites.png';
$sm-icon-hit: (272px, 98px, -272px, -98px, 13px, 11px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_hit', );
$sm-icon-hit-02-name: 'sm-icon_hit_02';
$sm-icon-hit-02-x: 366px;
$sm-icon-hit-02-y: 50px;
$sm-icon-hit-02-offset-x: -366px;
$sm-icon-hit-02-offset-y: -50px;
$sm-icon-hit-02-width: 17px;
$sm-icon-hit-02-height: 13px;
$sm-icon-hit-02-total-width: 390px;
$sm-icon-hit-02-total-height: 202px;
$sm-icon-hit-02-image: '../images/mobile/sprites.png';
$sm-icon-hit-02: (366px, 50px, -366px, -50px, 17px, 13px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_hit_02', );
$sm-icon-message-name: 'sm-icon_message';
$sm-icon-message-x: 0px;
$sm-icon-message-y: 0px;
$sm-icon-message-offset-x: 0px;
$sm-icon-message-offset-y: 0px;
$sm-icon-message-width: 98px;
$sm-icon-message-height: 98px;
$sm-icon-message-total-width: 390px;
$sm-icon-message-total-height: 202px;
$sm-icon-message-image: '../images/mobile/sprites.png';
$sm-icon-message: (0px, 0px, 0px, 0px, 98px, 98px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_message', );
$sm-icon-new-name: 'sm-icon_new';
$sm-icon-new-x: 254px;
$sm-icon-new-y: 98px;
$sm-icon-new-offset-x: -254px;
$sm-icon-new-offset-y: -98px;
$sm-icon-new-width: 12px;
$sm-icon-new-height: 12px;
$sm-icon-new-total-width: 390px;
$sm-icon-new-total-height: 202px;
$sm-icon-new-image: '../images/mobile/sprites.png';
$sm-icon-new: (254px, 98px, -254px, -98px, 12px, 12px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_new', );
$sm-icon-pdf-name: 'sm-icon_pdf';
$sm-icon-pdf-x: 208px;
$sm-icon-pdf-y: 116px;
$sm-icon-pdf-offset-x: -208px;
$sm-icon-pdf-offset-y: -116px;
$sm-icon-pdf-width: 32px;
$sm-icon-pdf-height: 32px;
$sm-icon-pdf-total-width: 390px;
$sm-icon-pdf-total-height: 202px;
$sm-icon-pdf-image: '../images/mobile/sprites.png';
$sm-icon-pdf: (208px, 116px, -208px, -116px, 32px, 32px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_pdf', );
$sm-icon-recommend-name: 'sm-icon_recommend';
$sm-icon-recommend-x: 291px;
$sm-icon-recommend-y: 98px;
$sm-icon-recommend-offset-x: -291px;
$sm-icon-recommend-offset-y: -98px;
$sm-icon-recommend-width: 9px;
$sm-icon-recommend-height: 11px;
$sm-icon-recommend-total-width: 390px;
$sm-icon-recommend-total-height: 202px;
$sm-icon-recommend-image: '../images/mobile/sprites.png';
$sm-icon-recommend: (291px, 98px, -291px, -98px, 9px, 11px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_recommend', );
$sm-icon-recommend-02-name: 'sm-icon_recommend_02';
$sm-icon-recommend-02-x: 208px;
$sm-icon-recommend-02-y: 154px;
$sm-icon-recommend-02-offset-x: -208px;
$sm-icon-recommend-02-offset-y: -154px;
$sm-icon-recommend-02-width: 14px;
$sm-icon-recommend-02-height: 13px;
$sm-icon-recommend-02-total-width: 390px;
$sm-icon-recommend-02-total-height: 202px;
$sm-icon-recommend-02-image: '../images/mobile/sprites.png';
$sm-icon-recommend-02: (208px, 154px, -208px, -154px, 14px, 13px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_recommend_02', );
$sm-icon-search-name: 'sm-icon_search';
$sm-icon-search-x: 366px;
$sm-icon-search-y: 28px;
$sm-icon-search-offset-x: -366px;
$sm-icon-search-offset-y: -28px;
$sm-icon-search-width: 16px;
$sm-icon-search-height: 16px;
$sm-icon-search-total-width: 390px;
$sm-icon-search-total-height: 202px;
$sm-icon-search-image: '../images/mobile/sprites.png';
$sm-icon-search: (366px, 28px, -366px, -28px, 16px, 16px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_search', );
$sm-icon-shortcut-name: 'sm-icon_shortcut';
$sm-icon-shortcut-x: 284px;
$sm-icon-shortcut-y: 116px;
$sm-icon-shortcut-offset-x: -284px;
$sm-icon-shortcut-offset-y: -116px;
$sm-icon-shortcut-width: 32px;
$sm-icon-shortcut-height: 32px;
$sm-icon-shortcut-total-width: 390px;
$sm-icon-shortcut-total-height: 202px;
$sm-icon-shortcut-image: '../images/mobile/sprites.png';
$sm-icon-shortcut: (284px, 116px, -284px, -116px, 32px, 32px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_shortcut', );
$sm-icon-support01-name: 'sm-icon_support01';
$sm-icon-support01-x: 104px;
$sm-icon-support01-y: 104px;
$sm-icon-support01-offset-x: -104px;
$sm-icon-support01-offset-y: -104px;
$sm-icon-support01-width: 98px;
$sm-icon-support01-height: 98px;
$sm-icon-support01-total-width: 390px;
$sm-icon-support01-total-height: 202px;
$sm-icon-support01-image: '../images/mobile/sprites.png';
$sm-icon-support01: (104px, 104px, -104px, -104px, 98px, 98px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_support01', );
$sm-icon-support02-name: 'sm-icon_support02';
$sm-icon-support02-x: 0px;
$sm-icon-support02-y: 104px;
$sm-icon-support02-offset-x: 0px;
$sm-icon-support02-offset-y: -104px;
$sm-icon-support02-width: 98px;
$sm-icon-support02-height: 98px;
$sm-icon-support02-total-width: 390px;
$sm-icon-support02-total-height: 202px;
$sm-icon-support02-image: '../images/mobile/sprites.png';
$sm-icon-support02: (0px, 104px, 0px, -104px, 98px, 98px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_support02', );
$sm-icon-support03-name: 'sm-icon_support03';
$sm-icon-support03-x: 104px;
$sm-icon-support03-y: 0px;
$sm-icon-support03-offset-x: -104px;
$sm-icon-support03-offset-y: 0px;
$sm-icon-support03-width: 98px;
$sm-icon-support03-height: 98px;
$sm-icon-support03-total-width: 390px;
$sm-icon-support03-total-height: 202px;
$sm-icon-support03-image: '../images/mobile/sprites.png';
$sm-icon-support03: (104px, 0px, -104px, 0px, 98px, 98px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_support03', );
$sm-icon-up-name: 'sm-icon_up';
$sm-icon-up-x: 304px;
$sm-icon-up-y: 82px;
$sm-icon-up-offset-x: -304px;
$sm-icon-up-offset-y: -82px;
$sm-icon-up-width: 16px;
$sm-icon-up-height: 10px;
$sm-icon-up-total-width: 390px;
$sm-icon-up-total-height: 202px;
$sm-icon-up-image: '../images/mobile/sprites.png';
$sm-icon-up: (304px, 82px, -304px, -82px, 16px, 10px, 390px, 202px, '../images/mobile/sprites.png', 'sm-icon_up', );
$sm-title-tutorial-name: 'sm-title_tutorial';
$sm-title-tutorial-x: 208px;
$sm-title-tutorial-y: 0px;
$sm-title-tutorial-offset-x: -208px;
$sm-title-tutorial-offset-y: 0px;
$sm-title-tutorial-width: 182px;
$sm-title-tutorial-height: 22px;
$sm-title-tutorial-total-width: 390px;
$sm-title-tutorial-total-height: 202px;
$sm-title-tutorial-image: '../images/mobile/sprites.png';
$sm-title-tutorial: (208px, 0px, -208px, 0px, 182px, 22px, 390px, 202px, '../images/mobile/sprites.png', 'sm-title_tutorial', );
$sm-btn-clear-2x-name: 'sm-btn_clear@2x';
$sm-btn-clear-2x-x: 632px;
$sm-btn-clear-2x-y: 56px;
$sm-btn-clear-2x-offset-x: -632px;
$sm-btn-clear-2x-offset-y: -56px;
$sm-btn-clear-2x-width: 88px;
$sm-btn-clear-2x-height: 88px;
$sm-btn-clear-2x-total-width: 780px;
$sm-btn-clear-2x-total-height: 404px;
$sm-btn-clear-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-clear-2x: (632px, 56px, -632px, -56px, 88px, 88px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-btn_clear@2x', );
$sm-btn-fileupload-2x-name: 'sm-btn_fileupload@2x';
$sm-btn-fileupload-2x-x: 492px;
$sm-btn-fileupload-2x-y: 232px;
$sm-btn-fileupload-2x-offset-x: -492px;
$sm-btn-fileupload-2x-offset-y: -232px;
$sm-btn-fileupload-2x-width: 64px;
$sm-btn-fileupload-2x-height: 64px;
$sm-btn-fileupload-2x-total-width: 780px;
$sm-btn-fileupload-2x-total-height: 404px;
$sm-btn-fileupload-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-fileupload-2x: (492px, 232px, -492px, -232px, 64px, 64px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-btn_fileupload@2x', );
$sm-btn-list-2x-name: 'sm-btn_list@2x';
$sm-btn-list-2x-x: 416px;
$sm-btn-list-2x-y: 56px;
$sm-btn-list-2x-offset-x: -416px;
$sm-btn-list-2x-offset-y: -56px;
$sm-btn-list-2x-width: 96px;
$sm-btn-list-2x-height: 96px;
$sm-btn-list-2x-total-width: 780px;
$sm-btn-list-2x-total-height: 404px;
$sm-btn-list-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-list-2x: (416px, 56px, -416px, -56px, 96px, 96px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-btn_list@2x', );
$sm-btn-login-2x-name: 'sm-btn_login@2x';
$sm-btn-login-2x-x: 644px;
$sm-btn-login-2x-y: 232px;
$sm-btn-login-2x-offset-x: -644px;
$sm-btn-login-2x-offset-y: -232px;
$sm-btn-login-2x-width: 60px;
$sm-btn-login-2x-height: 60px;
$sm-btn-login-2x-total-width: 780px;
$sm-btn-login-2x-total-height: 404px;
$sm-btn-login-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-login-2x: (644px, 232px, -644px, -232px, 60px, 60px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-btn_login@2x', );
$sm-btn-menus-2x-name: 'sm-btn_menus@2x';
$sm-btn-menus-2x-x: 716px;
$sm-btn-menus-2x-y: 232px;
$sm-btn-menus-2x-offset-x: -716px;
$sm-btn-menus-2x-offset-y: -232px;
$sm-btn-menus-2x-width: 60px;
$sm-btn-menus-2x-height: 60px;
$sm-btn-menus-2x-total-width: 780px;
$sm-btn-menus-2x-total-height: 404px;
$sm-btn-menus-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-menus-2x: (716px, 232px, -716px, -232px, 60px, 60px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-btn_menus@2x', );
$sm-btn-nugu-2x-name: 'sm-btn_nugu@2x';
$sm-btn-nugu-2x-x: 416px;
$sm-btn-nugu-2x-y: 164px;
$sm-btn-nugu-2x-offset-x: -416px;
$sm-btn-nugu-2x-offset-y: -164px;
$sm-btn-nugu-2x-width: 80px;
$sm-btn-nugu-2x-height: 56px;
$sm-btn-nugu-2x-total-width: 780px;
$sm-btn-nugu-2x-total-height: 404px;
$sm-btn-nugu-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-nugu-2x: (416px, 164px, -416px, -164px, 80px, 56px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-btn_nugu@2x', );
$sm-btn-play-2x-name: 'sm-btn_play@2x';
$sm-btn-play-2x-x: 524px;
$sm-btn-play-2x-y: 56px;
$sm-btn-play-2x-offset-x: -524px;
$sm-btn-play-2x-offset-y: -56px;
$sm-btn-play-2x-width: 96px;
$sm-btn-play-2x-height: 96px;
$sm-btn-play-2x-total-width: 780px;
$sm-btn-play-2x-total-height: 404px;
$sm-btn-play-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-play-2x: (524px, 56px, -524px, -56px, 96px, 96px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-btn_play@2x', );
$sm-icon-accordion-down-2x-name: 'sm-icon_accordion_down@2x';
$sm-icon-accordion-down-2x-x: 508px;
$sm-icon-accordion-down-2x-y: 164px;
$sm-icon-accordion-down-2x-offset-x: -508px;
$sm-icon-accordion-down-2x-offset-y: -164px;
$sm-icon-accordion-down-2x-width: 38px;
$sm-icon-accordion-down-2x-height: 20px;
$sm-icon-accordion-down-2x-total-width: 780px;
$sm-icon-accordion-down-2x-total-height: 404px;
$sm-icon-accordion-down-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-accordion-down-2x: (508px, 164px, -508px, -164px, 38px, 20px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_accordion_down@2x', );
$sm-icon-accordion-up-2x-name: 'sm-icon_accordion_up@2x';
$sm-icon-accordion-up-2x-x: 558px;
$sm-icon-accordion-up-2x-y: 164px;
$sm-icon-accordion-up-2x-offset-x: -558px;
$sm-icon-accordion-up-2x-offset-y: -164px;
$sm-icon-accordion-up-2x-width: 38px;
$sm-icon-accordion-up-2x-height: 20px;
$sm-icon-accordion-up-2x-total-width: 780px;
$sm-icon-accordion-up-2x-total-height: 404px;
$sm-icon-accordion-up-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-accordion-up-2x: (558px, 164px, -558px, -164px, 38px, 20px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_accordion_up@2x', );
$sm-icon-down-2x-name: 'sm-icon_down@2x';
$sm-icon-down-2x-x: 652px;
$sm-icon-down-2x-y: 164px;
$sm-icon-down-2x-offset-x: -652px;
$sm-icon-down-2x-offset-y: -164px;
$sm-icon-down-2x-width: 32px;
$sm-icon-down-2x-height: 20px;
$sm-icon-down-2x-total-width: 780px;
$sm-icon-down-2x-total-height: 404px;
$sm-icon-down-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-down-2x: (652px, 164px, -652px, -164px, 32px, 20px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_down@2x', );
$sm-icon-hit-2x-name: 'sm-icon_hit@2x';
$sm-icon-hit-2x-x: 544px;
$sm-icon-hit-2x-y: 196px;
$sm-icon-hit-2x-offset-x: -544px;
$sm-icon-hit-2x-offset-y: -196px;
$sm-icon-hit-2x-width: 26px;
$sm-icon-hit-2x-height: 22px;
$sm-icon-hit-2x-total-width: 780px;
$sm-icon-hit-2x-total-height: 404px;
$sm-icon-hit-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-hit-2x: (544px, 196px, -544px, -196px, 26px, 22px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_hit@2x', );
$sm-icon-hit-02-2x-name: 'sm-icon_hit_02@2x';
$sm-icon-hit-02-2x-x: 732px;
$sm-icon-hit-02-2x-y: 100px;
$sm-icon-hit-02-2x-offset-x: -732px;
$sm-icon-hit-02-2x-offset-y: -100px;
$sm-icon-hit-02-2x-width: 34px;
$sm-icon-hit-02-2x-height: 26px;
$sm-icon-hit-02-2x-total-width: 780px;
$sm-icon-hit-02-2x-total-height: 404px;
$sm-icon-hit-02-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-hit-02-2x: (732px, 100px, -732px, -100px, 34px, 26px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_hit_02@2x', );
$sm-icon-message-2x-name: 'sm-icon_message@2x';
$sm-icon-message-2x-x: 0px;
$sm-icon-message-2x-y: 0px;
$sm-icon-message-2x-offset-x: 0px;
$sm-icon-message-2x-offset-y: 0px;
$sm-icon-message-2x-width: 196px;
$sm-icon-message-2x-height: 196px;
$sm-icon-message-2x-total-width: 780px;
$sm-icon-message-2x-total-height: 404px;
$sm-icon-message-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-message-2x: (0px, 0px, 0px, 0px, 196px, 196px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_message@2x', );
$sm-icon-new-2x-name: 'sm-icon_new@2x';
$sm-icon-new-2x-x: 508px;
$sm-icon-new-2x-y: 196px;
$sm-icon-new-2x-offset-x: -508px;
$sm-icon-new-2x-offset-y: -196px;
$sm-icon-new-2x-width: 24px;
$sm-icon-new-2x-height: 24px;
$sm-icon-new-2x-total-width: 780px;
$sm-icon-new-2x-total-height: 404px;
$sm-icon-new-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-new-2x: (508px, 196px, -508px, -196px, 24px, 24px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_new@2x', );
$sm-icon-pdf-2x-name: 'sm-icon_pdf@2x';
$sm-icon-pdf-2x-x: 416px;
$sm-icon-pdf-2x-y: 232px;
$sm-icon-pdf-2x-offset-x: -416px;
$sm-icon-pdf-2x-offset-y: -232px;
$sm-icon-pdf-2x-width: 64px;
$sm-icon-pdf-2x-height: 64px;
$sm-icon-pdf-2x-total-width: 780px;
$sm-icon-pdf-2x-total-height: 404px;
$sm-icon-pdf-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-pdf-2x: (416px, 232px, -416px, -232px, 64px, 64px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_pdf@2x', );
$sm-icon-recommend-2x-name: 'sm-icon_recommend@2x';
$sm-icon-recommend-2x-x: 582px;
$sm-icon-recommend-2x-y: 196px;
$sm-icon-recommend-2x-offset-x: -582px;
$sm-icon-recommend-2x-offset-y: -196px;
$sm-icon-recommend-2x-width: 18px;
$sm-icon-recommend-2x-height: 22px;
$sm-icon-recommend-2x-total-width: 780px;
$sm-icon-recommend-2x-total-height: 404px;
$sm-icon-recommend-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-recommend-2x: (582px, 196px, -582px, -196px, 18px, 22px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_recommend@2x', );
$sm-icon-recommend-02-2x-name: 'sm-icon_recommend_02@2x';
$sm-icon-recommend-02-2x-x: 416px;
$sm-icon-recommend-02-2x-y: 308px;
$sm-icon-recommend-02-2x-offset-x: -416px;
$sm-icon-recommend-02-2x-offset-y: -308px;
$sm-icon-recommend-02-2x-width: 28px;
$sm-icon-recommend-02-2x-height: 26px;
$sm-icon-recommend-02-2x-total-width: 780px;
$sm-icon-recommend-02-2x-total-height: 404px;
$sm-icon-recommend-02-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-recommend-02-2x: (416px, 308px, -416px, -308px, 28px, 26px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_recommend_02@2x', );
$sm-icon-search-2x-name: 'sm-icon_search@2x';
$sm-icon-search-2x-x: 732px;
$sm-icon-search-2x-y: 56px;
$sm-icon-search-2x-offset-x: -732px;
$sm-icon-search-2x-offset-y: -56px;
$sm-icon-search-2x-width: 32px;
$sm-icon-search-2x-height: 32px;
$sm-icon-search-2x-total-width: 780px;
$sm-icon-search-2x-total-height: 404px;
$sm-icon-search-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-search-2x: (732px, 56px, -732px, -56px, 32px, 32px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_search@2x', );
$sm-icon-shortcut-2x-name: 'sm-icon_shortcut@2x';
$sm-icon-shortcut-2x-x: 568px;
$sm-icon-shortcut-2x-y: 232px;
$sm-icon-shortcut-2x-offset-x: -568px;
$sm-icon-shortcut-2x-offset-y: -232px;
$sm-icon-shortcut-2x-width: 64px;
$sm-icon-shortcut-2x-height: 64px;
$sm-icon-shortcut-2x-total-width: 780px;
$sm-icon-shortcut-2x-total-height: 404px;
$sm-icon-shortcut-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-shortcut-2x: (568px, 232px, -568px, -232px, 64px, 64px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_shortcut@2x', );
$sm-icon-support01-2x-name: 'sm-icon_support01@2x';
$sm-icon-support01-2x-x: 208px;
$sm-icon-support01-2x-y: 208px;
$sm-icon-support01-2x-offset-x: -208px;
$sm-icon-support01-2x-offset-y: -208px;
$sm-icon-support01-2x-width: 196px;
$sm-icon-support01-2x-height: 196px;
$sm-icon-support01-2x-total-width: 780px;
$sm-icon-support01-2x-total-height: 404px;
$sm-icon-support01-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-support01-2x: (208px, 208px, -208px, -208px, 196px, 196px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_support01@2x', );
$sm-icon-support02-2x-name: 'sm-icon_support02@2x';
$sm-icon-support02-2x-x: 0px;
$sm-icon-support02-2x-y: 208px;
$sm-icon-support02-2x-offset-x: 0px;
$sm-icon-support02-2x-offset-y: -208px;
$sm-icon-support02-2x-width: 196px;
$sm-icon-support02-2x-height: 196px;
$sm-icon-support02-2x-total-width: 780px;
$sm-icon-support02-2x-total-height: 404px;
$sm-icon-support02-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-support02-2x: (0px, 208px, 0px, -208px, 196px, 196px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_support02@2x', );
$sm-icon-support03-2x-name: 'sm-icon_support03@2x';
$sm-icon-support03-2x-x: 208px;
$sm-icon-support03-2x-y: 0px;
$sm-icon-support03-2x-offset-x: -208px;
$sm-icon-support03-2x-offset-y: 0px;
$sm-icon-support03-2x-width: 196px;
$sm-icon-support03-2x-height: 196px;
$sm-icon-support03-2x-total-width: 780px;
$sm-icon-support03-2x-total-height: 404px;
$sm-icon-support03-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-support03-2x: (208px, 0px, -208px, 0px, 196px, 196px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_support03@2x', );
$sm-icon-up-2x-name: 'sm-icon_up@2x';
$sm-icon-up-2x-x: 608px;
$sm-icon-up-2x-y: 164px;
$sm-icon-up-2x-offset-x: -608px;
$sm-icon-up-2x-offset-y: -164px;
$sm-icon-up-2x-width: 32px;
$sm-icon-up-2x-height: 20px;
$sm-icon-up-2x-total-width: 780px;
$sm-icon-up-2x-total-height: 404px;
$sm-icon-up-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-up-2x: (608px, 164px, -608px, -164px, 32px, 20px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-icon_up@2x', );
$sm-title-tutorial-2x-name: 'sm-title_tutorial@2x';
$sm-title-tutorial-2x-x: 416px;
$sm-title-tutorial-2x-y: 0px;
$sm-title-tutorial-2x-offset-x: -416px;
$sm-title-tutorial-2x-offset-y: 0px;
$sm-title-tutorial-2x-width: 364px;
$sm-title-tutorial-2x-height: 44px;
$sm-title-tutorial-2x-total-width: 780px;
$sm-title-tutorial-2x-total-height: 404px;
$sm-title-tutorial-2x-image: '../images/mobile/sprites@2x.png';
$sm-title-tutorial-2x: (416px, 0px, -416px, 0px, 364px, 44px, 780px, 404px, '../images/mobile/sprites@2x.png', 'sm-title_tutorial@2x', );
$spritesheet-width: 390px;
$spritesheet-height: 202px;
$spritesheet-image: '../images/mobile/sprites.png';
$spritesheet-sprites: ($sm-btn-clear, $sm-btn-fileupload, $sm-btn-list, $sm-btn-login, $sm-btn-menus, $sm-btn-nugu, $sm-btn-play, $sm-icon-accordion-down, $sm-icon-accordion-up, $sm-icon-down, $sm-icon-hit, $sm-icon-hit-02, $sm-icon-message, $sm-icon-new, $sm-icon-pdf, $sm-icon-recommend, $sm-icon-recommend-02, $sm-icon-search, $sm-icon-shortcut, $sm-icon-support01, $sm-icon-support02, $sm-icon-support03, $sm-icon-up, $sm-title-tutorial, );
$spritesheet: (390px, 202px, '../images/mobile/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 780px;
$retina-spritesheet-height: 404px;
$retina-spritesheet-image: '../images/mobile/sprites@2x.png';
$retina-spritesheet-sprites: ($sm-btn-clear-2x, $sm-btn-fileupload-2x, $sm-btn-list-2x, $sm-btn-login-2x, $sm-btn-menus-2x, $sm-btn-nugu-2x, $sm-btn-play-2x, $sm-icon-accordion-down-2x, $sm-icon-accordion-up-2x, $sm-icon-down-2x, $sm-icon-hit-2x, $sm-icon-hit-02-2x, $sm-icon-message-2x, $sm-icon-new-2x, $sm-icon-pdf-2x, $sm-icon-recommend-2x, $sm-icon-recommend-02-2x, $sm-icon-search-2x, $sm-icon-shortcut-2x, $sm-icon-support01-2x, $sm-icon-support02-2x, $sm-icon-support03-2x, $sm-icon-up-2x, $sm-title-tutorial-2x, );
$retina-spritesheet: (780px, 404px, '../images/mobile/sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sm-btn-clear-group-name: 'sm-btn_clear';
$sm-btn-clear-group: ('sm-btn_clear', $sm-btn-clear, $sm-btn-clear-2x, );
$sm-btn-fileupload-group-name: 'sm-btn_fileupload';
$sm-btn-fileupload-group: ('sm-btn_fileupload', $sm-btn-fileupload, $sm-btn-fileupload-2x, );
$sm-btn-list-group-name: 'sm-btn_list';
$sm-btn-list-group: ('sm-btn_list', $sm-btn-list, $sm-btn-list-2x, );
$sm-btn-login-group-name: 'sm-btn_login';
$sm-btn-login-group: ('sm-btn_login', $sm-btn-login, $sm-btn-login-2x, );
$sm-btn-menus-group-name: 'sm-btn_menus';
$sm-btn-menus-group: ('sm-btn_menus', $sm-btn-menus, $sm-btn-menus-2x, );
$sm-btn-nugu-group-name: 'sm-btn_nugu';
$sm-btn-nugu-group: ('sm-btn_nugu', $sm-btn-nugu, $sm-btn-nugu-2x, );
$sm-btn-play-group-name: 'sm-btn_play';
$sm-btn-play-group: ('sm-btn_play', $sm-btn-play, $sm-btn-play-2x, );
$sm-icon-accordion-down-group-name: 'sm-icon_accordion_down';
$sm-icon-accordion-down-group: ('sm-icon_accordion_down', $sm-icon-accordion-down, $sm-icon-accordion-down-2x, );
$sm-icon-accordion-up-group-name: 'sm-icon_accordion_up';
$sm-icon-accordion-up-group: ('sm-icon_accordion_up', $sm-icon-accordion-up, $sm-icon-accordion-up-2x, );
$sm-icon-down-group-name: 'sm-icon_down';
$sm-icon-down-group: ('sm-icon_down', $sm-icon-down, $sm-icon-down-2x, );
$sm-icon-hit-group-name: 'sm-icon_hit';
$sm-icon-hit-group: ('sm-icon_hit', $sm-icon-hit, $sm-icon-hit-2x, );
$sm-icon-hit-02-group-name: 'sm-icon_hit_02';
$sm-icon-hit-02-group: ('sm-icon_hit_02', $sm-icon-hit-02, $sm-icon-hit-02-2x, );
$sm-icon-message-group-name: 'sm-icon_message';
$sm-icon-message-group: ('sm-icon_message', $sm-icon-message, $sm-icon-message-2x, );
$sm-icon-new-group-name: 'sm-icon_new';
$sm-icon-new-group: ('sm-icon_new', $sm-icon-new, $sm-icon-new-2x, );
$sm-icon-pdf-group-name: 'sm-icon_pdf';
$sm-icon-pdf-group: ('sm-icon_pdf', $sm-icon-pdf, $sm-icon-pdf-2x, );
$sm-icon-recommend-group-name: 'sm-icon_recommend';
$sm-icon-recommend-group: ('sm-icon_recommend', $sm-icon-recommend, $sm-icon-recommend-2x, );
$sm-icon-recommend-02-group-name: 'sm-icon_recommend_02';
$sm-icon-recommend-02-group: ('sm-icon_recommend_02', $sm-icon-recommend-02, $sm-icon-recommend-02-2x, );
$sm-icon-search-group-name: 'sm-icon_search';
$sm-icon-search-group: ('sm-icon_search', $sm-icon-search, $sm-icon-search-2x, );
$sm-icon-shortcut-group-name: 'sm-icon_shortcut';
$sm-icon-shortcut-group: ('sm-icon_shortcut', $sm-icon-shortcut, $sm-icon-shortcut-2x, );
$sm-icon-support01-group-name: 'sm-icon_support01';
$sm-icon-support01-group: ('sm-icon_support01', $sm-icon-support01, $sm-icon-support01-2x, );
$sm-icon-support02-group-name: 'sm-icon_support02';
$sm-icon-support02-group: ('sm-icon_support02', $sm-icon-support02, $sm-icon-support02-2x, );
$sm-icon-support03-group-name: 'sm-icon_support03';
$sm-icon-support03-group: ('sm-icon_support03', $sm-icon-support03, $sm-icon-support03-2x, );
$sm-icon-up-group-name: 'sm-icon_up';
$sm-icon-up-group: ('sm-icon_up', $sm-icon-up, $sm-icon-up-2x, );
$sm-title-tutorial-group-name: 'sm-title_tutorial';
$sm-title-tutorial-group: ('sm-title_tutorial', $sm-title-tutorial, $sm-title-tutorial-2x, );
$retina-groups: ($sm-btn-clear-group, $sm-btn-fileupload-group, $sm-btn-list-group, $sm-btn-login-group, $sm-btn-menus-group, $sm-btn-nugu-group, $sm-btn-play-group, $sm-icon-accordion-down-group, $sm-icon-accordion-up-group, $sm-icon-down-group, $sm-icon-hit-group, $sm-icon-hit-02-group, $sm-icon-message-group, $sm-icon-new-group, $sm-icon-pdf-group, $sm-icon-recommend-group, $sm-icon-recommend-02-group, $sm-icon-search-group, $sm-icon-shortcut-group, $sm-icon-support01-group, $sm-icon-support02-group, $sm-icon-support03-group, $sm-icon-up-group, $sm-title-tutorial-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
