/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sm-btn-clear-name: 'sm-btn_clear';
$sm-btn-clear-x: 316px;
$sm-btn-clear-y: 125px;
$sm-btn-clear-offset-x: -316px;
$sm-btn-clear-offset-y: -125px;
$sm-btn-clear-width: 44px;
$sm-btn-clear-height: 44px;
$sm-btn-clear-total-width: 438px;
$sm-btn-clear-total-height: 291px;
$sm-btn-clear-image: '../images/mobile/sprites.png';
$sm-btn-clear: (316px, 125px, -316px, -125px, 44px, 44px, 438px, 291px, '../images/mobile/sprites.png', 'sm-btn_clear', );
$sm-btn-close-name: 'sm-btn_close';
$sm-btn-close-x: 160px;
$sm-btn-close-y: 251px;
$sm-btn-close-offset-x: -160px;
$sm-btn-close-offset-y: -251px;
$sm-btn-close-width: 30px;
$sm-btn-close-height: 30px;
$sm-btn-close-total-width: 438px;
$sm-btn-close-total-height: 291px;
$sm-btn-close-image: '../images/mobile/sprites.png';
$sm-btn-close: (160px, 251px, -160px, -251px, 30px, 30px, 438px, 291px, '../images/mobile/sprites.png', 'sm-btn_close', );
$sm-btn-fileupload-name: 'sm-btn_fileupload';
$sm-btn-fileupload-x: 84px;
$sm-btn-fileupload-y: 251px;
$sm-btn-fileupload-offset-x: -84px;
$sm-btn-fileupload-offset-y: -251px;
$sm-btn-fileupload-width: 32px;
$sm-btn-fileupload-height: 32px;
$sm-btn-fileupload-total-width: 438px;
$sm-btn-fileupload-total-height: 291px;
$sm-btn-fileupload-image: '../images/mobile/sprites.png';
$sm-btn-fileupload: (84px, 251px, -84px, -251px, 32px, 32px, 438px, 291px, '../images/mobile/sprites.png', 'sm-btn_fileupload', );
$sm-btn-list-name: 'sm-btn_list';
$sm-btn-list-x: 208px;
$sm-btn-list-y: 125px;
$sm-btn-list-offset-x: -208px;
$sm-btn-list-offset-y: -125px;
$sm-btn-list-width: 48px;
$sm-btn-list-height: 48px;
$sm-btn-list-total-width: 438px;
$sm-btn-list-total-height: 291px;
$sm-btn-list-image: '../images/mobile/sprites.png';
$sm-btn-list: (208px, 125px, -208px, -125px, 48px, 48px, 438px, 291px, '../images/mobile/sprites.png', 'sm-btn_list', );
$sm-btn-login-name: 'sm-btn_login';
$sm-btn-login-x: 0px;
$sm-btn-login-y: 251px;
$sm-btn-login-offset-x: 0px;
$sm-btn-login-offset-y: -251px;
$sm-btn-login-width: 40px;
$sm-btn-login-height: 40px;
$sm-btn-login-total-width: 438px;
$sm-btn-login-total-height: 291px;
$sm-btn-login-image: '../images/mobile/sprites.png';
$sm-btn-login: (0px, 251px, 0px, -251px, 40px, 40px, 438px, 291px, '../images/mobile/sprites.png', 'sm-btn_login', );
$sm-btn-menus-name: 'sm-btn_menus';
$sm-btn-menus-x: 196px;
$sm-btn-menus-y: 251px;
$sm-btn-menus-offset-x: -196px;
$sm-btn-menus-offset-y: -251px;
$sm-btn-menus-width: 30px;
$sm-btn-menus-height: 30px;
$sm-btn-menus-total-width: 438px;
$sm-btn-menus-total-height: 291px;
$sm-btn-menus-image: '../images/mobile/sprites.png';
$sm-btn-menus: (196px, 251px, -196px, -251px, 30px, 30px, 438px, 291px, '../images/mobile/sprites.png', 'sm-btn_menus', );
$sm-btn-nugu-name: 'sm-btn_nugu';
$sm-btn-nugu-x: 212px;
$sm-btn-nugu-y: 208px;
$sm-btn-nugu-offset-x: -212px;
$sm-btn-nugu-offset-y: -208px;
$sm-btn-nugu-width: 40px;
$sm-btn-nugu-height: 28px;
$sm-btn-nugu-total-width: 438px;
$sm-btn-nugu-total-height: 291px;
$sm-btn-nugu-image: '../images/mobile/sprites.png';
$sm-btn-nugu: (212px, 208px, -212px, -208px, 40px, 28px, 438px, 291px, '../images/mobile/sprites.png', 'sm-btn_nugu', );
$sm-btn-play-name: 'sm-btn_play';
$sm-btn-play-x: 262px;
$sm-btn-play-y: 125px;
$sm-btn-play-offset-x: -262px;
$sm-btn-play-offset-y: -125px;
$sm-btn-play-width: 48px;
$sm-btn-play-height: 48px;
$sm-btn-play-total-width: 438px;
$sm-btn-play-total-height: 291px;
$sm-btn-play-image: '../images/mobile/sprites.png';
$sm-btn-play: (262px, 125px, -262px, -125px, 48px, 48px, 438px, 291px, '../images/mobile/sprites.png', 'sm-btn_play', );
$sm-dq-left-name: 'sm-dq_left';
$sm-dq-left-x: 363px;
$sm-dq-left-y: 179px;
$sm-dq-left-offset-x: -363px;
$sm-dq-left-offset-y: -179px;
$sm-dq-left-width: 8px;
$sm-dq-left-height: 6px;
$sm-dq-left-total-width: 438px;
$sm-dq-left-total-height: 291px;
$sm-dq-left-image: '../images/mobile/sprites.png';
$sm-dq-left: (363px, 179px, -363px, -179px, 8px, 6px, 438px, 291px, '../images/mobile/sprites.png', 'sm-dq_left', );
$sm-dq-left-02-name: 'sm-dq_left_02';
$sm-dq-left-02-x: 329px;
$sm-dq-left-02-y: 179px;
$sm-dq-left-02-offset-x: -329px;
$sm-dq-left-02-offset-y: -179px;
$sm-dq-left-02-width: 11px;
$sm-dq-left-02-height: 10px;
$sm-dq-left-02-total-width: 438px;
$sm-dq-left-02-total-height: 291px;
$sm-dq-left-02-image: '../images/mobile/sprites.png';
$sm-dq-left-02: (329px, 179px, -329px, -179px, 11px, 10px, 438px, 291px, '../images/mobile/sprites.png', 'sm-dq_left_02', );
$sm-dq-right-name: 'sm-dq_right';
$sm-dq-right-x: 377px;
$sm-dq-right-y: 179px;
$sm-dq-right-offset-x: -377px;
$sm-dq-right-offset-y: -179px;
$sm-dq-right-width: 8px;
$sm-dq-right-height: 6px;
$sm-dq-right-total-width: 438px;
$sm-dq-right-total-height: 291px;
$sm-dq-right-image: '../images/mobile/sprites.png';
$sm-dq-right: (377px, 179px, -377px, -179px, 8px, 6px, 438px, 291px, '../images/mobile/sprites.png', 'sm-dq_right', );
$sm-dq-right-02-name: 'sm-dq_right_02';
$sm-dq-right-02-x: 346px;
$sm-dq-right-02-y: 179px;
$sm-dq-right-02-offset-x: -346px;
$sm-dq-right-02-offset-y: -179px;
$sm-dq-right-02-width: 11px;
$sm-dq-right-02-height: 9px;
$sm-dq-right-02-total-width: 438px;
$sm-dq-right-02-total-height: 291px;
$sm-dq-right-02-image: '../images/mobile/sprites.png';
$sm-dq-right-02: (346px, 179px, -346px, -179px, 11px, 9px, 438px, 291px, '../images/mobile/sprites.png', 'sm-dq_right_02', );
$sm-icon-accordion-down-name: 'sm-icon_accordion_down';
$sm-icon-accordion-down-x: 419px;
$sm-icon-accordion-down-y: 125px;
$sm-icon-accordion-down-offset-x: -419px;
$sm-icon-accordion-down-offset-y: -125px;
$sm-icon-accordion-down-width: 19px;
$sm-icon-accordion-down-height: 10px;
$sm-icon-accordion-down-total-width: 438px;
$sm-icon-accordion-down-total-height: 291px;
$sm-icon-accordion-down-image: '../images/mobile/sprites.png';
$sm-icon-accordion-down: (419px, 125px, -419px, -125px, 19px, 10px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_accordion_down', );
$sm-icon-accordion-up-name: 'sm-icon_accordion_up';
$sm-icon-accordion-up-x: 419px;
$sm-icon-accordion-up-y: 141px;
$sm-icon-accordion-up-offset-x: -419px;
$sm-icon-accordion-up-offset-y: -141px;
$sm-icon-accordion-up-width: 19px;
$sm-icon-accordion-up-height: 10px;
$sm-icon-accordion-up-total-width: 438px;
$sm-icon-accordion-up-total-height: 291px;
$sm-icon-accordion-up-image: '../images/mobile/sprites.png';
$sm-icon-accordion-up: (419px, 141px, -419px, -141px, 19px, 10px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_accordion_up', );
$sm-icon-down-name: 'sm-icon_down';
$sm-icon-down-x: 285px;
$sm-icon-down-y: 179px;
$sm-icon-down-offset-x: -285px;
$sm-icon-down-offset-y: -179px;
$sm-icon-down-width: 16px;
$sm-icon-down-height: 10px;
$sm-icon-down-total-width: 438px;
$sm-icon-down-total-height: 291px;
$sm-icon-down-image: '../images/mobile/sprites.png';
$sm-icon-down: (285px, 179px, -285px, -179px, 16px, 10px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_down', );
$sm-icon-featured01-name: 'sm-icon_featured01';
$sm-icon-featured01-x: 0px;
$sm-icon-featured01-y: 208px;
$sm-icon-featured01-offset-x: 0px;
$sm-icon-featured01-offset-y: -208px;
$sm-icon-featured01-width: 47px;
$sm-icon-featured01-height: 37px;
$sm-icon-featured01-total-width: 438px;
$sm-icon-featured01-total-height: 291px;
$sm-icon-featured01-image: '../images/mobile/sprites.png';
$sm-icon-featured01: (0px, 208px, 0px, -208px, 47px, 37px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_featured01', );
$sm-icon-featured02-name: 'sm-icon_featured02';
$sm-icon-featured02-x: 53px;
$sm-icon-featured02-y: 208px;
$sm-icon-featured02-offset-x: -53px;
$sm-icon-featured02-offset-y: -208px;
$sm-icon-featured02-width: 47px;
$sm-icon-featured02-height: 37px;
$sm-icon-featured02-total-width: 438px;
$sm-icon-featured02-total-height: 291px;
$sm-icon-featured02-image: '../images/mobile/sprites.png';
$sm-icon-featured02: (53px, 208px, -53px, -208px, 47px, 37px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_featured02', );
$sm-icon-featured03-name: 'sm-icon_featured03';
$sm-icon-featured03-x: 106px;
$sm-icon-featured03-y: 208px;
$sm-icon-featured03-offset-x: -106px;
$sm-icon-featured03-offset-y: -208px;
$sm-icon-featured03-width: 47px;
$sm-icon-featured03-height: 37px;
$sm-icon-featured03-total-width: 438px;
$sm-icon-featured03-total-height: 291px;
$sm-icon-featured03-image: '../images/mobile/sprites.png';
$sm-icon-featured03: (106px, 208px, -106px, -208px, 47px, 37px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_featured03', );
$sm-icon-featured04-name: 'sm-icon_featured04';
$sm-icon-featured04-x: 159px;
$sm-icon-featured04-y: 208px;
$sm-icon-featured04-offset-x: -159px;
$sm-icon-featured04-offset-y: -208px;
$sm-icon-featured04-width: 47px;
$sm-icon-featured04-height: 37px;
$sm-icon-featured04-total-width: 438px;
$sm-icon-featured04-total-height: 291px;
$sm-icon-featured04-image: '../images/mobile/sprites.png';
$sm-icon-featured04: (159px, 208px, -159px, -208px, 47px, 37px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_featured04', );
$sm-icon-featured05-name: 'sm-icon_featured05';
$sm-icon-featured05-x: 366px;
$sm-icon-featured05-y: 125px;
$sm-icon-featured05-offset-x: -366px;
$sm-icon-featured05-offset-y: -125px;
$sm-icon-featured05-width: 47px;
$sm-icon-featured05-height: 37px;
$sm-icon-featured05-total-width: 438px;
$sm-icon-featured05-total-height: 291px;
$sm-icon-featured05-image: '../images/mobile/sprites.png';
$sm-icon-featured05: (366px, 125px, -366px, -125px, 47px, 37px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_featured05', );
$sm-icon-hit-name: 'sm-icon_hit';
$sm-icon-hit-x: 276px;
$sm-icon-hit-y: 208px;
$sm-icon-hit-offset-x: -276px;
$sm-icon-hit-offset-y: -208px;
$sm-icon-hit-width: 13px;
$sm-icon-hit-height: 11px;
$sm-icon-hit-total-width: 438px;
$sm-icon-hit-total-height: 291px;
$sm-icon-hit-image: '../images/mobile/sprites.png';
$sm-icon-hit: (276px, 208px, -276px, -208px, 13px, 11px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_hit', );
$sm-icon-hit-02-name: 'sm-icon_hit_02';
$sm-icon-hit-02-x: 409px;
$sm-icon-hit-02-y: 97px;
$sm-icon-hit-02-offset-x: -409px;
$sm-icon-hit-02-offset-y: -97px;
$sm-icon-hit-02-width: 17px;
$sm-icon-hit-02-height: 13px;
$sm-icon-hit-02-total-width: 438px;
$sm-icon-hit-02-total-height: 291px;
$sm-icon-hit-02-image: '../images/mobile/sprites.png';
$sm-icon-hit-02: (409px, 97px, -409px, -97px, 17px, 13px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_hit_02', );
$sm-icon-message-name: 'sm-icon_message';
$sm-icon-message-x: 104px;
$sm-icon-message-y: 0px;
$sm-icon-message-offset-x: -104px;
$sm-icon-message-offset-y: 0px;
$sm-icon-message-width: 98px;
$sm-icon-message-height: 98px;
$sm-icon-message-total-width: 438px;
$sm-icon-message-total-height: 291px;
$sm-icon-message-image: '../images/mobile/sprites.png';
$sm-icon-message: (104px, 0px, -104px, 0px, 98px, 98px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_message', );
$sm-icon-new-name: 'sm-icon_new';
$sm-icon-new-x: 258px;
$sm-icon-new-y: 208px;
$sm-icon-new-offset-x: -258px;
$sm-icon-new-offset-y: -208px;
$sm-icon-new-width: 12px;
$sm-icon-new-height: 12px;
$sm-icon-new-total-width: 438px;
$sm-icon-new-total-height: 291px;
$sm-icon-new-image: '../images/mobile/sprites.png';
$sm-icon-new: (258px, 208px, -258px, -208px, 12px, 12px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_new', );
$sm-icon-pdf-name: 'sm-icon_pdf';
$sm-icon-pdf-x: 122px;
$sm-icon-pdf-y: 251px;
$sm-icon-pdf-offset-x: -122px;
$sm-icon-pdf-offset-y: -251px;
$sm-icon-pdf-width: 32px;
$sm-icon-pdf-height: 32px;
$sm-icon-pdf-total-width: 438px;
$sm-icon-pdf-total-height: 291px;
$sm-icon-pdf-image: '../images/mobile/sprites.png';
$sm-icon-pdf: (122px, 251px, -122px, -251px, 32px, 32px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_pdf', );
$sm-icon-recommend-name: 'sm-icon_recommend';
$sm-icon-recommend-x: 428px;
$sm-icon-recommend-y: 69px;
$sm-icon-recommend-offset-x: -428px;
$sm-icon-recommend-offset-y: -69px;
$sm-icon-recommend-width: 9px;
$sm-icon-recommend-height: 11px;
$sm-icon-recommend-total-width: 438px;
$sm-icon-recommend-total-height: 291px;
$sm-icon-recommend-image: '../images/mobile/sprites.png';
$sm-icon-recommend: (428px, 69px, -428px, -69px, 9px, 11px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_recommend', );
$sm-icon-recommend-02-name: 'sm-icon_recommend_02';
$sm-icon-recommend-02-x: 265px;
$sm-icon-recommend-02-y: 179px;
$sm-icon-recommend-02-offset-x: -265px;
$sm-icon-recommend-02-offset-y: -179px;
$sm-icon-recommend-02-width: 14px;
$sm-icon-recommend-02-height: 13px;
$sm-icon-recommend-02-total-width: 438px;
$sm-icon-recommend-02-total-height: 291px;
$sm-icon-recommend-02-image: '../images/mobile/sprites.png';
$sm-icon-recommend-02: (265px, 179px, -265px, -179px, 14px, 13px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_recommend_02', );
$sm-icon-search-name: 'sm-icon_search';
$sm-icon-search-x: 422px;
$sm-icon-search-y: 41px;
$sm-icon-search-offset-x: -422px;
$sm-icon-search-offset-y: -41px;
$sm-icon-search-width: 16px;
$sm-icon-search-height: 16px;
$sm-icon-search-total-width: 438px;
$sm-icon-search-total-height: 291px;
$sm-icon-search-image: '../images/mobile/sprites.png';
$sm-icon-search: (422px, 41px, -422px, -41px, 16px, 16px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_search', );
$sm-icon-shortcut-name: 'sm-icon_shortcut';
$sm-icon-shortcut-x: 46px;
$sm-icon-shortcut-y: 251px;
$sm-icon-shortcut-offset-x: -46px;
$sm-icon-shortcut-offset-y: -251px;
$sm-icon-shortcut-width: 32px;
$sm-icon-shortcut-height: 32px;
$sm-icon-shortcut-total-width: 438px;
$sm-icon-shortcut-total-height: 291px;
$sm-icon-shortcut-image: '../images/mobile/sprites.png';
$sm-icon-shortcut: (46px, 251px, -46px, -251px, 32px, 32px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_shortcut', );
$sm-icon-support01-name: 'sm-icon_support01';
$sm-icon-support01-x: 0px;
$sm-icon-support01-y: 104px;
$sm-icon-support01-offset-x: 0px;
$sm-icon-support01-offset-y: -104px;
$sm-icon-support01-width: 98px;
$sm-icon-support01-height: 98px;
$sm-icon-support01-total-width: 438px;
$sm-icon-support01-total-height: 291px;
$sm-icon-support01-image: '../images/mobile/sprites.png';
$sm-icon-support01: (0px, 104px, 0px, -104px, 98px, 98px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_support01', );
$sm-icon-support02-name: 'sm-icon_support02';
$sm-icon-support02-x: 104px;
$sm-icon-support02-y: 104px;
$sm-icon-support02-offset-x: -104px;
$sm-icon-support02-offset-y: -104px;
$sm-icon-support02-width: 98px;
$sm-icon-support02-height: 98px;
$sm-icon-support02-total-width: 438px;
$sm-icon-support02-total-height: 291px;
$sm-icon-support02-image: '../images/mobile/sprites.png';
$sm-icon-support02: (104px, 104px, -104px, -104px, 98px, 98px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_support02', );
$sm-icon-support03-name: 'sm-icon_support03';
$sm-icon-support03-x: 0px;
$sm-icon-support03-y: 0px;
$sm-icon-support03-offset-x: 0px;
$sm-icon-support03-offset-y: 0px;
$sm-icon-support03-width: 98px;
$sm-icon-support03-height: 98px;
$sm-icon-support03-total-width: 438px;
$sm-icon-support03-total-height: 291px;
$sm-icon-support03-image: '../images/mobile/sprites.png';
$sm-icon-support03: (0px, 0px, 0px, 0px, 98px, 98px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_support03', );
$sm-icon-up-name: 'sm-icon_up';
$sm-icon-up-x: 307px;
$sm-icon-up-y: 179px;
$sm-icon-up-offset-x: -307px;
$sm-icon-up-offset-y: -179px;
$sm-icon-up-width: 16px;
$sm-icon-up-height: 10px;
$sm-icon-up-total-width: 438px;
$sm-icon-up-total-height: 291px;
$sm-icon-up-image: '../images/mobile/sprites.png';
$sm-icon-up: (307px, 179px, -307px, -179px, 16px, 10px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_up', );
$sm-icon-user-name: 'sm-icon_user';
$sm-icon-user-x: 396px;
$sm-icon-user-y: 41px;
$sm-icon-user-offset-x: -396px;
$sm-icon-user-offset-y: -41px;
$sm-icon-user-width: 20px;
$sm-icon-user-height: 20px;
$sm-icon-user-total-width: 438px;
$sm-icon-user-total-height: 291px;
$sm-icon-user-image: '../images/mobile/sprites.png';
$sm-icon-user: (396px, 41px, -396px, -41px, 20px, 20px, 438px, 291px, '../images/mobile/sprites.png', 'sm-icon_user', );
$sm-nugu-name: 'sm-nugu';
$sm-nugu-x: 208px;
$sm-nugu-y: 69px;
$sm-nugu-offset-x: -208px;
$sm-nugu-offset-y: -69px;
$sm-nugu-width: 143px;
$sm-nugu-height: 22px;
$sm-nugu-total-width: 438px;
$sm-nugu-total-height: 291px;
$sm-nugu-image: '../images/mobile/sprites.png';
$sm-nugu: (208px, 69px, -208px, -69px, 143px, 22px, 438px, 291px, '../images/mobile/sprites.png', 'sm-nugu', );
$sm-nugu-big-name: 'sm-nugu_big';
$sm-nugu-big-x: 208px;
$sm-nugu-big-y: 0px;
$sm-nugu-big-offset-x: -208px;
$sm-nugu-big-offset-y: 0px;
$sm-nugu-big-width: 230px;
$sm-nugu-big-height: 35px;
$sm-nugu-big-total-width: 438px;
$sm-nugu-big-total-height: 291px;
$sm-nugu-big-image: '../images/mobile/sprites.png';
$sm-nugu-big: (208px, 0px, -208px, 0px, 230px, 35px, 438px, 291px, '../images/mobile/sprites.png', 'sm-nugu_big', );
$sm-title-tutorial-name: 'sm-title_tutorial';
$sm-title-tutorial-x: 208px;
$sm-title-tutorial-y: 41px;
$sm-title-tutorial-offset-x: -208px;
$sm-title-tutorial-offset-y: -41px;
$sm-title-tutorial-width: 182px;
$sm-title-tutorial-height: 22px;
$sm-title-tutorial-total-width: 438px;
$sm-title-tutorial-total-height: 291px;
$sm-title-tutorial-image: '../images/mobile/sprites.png';
$sm-title-tutorial: (208px, 41px, -208px, -41px, 182px, 22px, 438px, 291px, '../images/mobile/sprites.png', 'sm-title_tutorial', );
$sm-txt-melon-name: 'sm-txt_melon';
$sm-txt-melon-x: 208px;
$sm-txt-melon-y: 179px;
$sm-txt-melon-offset-x: -208px;
$sm-txt-melon-offset-y: -179px;
$sm-txt-melon-width: 51px;
$sm-txt-melon-height: 14px;
$sm-txt-melon-total-width: 438px;
$sm-txt-melon-total-height: 291px;
$sm-txt-melon-image: '../images/mobile/sprites.png';
$sm-txt-melon: (208px, 179px, -208px, -179px, 51px, 14px, 438px, 291px, '../images/mobile/sprites.png', 'sm-txt_melon', );
$sm-txt-nugu-01-name: 'sm-txt_nugu_01';
$sm-txt-nugu-01-x: 208px;
$sm-txt-nugu-01-y: 97px;
$sm-txt-nugu-01-offset-x: -208px;
$sm-txt-nugu-01-offset-y: -97px;
$sm-txt-nugu-01-width: 100px;
$sm-txt-nugu-01-height: 22px;
$sm-txt-nugu-01-total-width: 438px;
$sm-txt-nugu-01-total-height: 291px;
$sm-txt-nugu-01-image: '../images/mobile/sprites.png';
$sm-txt-nugu-01: (208px, 97px, -208px, -97px, 100px, 22px, 438px, 291px, '../images/mobile/sprites.png', 'sm-txt_nugu_01', );
$sm-txt-nugu-02-name: 'sm-txt_nugu_02';
$sm-txt-nugu-02-x: 314px;
$sm-txt-nugu-02-y: 97px;
$sm-txt-nugu-02-offset-x: -314px;
$sm-txt-nugu-02-offset-y: -97px;
$sm-txt-nugu-02-width: 89px;
$sm-txt-nugu-02-height: 19px;
$sm-txt-nugu-02-total-width: 438px;
$sm-txt-nugu-02-total-height: 291px;
$sm-txt-nugu-02-image: '../images/mobile/sprites.png';
$sm-txt-nugu-02: (314px, 97px, -314px, -97px, 89px, 19px, 438px, 291px, '../images/mobile/sprites.png', 'sm-txt_nugu_02', );
$sm-txt-smarthome-name: 'sm-txt_smarthome';
$sm-txt-smarthome-x: 357px;
$sm-txt-smarthome-y: 69px;
$sm-txt-smarthome-offset-x: -357px;
$sm-txt-smarthome-offset-y: -69px;
$sm-txt-smarthome-width: 65px;
$sm-txt-smarthome-height: 19px;
$sm-txt-smarthome-total-width: 438px;
$sm-txt-smarthome-total-height: 291px;
$sm-txt-smarthome-image: '../images/mobile/sprites.png';
$sm-txt-smarthome: (357px, 69px, -357px, -69px, 65px, 19px, 438px, 291px, '../images/mobile/sprites.png', 'sm-txt_smarthome', );
$sm-btn-clear-2x-name: 'sm-btn_clear@2x';
$sm-btn-clear-2x-x: 632px;
$sm-btn-clear-2x-y: 250px;
$sm-btn-clear-2x-offset-x: -632px;
$sm-btn-clear-2x-offset-y: -250px;
$sm-btn-clear-2x-width: 88px;
$sm-btn-clear-2x-height: 88px;
$sm-btn-clear-2x-total-width: 876px;
$sm-btn-clear-2x-total-height: 582px;
$sm-btn-clear-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-clear-2x: (632px, 250px, -632px, -250px, 88px, 88px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-btn_clear@2x', );
$sm-btn-close-2x-name: 'sm-btn_close@2x';
$sm-btn-close-2x-x: 320px;
$sm-btn-close-2x-y: 502px;
$sm-btn-close-2x-offset-x: -320px;
$sm-btn-close-2x-offset-y: -502px;
$sm-btn-close-2x-width: 60px;
$sm-btn-close-2x-height: 60px;
$sm-btn-close-2x-total-width: 876px;
$sm-btn-close-2x-total-height: 582px;
$sm-btn-close-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-close-2x: (320px, 502px, -320px, -502px, 60px, 60px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-btn_close@2x', );
$sm-btn-fileupload-2x-name: 'sm-btn_fileupload@2x';
$sm-btn-fileupload-2x-x: 168px;
$sm-btn-fileupload-2x-y: 502px;
$sm-btn-fileupload-2x-offset-x: -168px;
$sm-btn-fileupload-2x-offset-y: -502px;
$sm-btn-fileupload-2x-width: 64px;
$sm-btn-fileupload-2x-height: 64px;
$sm-btn-fileupload-2x-total-width: 876px;
$sm-btn-fileupload-2x-total-height: 582px;
$sm-btn-fileupload-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-fileupload-2x: (168px, 502px, -168px, -502px, 64px, 64px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-btn_fileupload@2x', );
$sm-btn-list-2x-name: 'sm-btn_list@2x';
$sm-btn-list-2x-x: 416px;
$sm-btn-list-2x-y: 250px;
$sm-btn-list-2x-offset-x: -416px;
$sm-btn-list-2x-offset-y: -250px;
$sm-btn-list-2x-width: 96px;
$sm-btn-list-2x-height: 96px;
$sm-btn-list-2x-total-width: 876px;
$sm-btn-list-2x-total-height: 582px;
$sm-btn-list-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-list-2x: (416px, 250px, -416px, -250px, 96px, 96px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-btn_list@2x', );
$sm-btn-login-2x-name: 'sm-btn_login@2x';
$sm-btn-login-2x-x: 0px;
$sm-btn-login-2x-y: 502px;
$sm-btn-login-2x-offset-x: 0px;
$sm-btn-login-2x-offset-y: -502px;
$sm-btn-login-2x-width: 80px;
$sm-btn-login-2x-height: 80px;
$sm-btn-login-2x-total-width: 876px;
$sm-btn-login-2x-total-height: 582px;
$sm-btn-login-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-login-2x: (0px, 502px, 0px, -502px, 80px, 80px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-btn_login@2x', );
$sm-btn-menus-2x-name: 'sm-btn_menus@2x';
$sm-btn-menus-2x-x: 392px;
$sm-btn-menus-2x-y: 502px;
$sm-btn-menus-2x-offset-x: -392px;
$sm-btn-menus-2x-offset-y: -502px;
$sm-btn-menus-2x-width: 60px;
$sm-btn-menus-2x-height: 60px;
$sm-btn-menus-2x-total-width: 876px;
$sm-btn-menus-2x-total-height: 582px;
$sm-btn-menus-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-menus-2x: (392px, 502px, -392px, -502px, 60px, 60px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-btn_menus@2x', );
$sm-btn-nugu-2x-name: 'sm-btn_nugu@2x';
$sm-btn-nugu-2x-x: 424px;
$sm-btn-nugu-2x-y: 416px;
$sm-btn-nugu-2x-offset-x: -424px;
$sm-btn-nugu-2x-offset-y: -416px;
$sm-btn-nugu-2x-width: 80px;
$sm-btn-nugu-2x-height: 56px;
$sm-btn-nugu-2x-total-width: 876px;
$sm-btn-nugu-2x-total-height: 582px;
$sm-btn-nugu-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-nugu-2x: (424px, 416px, -424px, -416px, 80px, 56px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-btn_nugu@2x', );
$sm-btn-play-2x-name: 'sm-btn_play@2x';
$sm-btn-play-2x-x: 524px;
$sm-btn-play-2x-y: 250px;
$sm-btn-play-2x-offset-x: -524px;
$sm-btn-play-2x-offset-y: -250px;
$sm-btn-play-2x-width: 96px;
$sm-btn-play-2x-height: 96px;
$sm-btn-play-2x-total-width: 876px;
$sm-btn-play-2x-total-height: 582px;
$sm-btn-play-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-play-2x: (524px, 250px, -524px, -250px, 96px, 96px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-btn_play@2x', );
$sm-dq-left-2x-name: 'sm-dq_left@2x';
$sm-dq-left-2x-x: 726px;
$sm-dq-left-2x-y: 358px;
$sm-dq-left-2x-offset-x: -726px;
$sm-dq-left-2x-offset-y: -358px;
$sm-dq-left-2x-width: 16px;
$sm-dq-left-2x-height: 12px;
$sm-dq-left-2x-total-width: 876px;
$sm-dq-left-2x-total-height: 582px;
$sm-dq-left-2x-image: '../images/mobile/sprites@2x.png';
$sm-dq-left-2x: (726px, 358px, -726px, -358px, 16px, 12px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-dq_left@2x', );
$sm-dq-left-02-2x-name: 'sm-dq_left_02@2x';
$sm-dq-left-02-2x-x: 658px;
$sm-dq-left-02-2x-y: 358px;
$sm-dq-left-02-2x-offset-x: -658px;
$sm-dq-left-02-2x-offset-y: -358px;
$sm-dq-left-02-2x-width: 22px;
$sm-dq-left-02-2x-height: 20px;
$sm-dq-left-02-2x-total-width: 876px;
$sm-dq-left-02-2x-total-height: 582px;
$sm-dq-left-02-2x-image: '../images/mobile/sprites@2x.png';
$sm-dq-left-02-2x: (658px, 358px, -658px, -358px, 22px, 20px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-dq_left_02@2x', );
$sm-dq-right-2x-name: 'sm-dq_right@2x';
$sm-dq-right-2x-x: 754px;
$sm-dq-right-2x-y: 358px;
$sm-dq-right-2x-offset-x: -754px;
$sm-dq-right-2x-offset-y: -358px;
$sm-dq-right-2x-width: 16px;
$sm-dq-right-2x-height: 12px;
$sm-dq-right-2x-total-width: 876px;
$sm-dq-right-2x-total-height: 582px;
$sm-dq-right-2x-image: '../images/mobile/sprites@2x.png';
$sm-dq-right-2x: (754px, 358px, -754px, -358px, 16px, 12px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-dq_right@2x', );
$sm-dq-right-02-2x-name: 'sm-dq_right_02@2x';
$sm-dq-right-02-2x-x: 692px;
$sm-dq-right-02-2x-y: 358px;
$sm-dq-right-02-2x-offset-x: -692px;
$sm-dq-right-02-2x-offset-y: -358px;
$sm-dq-right-02-2x-width: 22px;
$sm-dq-right-02-2x-height: 18px;
$sm-dq-right-02-2x-total-width: 876px;
$sm-dq-right-02-2x-total-height: 582px;
$sm-dq-right-02-2x-image: '../images/mobile/sprites@2x.png';
$sm-dq-right-02-2x: (692px, 358px, -692px, -358px, 22px, 18px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-dq_right_02@2x', );
$sm-icon-accordion-down-2x-name: 'sm-icon_accordion_down@2x';
$sm-icon-accordion-down-2x-x: 838px;
$sm-icon-accordion-down-2x-y: 250px;
$sm-icon-accordion-down-2x-offset-x: -838px;
$sm-icon-accordion-down-2x-offset-y: -250px;
$sm-icon-accordion-down-2x-width: 38px;
$sm-icon-accordion-down-2x-height: 20px;
$sm-icon-accordion-down-2x-total-width: 876px;
$sm-icon-accordion-down-2x-total-height: 582px;
$sm-icon-accordion-down-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-accordion-down-2x: (838px, 250px, -838px, -250px, 38px, 20px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_accordion_down@2x', );
$sm-icon-accordion-up-2x-name: 'sm-icon_accordion_up@2x';
$sm-icon-accordion-up-2x-x: 838px;
$sm-icon-accordion-up-2x-y: 282px;
$sm-icon-accordion-up-2x-offset-x: -838px;
$sm-icon-accordion-up-2x-offset-y: -282px;
$sm-icon-accordion-up-2x-width: 38px;
$sm-icon-accordion-up-2x-height: 20px;
$sm-icon-accordion-up-2x-total-width: 876px;
$sm-icon-accordion-up-2x-total-height: 582px;
$sm-icon-accordion-up-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-accordion-up-2x: (838px, 282px, -838px, -282px, 38px, 20px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_accordion_up@2x', );
$sm-icon-down-2x-name: 'sm-icon_down@2x';
$sm-icon-down-2x-x: 570px;
$sm-icon-down-2x-y: 358px;
$sm-icon-down-2x-offset-x: -570px;
$sm-icon-down-2x-offset-y: -358px;
$sm-icon-down-2x-width: 32px;
$sm-icon-down-2x-height: 20px;
$sm-icon-down-2x-total-width: 876px;
$sm-icon-down-2x-total-height: 582px;
$sm-icon-down-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-down-2x: (570px, 358px, -570px, -358px, 32px, 20px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_down@2x', );
$sm-icon-featured01-2x-name: 'sm-icon_featured01@2x';
$sm-icon-featured01-2x-x: 0px;
$sm-icon-featured01-2x-y: 416px;
$sm-icon-featured01-2x-offset-x: 0px;
$sm-icon-featured01-2x-offset-y: -416px;
$sm-icon-featured01-2x-width: 94px;
$sm-icon-featured01-2x-height: 74px;
$sm-icon-featured01-2x-total-width: 876px;
$sm-icon-featured01-2x-total-height: 582px;
$sm-icon-featured01-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-featured01-2x: (0px, 416px, 0px, -416px, 94px, 74px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_featured01@2x', );
$sm-icon-featured02-2x-name: 'sm-icon_featured02@2x';
$sm-icon-featured02-2x-x: 106px;
$sm-icon-featured02-2x-y: 416px;
$sm-icon-featured02-2x-offset-x: -106px;
$sm-icon-featured02-2x-offset-y: -416px;
$sm-icon-featured02-2x-width: 94px;
$sm-icon-featured02-2x-height: 74px;
$sm-icon-featured02-2x-total-width: 876px;
$sm-icon-featured02-2x-total-height: 582px;
$sm-icon-featured02-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-featured02-2x: (106px, 416px, -106px, -416px, 94px, 74px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_featured02@2x', );
$sm-icon-featured03-2x-name: 'sm-icon_featured03@2x';
$sm-icon-featured03-2x-x: 212px;
$sm-icon-featured03-2x-y: 416px;
$sm-icon-featured03-2x-offset-x: -212px;
$sm-icon-featured03-2x-offset-y: -416px;
$sm-icon-featured03-2x-width: 94px;
$sm-icon-featured03-2x-height: 74px;
$sm-icon-featured03-2x-total-width: 876px;
$sm-icon-featured03-2x-total-height: 582px;
$sm-icon-featured03-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-featured03-2x: (212px, 416px, -212px, -416px, 94px, 74px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_featured03@2x', );
$sm-icon-featured04-2x-name: 'sm-icon_featured04@2x';
$sm-icon-featured04-2x-x: 318px;
$sm-icon-featured04-2x-y: 416px;
$sm-icon-featured04-2x-offset-x: -318px;
$sm-icon-featured04-2x-offset-y: -416px;
$sm-icon-featured04-2x-width: 94px;
$sm-icon-featured04-2x-height: 74px;
$sm-icon-featured04-2x-total-width: 876px;
$sm-icon-featured04-2x-total-height: 582px;
$sm-icon-featured04-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-featured04-2x: (318px, 416px, -318px, -416px, 94px, 74px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_featured04@2x', );
$sm-icon-featured05-2x-name: 'sm-icon_featured05@2x';
$sm-icon-featured05-2x-x: 732px;
$sm-icon-featured05-2x-y: 250px;
$sm-icon-featured05-2x-offset-x: -732px;
$sm-icon-featured05-2x-offset-y: -250px;
$sm-icon-featured05-2x-width: 94px;
$sm-icon-featured05-2x-height: 74px;
$sm-icon-featured05-2x-total-width: 876px;
$sm-icon-featured05-2x-total-height: 582px;
$sm-icon-featured05-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-featured05-2x: (732px, 250px, -732px, -250px, 94px, 74px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_featured05@2x', );
$sm-icon-hit-2x-name: 'sm-icon_hit@2x';
$sm-icon-hit-2x-x: 552px;
$sm-icon-hit-2x-y: 416px;
$sm-icon-hit-2x-offset-x: -552px;
$sm-icon-hit-2x-offset-y: -416px;
$sm-icon-hit-2x-width: 26px;
$sm-icon-hit-2x-height: 22px;
$sm-icon-hit-2x-total-width: 876px;
$sm-icon-hit-2x-total-height: 582px;
$sm-icon-hit-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-hit-2x: (552px, 416px, -552px, -416px, 26px, 22px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_hit@2x', );
$sm-icon-hit-02-2x-name: 'sm-icon_hit_02@2x';
$sm-icon-hit-02-2x-x: 818px;
$sm-icon-hit-02-2x-y: 194px;
$sm-icon-hit-02-2x-offset-x: -818px;
$sm-icon-hit-02-2x-offset-y: -194px;
$sm-icon-hit-02-2x-width: 34px;
$sm-icon-hit-02-2x-height: 26px;
$sm-icon-hit-02-2x-total-width: 876px;
$sm-icon-hit-02-2x-total-height: 582px;
$sm-icon-hit-02-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-hit-02-2x: (818px, 194px, -818px, -194px, 34px, 26px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_hit_02@2x', );
$sm-icon-message-2x-name: 'sm-icon_message@2x';
$sm-icon-message-2x-x: 208px;
$sm-icon-message-2x-y: 0px;
$sm-icon-message-2x-offset-x: -208px;
$sm-icon-message-2x-offset-y: 0px;
$sm-icon-message-2x-width: 196px;
$sm-icon-message-2x-height: 196px;
$sm-icon-message-2x-total-width: 876px;
$sm-icon-message-2x-total-height: 582px;
$sm-icon-message-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-message-2x: (208px, 0px, -208px, 0px, 196px, 196px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_message@2x', );
$sm-icon-new-2x-name: 'sm-icon_new@2x';
$sm-icon-new-2x-x: 516px;
$sm-icon-new-2x-y: 416px;
$sm-icon-new-2x-offset-x: -516px;
$sm-icon-new-2x-offset-y: -416px;
$sm-icon-new-2x-width: 24px;
$sm-icon-new-2x-height: 24px;
$sm-icon-new-2x-total-width: 876px;
$sm-icon-new-2x-total-height: 582px;
$sm-icon-new-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-new-2x: (516px, 416px, -516px, -416px, 24px, 24px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_new@2x', );
$sm-icon-pdf-2x-name: 'sm-icon_pdf@2x';
$sm-icon-pdf-2x-x: 244px;
$sm-icon-pdf-2x-y: 502px;
$sm-icon-pdf-2x-offset-x: -244px;
$sm-icon-pdf-2x-offset-y: -502px;
$sm-icon-pdf-2x-width: 64px;
$sm-icon-pdf-2x-height: 64px;
$sm-icon-pdf-2x-total-width: 876px;
$sm-icon-pdf-2x-total-height: 582px;
$sm-icon-pdf-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-pdf-2x: (244px, 502px, -244px, -502px, 64px, 64px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_pdf@2x', );
$sm-icon-recommend-2x-name: 'sm-icon_recommend@2x';
$sm-icon-recommend-2x-x: 856px;
$sm-icon-recommend-2x-y: 138px;
$sm-icon-recommend-2x-offset-x: -856px;
$sm-icon-recommend-2x-offset-y: -138px;
$sm-icon-recommend-2x-width: 18px;
$sm-icon-recommend-2x-height: 22px;
$sm-icon-recommend-2x-total-width: 876px;
$sm-icon-recommend-2x-total-height: 582px;
$sm-icon-recommend-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-recommend-2x: (856px, 138px, -856px, -138px, 18px, 22px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_recommend@2x', );
$sm-icon-recommend-02-2x-name: 'sm-icon_recommend_02@2x';
$sm-icon-recommend-02-2x-x: 530px;
$sm-icon-recommend-02-2x-y: 358px;
$sm-icon-recommend-02-2x-offset-x: -530px;
$sm-icon-recommend-02-2x-offset-y: -358px;
$sm-icon-recommend-02-2x-width: 28px;
$sm-icon-recommend-02-2x-height: 26px;
$sm-icon-recommend-02-2x-total-width: 876px;
$sm-icon-recommend-02-2x-total-height: 582px;
$sm-icon-recommend-02-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-recommend-02-2x: (530px, 358px, -530px, -358px, 28px, 26px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_recommend_02@2x', );
$sm-icon-search-2x-name: 'sm-icon_search@2x';
$sm-icon-search-2x-x: 844px;
$sm-icon-search-2x-y: 82px;
$sm-icon-search-2x-offset-x: -844px;
$sm-icon-search-2x-offset-y: -82px;
$sm-icon-search-2x-width: 32px;
$sm-icon-search-2x-height: 32px;
$sm-icon-search-2x-total-width: 876px;
$sm-icon-search-2x-total-height: 582px;
$sm-icon-search-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-search-2x: (844px, 82px, -844px, -82px, 32px, 32px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_search@2x', );
$sm-icon-shortcut-2x-name: 'sm-icon_shortcut@2x';
$sm-icon-shortcut-2x-x: 92px;
$sm-icon-shortcut-2x-y: 502px;
$sm-icon-shortcut-2x-offset-x: -92px;
$sm-icon-shortcut-2x-offset-y: -502px;
$sm-icon-shortcut-2x-width: 64px;
$sm-icon-shortcut-2x-height: 64px;
$sm-icon-shortcut-2x-total-width: 876px;
$sm-icon-shortcut-2x-total-height: 582px;
$sm-icon-shortcut-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-shortcut-2x: (92px, 502px, -92px, -502px, 64px, 64px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_shortcut@2x', );
$sm-icon-support01-2x-name: 'sm-icon_support01@2x';
$sm-icon-support01-2x-x: 0px;
$sm-icon-support01-2x-y: 208px;
$sm-icon-support01-2x-offset-x: 0px;
$sm-icon-support01-2x-offset-y: -208px;
$sm-icon-support01-2x-width: 196px;
$sm-icon-support01-2x-height: 196px;
$sm-icon-support01-2x-total-width: 876px;
$sm-icon-support01-2x-total-height: 582px;
$sm-icon-support01-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-support01-2x: (0px, 208px, 0px, -208px, 196px, 196px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_support01@2x', );
$sm-icon-support02-2x-name: 'sm-icon_support02@2x';
$sm-icon-support02-2x-x: 208px;
$sm-icon-support02-2x-y: 208px;
$sm-icon-support02-2x-offset-x: -208px;
$sm-icon-support02-2x-offset-y: -208px;
$sm-icon-support02-2x-width: 196px;
$sm-icon-support02-2x-height: 196px;
$sm-icon-support02-2x-total-width: 876px;
$sm-icon-support02-2x-total-height: 582px;
$sm-icon-support02-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-support02-2x: (208px, 208px, -208px, -208px, 196px, 196px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_support02@2x', );
$sm-icon-support03-2x-name: 'sm-icon_support03@2x';
$sm-icon-support03-2x-x: 0px;
$sm-icon-support03-2x-y: 0px;
$sm-icon-support03-2x-offset-x: 0px;
$sm-icon-support03-2x-offset-y: 0px;
$sm-icon-support03-2x-width: 196px;
$sm-icon-support03-2x-height: 196px;
$sm-icon-support03-2x-total-width: 876px;
$sm-icon-support03-2x-total-height: 582px;
$sm-icon-support03-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-support03-2x: (0px, 0px, 0px, 0px, 196px, 196px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_support03@2x', );
$sm-icon-up-2x-name: 'sm-icon_up@2x';
$sm-icon-up-2x-x: 614px;
$sm-icon-up-2x-y: 358px;
$sm-icon-up-2x-offset-x: -614px;
$sm-icon-up-2x-offset-y: -358px;
$sm-icon-up-2x-width: 32px;
$sm-icon-up-2x-height: 20px;
$sm-icon-up-2x-total-width: 876px;
$sm-icon-up-2x-total-height: 582px;
$sm-icon-up-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-up-2x: (614px, 358px, -614px, -358px, 32px, 20px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_up@2x', );
$sm-icon-user-2x-name: 'sm-icon_user@2x';
$sm-icon-user-2x-x: 792px;
$sm-icon-user-2x-y: 82px;
$sm-icon-user-2x-offset-x: -792px;
$sm-icon-user-2x-offset-y: -82px;
$sm-icon-user-2x-width: 40px;
$sm-icon-user-2x-height: 40px;
$sm-icon-user-2x-total-width: 876px;
$sm-icon-user-2x-total-height: 582px;
$sm-icon-user-2x-image: '../images/mobile/sprites@2x.png';
$sm-icon-user-2x: (792px, 82px, -792px, -82px, 40px, 40px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-icon_user@2x', );
$sm-nugu-2x-name: 'sm-nugu@2x';
$sm-nugu-2x-x: 416px;
$sm-nugu-2x-y: 138px;
$sm-nugu-2x-offset-x: -416px;
$sm-nugu-2x-offset-y: -138px;
$sm-nugu-2x-width: 286px;
$sm-nugu-2x-height: 44px;
$sm-nugu-2x-total-width: 876px;
$sm-nugu-2x-total-height: 582px;
$sm-nugu-2x-image: '../images/mobile/sprites@2x.png';
$sm-nugu-2x: (416px, 138px, -416px, -138px, 286px, 44px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-nugu@2x', );
$sm-nugu-big-2x-name: 'sm-nugu_big@2x';
$sm-nugu-big-2x-x: 416px;
$sm-nugu-big-2x-y: 0px;
$sm-nugu-big-2x-offset-x: -416px;
$sm-nugu-big-2x-offset-y: 0px;
$sm-nugu-big-2x-width: 460px;
$sm-nugu-big-2x-height: 70px;
$sm-nugu-big-2x-total-width: 876px;
$sm-nugu-big-2x-total-height: 582px;
$sm-nugu-big-2x-image: '../images/mobile/sprites@2x.png';
$sm-nugu-big-2x: (416px, 0px, -416px, 0px, 460px, 70px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-nugu_big@2x', );
$sm-title-tutorial-2x-name: 'sm-title_tutorial@2x';
$sm-title-tutorial-2x-x: 416px;
$sm-title-tutorial-2x-y: 82px;
$sm-title-tutorial-2x-offset-x: -416px;
$sm-title-tutorial-2x-offset-y: -82px;
$sm-title-tutorial-2x-width: 364px;
$sm-title-tutorial-2x-height: 44px;
$sm-title-tutorial-2x-total-width: 876px;
$sm-title-tutorial-2x-total-height: 582px;
$sm-title-tutorial-2x-image: '../images/mobile/sprites@2x.png';
$sm-title-tutorial-2x: (416px, 82px, -416px, -82px, 364px, 44px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-title_tutorial@2x', );
$sm-txt-melon-2x-name: 'sm-txt_melon@2x';
$sm-txt-melon-2x-x: 416px;
$sm-txt-melon-2x-y: 358px;
$sm-txt-melon-2x-offset-x: -416px;
$sm-txt-melon-2x-offset-y: -358px;
$sm-txt-melon-2x-width: 102px;
$sm-txt-melon-2x-height: 28px;
$sm-txt-melon-2x-total-width: 876px;
$sm-txt-melon-2x-total-height: 582px;
$sm-txt-melon-2x-image: '../images/mobile/sprites@2x.png';
$sm-txt-melon-2x: (416px, 358px, -416px, -358px, 102px, 28px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-txt_melon@2x', );
$sm-txt-nugu-01-2x-name: 'sm-txt_nugu_01@2x';
$sm-txt-nugu-01-2x-x: 416px;
$sm-txt-nugu-01-2x-y: 194px;
$sm-txt-nugu-01-2x-offset-x: -416px;
$sm-txt-nugu-01-2x-offset-y: -194px;
$sm-txt-nugu-01-2x-width: 200px;
$sm-txt-nugu-01-2x-height: 44px;
$sm-txt-nugu-01-2x-total-width: 876px;
$sm-txt-nugu-01-2x-total-height: 582px;
$sm-txt-nugu-01-2x-image: '../images/mobile/sprites@2x.png';
$sm-txt-nugu-01-2x: (416px, 194px, -416px, -194px, 200px, 44px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-txt_nugu_01@2x', );
$sm-txt-nugu-02-2x-name: 'sm-txt_nugu_02@2x';
$sm-txt-nugu-02-2x-x: 628px;
$sm-txt-nugu-02-2x-y: 194px;
$sm-txt-nugu-02-2x-offset-x: -628px;
$sm-txt-nugu-02-2x-offset-y: -194px;
$sm-txt-nugu-02-2x-width: 178px;
$sm-txt-nugu-02-2x-height: 38px;
$sm-txt-nugu-02-2x-total-width: 876px;
$sm-txt-nugu-02-2x-total-height: 582px;
$sm-txt-nugu-02-2x-image: '../images/mobile/sprites@2x.png';
$sm-txt-nugu-02-2x: (628px, 194px, -628px, -194px, 178px, 38px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-txt_nugu_02@2x', );
$sm-txt-smarthome-2x-name: 'sm-txt_smarthome@2x';
$sm-txt-smarthome-2x-x: 714px;
$sm-txt-smarthome-2x-y: 138px;
$sm-txt-smarthome-2x-offset-x: -714px;
$sm-txt-smarthome-2x-offset-y: -138px;
$sm-txt-smarthome-2x-width: 130px;
$sm-txt-smarthome-2x-height: 38px;
$sm-txt-smarthome-2x-total-width: 876px;
$sm-txt-smarthome-2x-total-height: 582px;
$sm-txt-smarthome-2x-image: '../images/mobile/sprites@2x.png';
$sm-txt-smarthome-2x: (714px, 138px, -714px, -138px, 130px, 38px, 876px, 582px, '../images/mobile/sprites@2x.png', 'sm-txt_smarthome@2x', );
$spritesheet-width: 438px;
$spritesheet-height: 291px;
$spritesheet-image: '../images/mobile/sprites.png';
$spritesheet-sprites: ($sm-btn-clear, $sm-btn-close, $sm-btn-fileupload, $sm-btn-list, $sm-btn-login, $sm-btn-menus, $sm-btn-nugu, $sm-btn-play, $sm-dq-left, $sm-dq-left-02, $sm-dq-right, $sm-dq-right-02, $sm-icon-accordion-down, $sm-icon-accordion-up, $sm-icon-down, $sm-icon-featured01, $sm-icon-featured02, $sm-icon-featured03, $sm-icon-featured04, $sm-icon-featured05, $sm-icon-hit, $sm-icon-hit-02, $sm-icon-message, $sm-icon-new, $sm-icon-pdf, $sm-icon-recommend, $sm-icon-recommend-02, $sm-icon-search, $sm-icon-shortcut, $sm-icon-support01, $sm-icon-support02, $sm-icon-support03, $sm-icon-up, $sm-icon-user, $sm-nugu, $sm-nugu-big, $sm-title-tutorial, $sm-txt-melon, $sm-txt-nugu-01, $sm-txt-nugu-02, $sm-txt-smarthome, );
$spritesheet: (438px, 291px, '../images/mobile/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 876px;
$retina-spritesheet-height: 582px;
$retina-spritesheet-image: '../images/mobile/sprites@2x.png';
$retina-spritesheet-sprites: ($sm-btn-clear-2x, $sm-btn-close-2x, $sm-btn-fileupload-2x, $sm-btn-list-2x, $sm-btn-login-2x, $sm-btn-menus-2x, $sm-btn-nugu-2x, $sm-btn-play-2x, $sm-dq-left-2x, $sm-dq-left-02-2x, $sm-dq-right-2x, $sm-dq-right-02-2x, $sm-icon-accordion-down-2x, $sm-icon-accordion-up-2x, $sm-icon-down-2x, $sm-icon-featured01-2x, $sm-icon-featured02-2x, $sm-icon-featured03-2x, $sm-icon-featured04-2x, $sm-icon-featured05-2x, $sm-icon-hit-2x, $sm-icon-hit-02-2x, $sm-icon-message-2x, $sm-icon-new-2x, $sm-icon-pdf-2x, $sm-icon-recommend-2x, $sm-icon-recommend-02-2x, $sm-icon-search-2x, $sm-icon-shortcut-2x, $sm-icon-support01-2x, $sm-icon-support02-2x, $sm-icon-support03-2x, $sm-icon-up-2x, $sm-icon-user-2x, $sm-nugu-2x, $sm-nugu-big-2x, $sm-title-tutorial-2x, $sm-txt-melon-2x, $sm-txt-nugu-01-2x, $sm-txt-nugu-02-2x, $sm-txt-smarthome-2x, );
$retina-spritesheet: (876px, 582px, '../images/mobile/sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sm-btn-clear-group-name: 'sm-btn_clear';
$sm-btn-clear-group: ('sm-btn_clear', $sm-btn-clear, $sm-btn-clear-2x, );
$sm-btn-close-group-name: 'sm-btn_close';
$sm-btn-close-group: ('sm-btn_close', $sm-btn-close, $sm-btn-close-2x, );
$sm-btn-fileupload-group-name: 'sm-btn_fileupload';
$sm-btn-fileupload-group: ('sm-btn_fileupload', $sm-btn-fileupload, $sm-btn-fileupload-2x, );
$sm-btn-list-group-name: 'sm-btn_list';
$sm-btn-list-group: ('sm-btn_list', $sm-btn-list, $sm-btn-list-2x, );
$sm-btn-login-group-name: 'sm-btn_login';
$sm-btn-login-group: ('sm-btn_login', $sm-btn-login, $sm-btn-login-2x, );
$sm-btn-menus-group-name: 'sm-btn_menus';
$sm-btn-menus-group: ('sm-btn_menus', $sm-btn-menus, $sm-btn-menus-2x, );
$sm-btn-nugu-group-name: 'sm-btn_nugu';
$sm-btn-nugu-group: ('sm-btn_nugu', $sm-btn-nugu, $sm-btn-nugu-2x, );
$sm-btn-play-group-name: 'sm-btn_play';
$sm-btn-play-group: ('sm-btn_play', $sm-btn-play, $sm-btn-play-2x, );
$sm-dq-left-group-name: 'sm-dq_left';
$sm-dq-left-group: ('sm-dq_left', $sm-dq-left, $sm-dq-left-2x, );
$sm-dq-left-02-group-name: 'sm-dq_left_02';
$sm-dq-left-02-group: ('sm-dq_left_02', $sm-dq-left-02, $sm-dq-left-02-2x, );
$sm-dq-right-group-name: 'sm-dq_right';
$sm-dq-right-group: ('sm-dq_right', $sm-dq-right, $sm-dq-right-2x, );
$sm-dq-right-02-group-name: 'sm-dq_right_02';
$sm-dq-right-02-group: ('sm-dq_right_02', $sm-dq-right-02, $sm-dq-right-02-2x, );
$sm-icon-accordion-down-group-name: 'sm-icon_accordion_down';
$sm-icon-accordion-down-group: ('sm-icon_accordion_down', $sm-icon-accordion-down, $sm-icon-accordion-down-2x, );
$sm-icon-accordion-up-group-name: 'sm-icon_accordion_up';
$sm-icon-accordion-up-group: ('sm-icon_accordion_up', $sm-icon-accordion-up, $sm-icon-accordion-up-2x, );
$sm-icon-down-group-name: 'sm-icon_down';
$sm-icon-down-group: ('sm-icon_down', $sm-icon-down, $sm-icon-down-2x, );
$sm-icon-featured01-group-name: 'sm-icon_featured01';
$sm-icon-featured01-group: ('sm-icon_featured01', $sm-icon-featured01, $sm-icon-featured01-2x, );
$sm-icon-featured02-group-name: 'sm-icon_featured02';
$sm-icon-featured02-group: ('sm-icon_featured02', $sm-icon-featured02, $sm-icon-featured02-2x, );
$sm-icon-featured03-group-name: 'sm-icon_featured03';
$sm-icon-featured03-group: ('sm-icon_featured03', $sm-icon-featured03, $sm-icon-featured03-2x, );
$sm-icon-featured04-group-name: 'sm-icon_featured04';
$sm-icon-featured04-group: ('sm-icon_featured04', $sm-icon-featured04, $sm-icon-featured04-2x, );
$sm-icon-featured05-group-name: 'sm-icon_featured05';
$sm-icon-featured05-group: ('sm-icon_featured05', $sm-icon-featured05, $sm-icon-featured05-2x, );
$sm-icon-hit-group-name: 'sm-icon_hit';
$sm-icon-hit-group: ('sm-icon_hit', $sm-icon-hit, $sm-icon-hit-2x, );
$sm-icon-hit-02-group-name: 'sm-icon_hit_02';
$sm-icon-hit-02-group: ('sm-icon_hit_02', $sm-icon-hit-02, $sm-icon-hit-02-2x, );
$sm-icon-message-group-name: 'sm-icon_message';
$sm-icon-message-group: ('sm-icon_message', $sm-icon-message, $sm-icon-message-2x, );
$sm-icon-new-group-name: 'sm-icon_new';
$sm-icon-new-group: ('sm-icon_new', $sm-icon-new, $sm-icon-new-2x, );
$sm-icon-pdf-group-name: 'sm-icon_pdf';
$sm-icon-pdf-group: ('sm-icon_pdf', $sm-icon-pdf, $sm-icon-pdf-2x, );
$sm-icon-recommend-group-name: 'sm-icon_recommend';
$sm-icon-recommend-group: ('sm-icon_recommend', $sm-icon-recommend, $sm-icon-recommend-2x, );
$sm-icon-recommend-02-group-name: 'sm-icon_recommend_02';
$sm-icon-recommend-02-group: ('sm-icon_recommend_02', $sm-icon-recommend-02, $sm-icon-recommend-02-2x, );
$sm-icon-search-group-name: 'sm-icon_search';
$sm-icon-search-group: ('sm-icon_search', $sm-icon-search, $sm-icon-search-2x, );
$sm-icon-shortcut-group-name: 'sm-icon_shortcut';
$sm-icon-shortcut-group: ('sm-icon_shortcut', $sm-icon-shortcut, $sm-icon-shortcut-2x, );
$sm-icon-support01-group-name: 'sm-icon_support01';
$sm-icon-support01-group: ('sm-icon_support01', $sm-icon-support01, $sm-icon-support01-2x, );
$sm-icon-support02-group-name: 'sm-icon_support02';
$sm-icon-support02-group: ('sm-icon_support02', $sm-icon-support02, $sm-icon-support02-2x, );
$sm-icon-support03-group-name: 'sm-icon_support03';
$sm-icon-support03-group: ('sm-icon_support03', $sm-icon-support03, $sm-icon-support03-2x, );
$sm-icon-up-group-name: 'sm-icon_up';
$sm-icon-up-group: ('sm-icon_up', $sm-icon-up, $sm-icon-up-2x, );
$sm-icon-user-group-name: 'sm-icon_user';
$sm-icon-user-group: ('sm-icon_user', $sm-icon-user, $sm-icon-user-2x, );
$sm-nugu-group-name: 'sm-nugu';
$sm-nugu-group: ('sm-nugu', $sm-nugu, $sm-nugu-2x, );
$sm-nugu-big-group-name: 'sm-nugu_big';
$sm-nugu-big-group: ('sm-nugu_big', $sm-nugu-big, $sm-nugu-big-2x, );
$sm-title-tutorial-group-name: 'sm-title_tutorial';
$sm-title-tutorial-group: ('sm-title_tutorial', $sm-title-tutorial, $sm-title-tutorial-2x, );
$sm-txt-melon-group-name: 'sm-txt_melon';
$sm-txt-melon-group: ('sm-txt_melon', $sm-txt-melon, $sm-txt-melon-2x, );
$sm-txt-nugu-01-group-name: 'sm-txt_nugu_01';
$sm-txt-nugu-01-group: ('sm-txt_nugu_01', $sm-txt-nugu-01, $sm-txt-nugu-01-2x, );
$sm-txt-nugu-02-group-name: 'sm-txt_nugu_02';
$sm-txt-nugu-02-group: ('sm-txt_nugu_02', $sm-txt-nugu-02, $sm-txt-nugu-02-2x, );
$sm-txt-smarthome-group-name: 'sm-txt_smarthome';
$sm-txt-smarthome-group: ('sm-txt_smarthome', $sm-txt-smarthome, $sm-txt-smarthome-2x, );
$retina-groups: ($sm-btn-clear-group, $sm-btn-close-group, $sm-btn-fileupload-group, $sm-btn-list-group, $sm-btn-login-group, $sm-btn-menus-group, $sm-btn-nugu-group, $sm-btn-play-group, $sm-dq-left-group, $sm-dq-left-02-group, $sm-dq-right-group, $sm-dq-right-02-group, $sm-icon-accordion-down-group, $sm-icon-accordion-up-group, $sm-icon-down-group, $sm-icon-featured01-group, $sm-icon-featured02-group, $sm-icon-featured03-group, $sm-icon-featured04-group, $sm-icon-featured05-group, $sm-icon-hit-group, $sm-icon-hit-02-group, $sm-icon-message-group, $sm-icon-new-group, $sm-icon-pdf-group, $sm-icon-recommend-group, $sm-icon-recommend-02-group, $sm-icon-search-group, $sm-icon-shortcut-group, $sm-icon-support01-group, $sm-icon-support02-group, $sm-icon-support03-group, $sm-icon-up-group, $sm-icon-user-group, $sm-nugu-group, $sm-nugu-big-group, $sm-title-tutorial-group, $sm-txt-melon-group, $sm-txt-nugu-01-group, $sm-txt-nugu-02-group, $sm-txt-smarthome-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
