/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sd-btn-clear-name: 'sd-btn_clear';
$sd-btn-clear-x: 0px;
$sd-btn-clear-y: 134px;
$sd-btn-clear-offset-x: 0px;
$sd-btn-clear-offset-y: -134px;
$sd-btn-clear-width: 44px;
$sd-btn-clear-height: 44px;
$sd-btn-clear-total-width: 214px;
$sd-btn-clear-total-height: 178px;
$sd-btn-clear-image: '../images/desktop/sprites.png';
$sd-btn-clear: (0px, 134px, 0px, -134px, 44px, 44px, 214px, 178px, '../images/desktop/sprites.png', 'sd-btn_clear', );
$sd-btn-first-name: 'sd-btn_first';
$sd-btn-first-x: 167px;
$sd-btn-first-y: 134px;
$sd-btn-first-offset-x: -167px;
$sd-btn-first-offset-y: -134px;
$sd-btn-first-width: 23px;
$sd-btn-first-height: 23px;
$sd-btn-first-total-width: 214px;
$sd-btn-first-total-height: 178px;
$sd-btn-first-image: '../images/desktop/sprites.png';
$sd-btn-first: (167px, 134px, -167px, -134px, 23px, 23px, 214px, 178px, '../images/desktop/sprites.png', 'sd-btn_first', );
$sd-btn-last-name: 'sd-btn_last';
$sd-btn-last-x: 80px;
$sd-btn-last-y: 134px;
$sd-btn-last-offset-x: -80px;
$sd-btn-last-offset-y: -134px;
$sd-btn-last-width: 23px;
$sd-btn-last-height: 23px;
$sd-btn-last-total-width: 214px;
$sd-btn-last-total-height: 178px;
$sd-btn-last-image: '../images/desktop/sprites.png';
$sd-btn-last: (80px, 134px, -80px, -134px, 23px, 23px, 214px, 178px, '../images/desktop/sprites.png', 'sd-btn_last', );
$sd-btn-login-name: 'sd-btn_login';
$sd-btn-login-x: 134px;
$sd-btn-login-y: 62px;
$sd-btn-login-offset-x: -134px;
$sd-btn-login-offset-y: -62px;
$sd-btn-login-width: 60px;
$sd-btn-login-height: 60px;
$sd-btn-login-total-width: 214px;
$sd-btn-login-total-height: 178px;
$sd-btn-login-image: '../images/desktop/sprites.png';
$sd-btn-login: (134px, 62px, -134px, -62px, 60px, 60px, 214px, 178px, '../images/desktop/sprites.png', 'sd-btn_login', );
$sd-btn-next-name: 'sd-btn_next';
$sd-btn-next-x: 109px;
$sd-btn-next-y: 134px;
$sd-btn-next-offset-x: -109px;
$sd-btn-next-offset-y: -134px;
$sd-btn-next-width: 23px;
$sd-btn-next-height: 23px;
$sd-btn-next-total-width: 214px;
$sd-btn-next-total-height: 178px;
$sd-btn-next-image: '../images/desktop/sprites.png';
$sd-btn-next: (109px, 134px, -109px, -134px, 23px, 23px, 214px, 178px, '../images/desktop/sprites.png', 'sd-btn_next', );
$sd-btn-nugu-name: 'sd-btn_nugu';
$sd-btn-nugu-x: 134px;
$sd-btn-nugu-y: 0px;
$sd-btn-nugu-offset-x: -134px;
$sd-btn-nugu-offset-y: 0px;
$sd-btn-nugu-width: 80px;
$sd-btn-nugu-height: 56px;
$sd-btn-nugu-total-width: 214px;
$sd-btn-nugu-total-height: 178px;
$sd-btn-nugu-image: '../images/desktop/sprites.png';
$sd-btn-nugu: (134px, 0px, -134px, 0px, 80px, 56px, 214px, 178px, '../images/desktop/sprites.png', 'sd-btn_nugu', );
$sd-btn-prev-name: 'sd-btn_prev';
$sd-btn-prev-x: 138px;
$sd-btn-prev-y: 134px;
$sd-btn-prev-offset-x: -138px;
$sd-btn-prev-offset-y: -134px;
$sd-btn-prev-width: 23px;
$sd-btn-prev-height: 23px;
$sd-btn-prev-total-width: 214px;
$sd-btn-prev-total-height: 178px;
$sd-btn-prev-image: '../images/desktop/sprites.png';
$sd-btn-prev: (138px, 134px, -138px, -134px, 23px, 23px, 214px, 178px, '../images/desktop/sprites.png', 'sd-btn_prev', );
$sd-icon-accordion-down-name: 'sd-icon_accordion_down';
$sd-icon-accordion-down-x: 50px;
$sd-icon-accordion-down-y: 164px;
$sd-icon-accordion-down-offset-x: -50px;
$sd-icon-accordion-down-offset-y: -164px;
$sd-icon-accordion-down-width: 26px;
$sd-icon-accordion-down-height: 14px;
$sd-icon-accordion-down-total-width: 214px;
$sd-icon-accordion-down-total-height: 178px;
$sd-icon-accordion-down-image: '../images/desktop/sprites.png';
$sd-icon-accordion-down: (50px, 164px, -50px, -164px, 26px, 14px, 214px, 178px, '../images/desktop/sprites.png', 'sd-icon_accordion_down', );
$sd-icon-accordion-up-name: 'sd-icon_accordion_up';
$sd-icon-accordion-up-x: 82px;
$sd-icon-accordion-up-y: 164px;
$sd-icon-accordion-up-offset-x: -82px;
$sd-icon-accordion-up-offset-y: -164px;
$sd-icon-accordion-up-width: 26px;
$sd-icon-accordion-up-height: 14px;
$sd-icon-accordion-up-total-width: 214px;
$sd-icon-accordion-up-total-height: 178px;
$sd-icon-accordion-up-image: '../images/desktop/sprites.png';
$sd-icon-accordion-up: (82px, 164px, -82px, -164px, 26px, 14px, 214px, 178px, '../images/desktop/sprites.png', 'sd-icon_accordion_up', );
$sd-icon-detail-name: 'sd-icon_detail';
$sd-icon-detail-x: 200px;
$sd-icon-detail-y: 62px;
$sd-icon-detail-offset-x: -200px;
$sd-icon-detail-offset-y: -62px;
$sd-icon-detail-width: 14px;
$sd-icon-detail-height: 26px;
$sd-icon-detail-total-width: 214px;
$sd-icon-detail-total-height: 178px;
$sd-icon-detail-image: '../images/desktop/sprites.png';
$sd-icon-detail: (200px, 62px, -200px, -62px, 14px, 26px, 214px, 178px, '../images/desktop/sprites.png', 'sd-icon_detail', );
$sd-icon-down-name: 'sd-icon_down';
$sd-icon-down-x: 114px;
$sd-icon-down-y: 164px;
$sd-icon-down-offset-x: -114px;
$sd-icon-down-offset-y: -164px;
$sd-icon-down-width: 22px;
$sd-icon-down-height: 14px;
$sd-icon-down-total-width: 214px;
$sd-icon-down-total-height: 178px;
$sd-icon-down-image: '../images/desktop/sprites.png';
$sd-icon-down: (114px, 164px, -114px, -164px, 22px, 14px, 214px, 178px, '../images/desktop/sprites.png', 'sd-icon_down', );
$sd-icon-message-name: 'sd-icon_message';
$sd-icon-message-x: 0px;
$sd-icon-message-y: 0px;
$sd-icon-message-offset-x: 0px;
$sd-icon-message-offset-y: 0px;
$sd-icon-message-width: 128px;
$sd-icon-message-height: 128px;
$sd-icon-message-total-width: 214px;
$sd-icon-message-total-height: 178px;
$sd-icon-message-image: '../images/desktop/sprites.png';
$sd-icon-message: (0px, 0px, 0px, 0px, 128px, 128px, 214px, 178px, '../images/desktop/sprites.png', 'sd-icon_message', );
$sd-icon-new-name: 'sd-icon_new';
$sd-icon-new-x: 196px;
$sd-icon-new-y: 134px;
$sd-icon-new-offset-x: -196px;
$sd-icon-new-offset-y: -134px;
$sd-icon-new-width: 16px;
$sd-icon-new-height: 16px;
$sd-icon-new-total-width: 214px;
$sd-icon-new-total-height: 178px;
$sd-icon-new-image: '../images/desktop/sprites.png';
$sd-icon-new: (196px, 134px, -196px, -134px, 16px, 16px, 214px, 178px, '../images/desktop/sprites.png', 'sd-icon_new', );
$sd-icon-recommend-02-name: 'sd-icon_recommend_02';
$sd-icon-recommend-02-x: 200px;
$sd-icon-recommend-02-y: 94px;
$sd-icon-recommend-02-offset-x: -200px;
$sd-icon-recommend-02-offset-y: -94px;
$sd-icon-recommend-02-width: 14px;
$sd-icon-recommend-02-height: 12px;
$sd-icon-recommend-02-total-width: 214px;
$sd-icon-recommend-02-total-height: 178px;
$sd-icon-recommend-02-image: '../images/desktop/sprites.png';
$sd-icon-recommend-02: (200px, 94px, -200px, -94px, 14px, 12px, 214px, 178px, '../images/desktop/sprites.png', 'sd-icon_recommend_02', );
$sd-icon-search-name: 'sd-icon_search';
$sd-icon-search-x: 50px;
$sd-icon-search-y: 134px;
$sd-icon-search-offset-x: -50px;
$sd-icon-search-offset-y: -134px;
$sd-icon-search-width: 24px;
$sd-icon-search-height: 24px;
$sd-icon-search-total-width: 214px;
$sd-icon-search-total-height: 178px;
$sd-icon-search-image: '../images/desktop/sprites.png';
$sd-icon-search: (50px, 134px, -50px, -134px, 24px, 24px, 214px, 178px, '../images/desktop/sprites.png', 'sd-icon_search', );
$sd-icon-up-name: 'sd-icon_up';
$sd-icon-up-x: 142px;
$sd-icon-up-y: 164px;
$sd-icon-up-offset-x: -142px;
$sd-icon-up-offset-y: -164px;
$sd-icon-up-width: 22px;
$sd-icon-up-height: 14px;
$sd-icon-up-total-width: 214px;
$sd-icon-up-total-height: 178px;
$sd-icon-up-image: '../images/desktop/sprites.png';
$sd-icon-up: (142px, 164px, -142px, -164px, 22px, 14px, 214px, 178px, '../images/desktop/sprites.png', 'sd-icon_up', );
$spritesheet-width: 214px;
$spritesheet-height: 178px;
$spritesheet-image: '../images/desktop/sprites.png';
$spritesheet-sprites: ($sd-btn-clear, $sd-btn-first, $sd-btn-last, $sd-btn-login, $sd-btn-next, $sd-btn-nugu, $sd-btn-prev, $sd-icon-accordion-down, $sd-icon-accordion-up, $sd-icon-detail, $sd-icon-down, $sd-icon-message, $sd-icon-new, $sd-icon-recommend-02, $sd-icon-search, $sd-icon-up, );
$spritesheet: (214px, 178px, '../images/desktop/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
