/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sd-answer-left-name: 'sd-answer_left';
$sd-answer-left-x: 274px;
$sd-answer-left-y: 355px;
$sd-answer-left-offset-x: -274px;
$sd-answer-left-offset-y: -355px;
$sd-answer-left-width: 13px;
$sd-answer-left-height: 9px;
$sd-answer-left-total-width: 654px;
$sd-answer-left-total-height: 470px;
$sd-answer-left-image: '../images/desktop/sprites.png';
$sd-answer-left: (274px, 355px, -274px, -355px, 13px, 9px, 654px, 470px, '../images/desktop/sprites.png', 'sd-answer_left', );
$sd-answer-right-name: 'sd-answer_right';
$sd-answer-right-x: 255px;
$sd-answer-right-y: 355px;
$sd-answer-right-offset-x: -255px;
$sd-answer-right-offset-y: -355px;
$sd-answer-right-width: 13px;
$sd-answer-right-height: 9px;
$sd-answer-right-total-width: 654px;
$sd-answer-right-total-height: 470px;
$sd-answer-right-image: '../images/desktop/sprites.png';
$sd-answer-right: (255px, 355px, -255px, -355px, 13px, 9px, 654px, 470px, '../images/desktop/sprites.png', 'sd-answer_right', );
$sd-bg-radio-name: 'sd-bg_radio';
$sd-bg-radio-x: 633px;
$sd-bg-radio-y: 150px;
$sd-bg-radio-offset-x: -633px;
$sd-bg-radio-offset-y: -150px;
$sd-bg-radio-width: 20px;
$sd-bg-radio-height: 20px;
$sd-bg-radio-total-width: 654px;
$sd-bg-radio-total-height: 470px;
$sd-bg-radio-image: '../images/desktop/sprites.png';
$sd-bg-radio: (633px, 150px, -633px, -150px, 20px, 20px, 654px, 470px, '../images/desktop/sprites.png', 'sd-bg_radio', );
$sd-bg-radio-selected-name: 'sd-bg_radio_selected';
$sd-bg-radio-selected-x: 632px;
$sd-bg-radio-selected-y: 237px;
$sd-bg-radio-selected-offset-x: -632px;
$sd-bg-radio-selected-offset-y: -237px;
$sd-bg-radio-selected-width: 20px;
$sd-bg-radio-selected-height: 20px;
$sd-bg-radio-selected-total-width: 654px;
$sd-bg-radio-selected-total-height: 470px;
$sd-bg-radio-selected-image: '../images/desktop/sprites.png';
$sd-bg-radio-selected: (632px, 237px, -632px, -237px, 20px, 20px, 654px, 470px, '../images/desktop/sprites.png', 'sd-bg_radio_selected', );
$sd-btn-android-name: 'sd-btn_android';
$sd-btn-android-x: 427px;
$sd-btn-android-y: 95px;
$sd-btn-android-offset-x: -427px;
$sd-btn-android-offset-y: -95px;
$sd-btn-android-width: 160px;
$sd-btn-android-height: 49px;
$sd-btn-android-total-width: 654px;
$sd-btn-android-total-height: 470px;
$sd-btn-android-image: '../images/desktop/sprites.png';
$sd-btn-android: (427px, 95px, -427px, -95px, 160px, 49px, 654px, 470px, '../images/desktop/sprites.png', 'sd-btn_android', );
$sd-btn-clear-name: 'sd-btn_clear';
$sd-btn-clear-x: 272px;
$sd-btn-clear-y: 424px;
$sd-btn-clear-offset-x: -272px;
$sd-btn-clear-offset-y: -424px;
$sd-btn-clear-width: 44px;
$sd-btn-clear-height: 44px;
$sd-btn-clear-total-width: 654px;
$sd-btn-clear-total-height: 470px;
$sd-btn-clear-image: '../images/desktop/sprites.png';
$sd-btn-clear: (272px, 424px, -272px, -424px, 44px, 44px, 654px, 470px, '../images/desktop/sprites.png', 'sd-btn_clear', );
$sd-btn-close-name: 'sd-btn_close';
$sd-btn-close-x: 354px;
$sd-btn-close-y: 271px;
$sd-btn-close-offset-x: -354px;
$sd-btn-close-offset-y: -271px;
$sd-btn-close-width: 40px;
$sd-btn-close-height: 40px;
$sd-btn-close-total-width: 654px;
$sd-btn-close-total-height: 470px;
$sd-btn-close-image: '../images/desktop/sprites.png';
$sd-btn-close: (354px, 271px, -354px, -271px, 40px, 40px, 654px, 470px, '../images/desktop/sprites.png', 'sd-btn_close', );
$sd-btn-first-name: 'sd-btn_first';
$sd-btn-first-x: 351px;
$sd-btn-first-y: 318px;
$sd-btn-first-offset-x: -351px;
$sd-btn-first-offset-y: -318px;
$sd-btn-first-width: 23px;
$sd-btn-first-height: 23px;
$sd-btn-first-total-width: 654px;
$sd-btn-first-total-height: 470px;
$sd-btn-first-image: '../images/desktop/sprites.png';
$sd-btn-first: (351px, 318px, -351px, -318px, 23px, 23px, 654px, 470px, '../images/desktop/sprites.png', 'sd-btn_first', );
$sd-btn-ios-name: 'sd-btn_ios';
$sd-btn-ios-x: 427px;
$sd-btn-ios-y: 40px;
$sd-btn-ios-offset-x: -427px;
$sd-btn-ios-offset-y: -40px;
$sd-btn-ios-width: 160px;
$sd-btn-ios-height: 49px;
$sd-btn-ios-total-width: 654px;
$sd-btn-ios-total-height: 470px;
$sd-btn-ios-image: '../images/desktop/sprites.png';
$sd-btn-ios: (427px, 40px, -427px, -40px, 160px, 49px, 654px, 470px, '../images/desktop/sprites.png', 'sd-btn_ios', );
$sd-btn-last-name: 'sd-btn_last';
$sd-btn-last-x: 603px;
$sd-btn-last-y: 194px;
$sd-btn-last-offset-x: -603px;
$sd-btn-last-offset-y: -194px;
$sd-btn-last-width: 23px;
$sd-btn-last-height: 23px;
$sd-btn-last-total-width: 654px;
$sd-btn-last-total-height: 470px;
$sd-btn-last-image: '../images/desktop/sprites.png';
$sd-btn-last: (603px, 194px, -603px, -194px, 23px, 23px, 654px, 470px, '../images/desktop/sprites.png', 'sd-btn_last', );
$sd-btn-login-name: 'sd-btn_login';
$sd-btn-login-x: 497px;
$sd-btn-login-y: 342px;
$sd-btn-login-offset-x: -497px;
$sd-btn-login-offset-y: -342px;
$sd-btn-login-width: 60px;
$sd-btn-login-height: 60px;
$sd-btn-login-total-width: 654px;
$sd-btn-login-total-height: 470px;
$sd-btn-login-image: '../images/desktop/sprites.png';
$sd-btn-login: (497px, 342px, -497px, -342px, 60px, 60px, 654px, 470px, '../images/desktop/sprites.png', 'sd-btn_login', );
$sd-btn-next-name: 'sd-btn_next';
$sd-btn-next-x: 631px;
$sd-btn-next-y: 342px;
$sd-btn-next-offset-x: -631px;
$sd-btn-next-offset-y: -342px;
$sd-btn-next-width: 23px;
$sd-btn-next-height: 23px;
$sd-btn-next-total-width: 654px;
$sd-btn-next-total-height: 470px;
$sd-btn-next-image: '../images/desktop/sprites.png';
$sd-btn-next: (631px, 342px, -631px, -342px, 23px, 23px, 654px, 470px, '../images/desktop/sprites.png', 'sd-btn_next', );
$sd-btn-nugu-name: 'sd-btn_nugu';
$sd-btn-nugu-x: 427px;
$sd-btn-nugu-y: 280px;
$sd-btn-nugu-offset-x: -427px;
$sd-btn-nugu-offset-y: -280px;
$sd-btn-nugu-width: 80px;
$sd-btn-nugu-height: 56px;
$sd-btn-nugu-total-width: 654px;
$sd-btn-nugu-total-height: 470px;
$sd-btn-nugu-image: '../images/desktop/sprites.png';
$sd-btn-nugu: (427px, 280px, -427px, -280px, 80px, 56px, 654px, 470px, '../images/desktop/sprites.png', 'sd-btn_nugu', );
$sd-btn-play-name: 'sd-btn_play';
$sd-btn-play-x: 427px;
$sd-btn-play-y: 342px;
$sd-btn-play-offset-x: -427px;
$sd-btn-play-offset-y: -342px;
$sd-btn-play-width: 64px;
$sd-btn-play-height: 64px;
$sd-btn-play-total-width: 654px;
$sd-btn-play-total-height: 470px;
$sd-btn-play-image: '../images/desktop/sprites.png';
$sd-btn-play: (427px, 342px, -427px, -342px, 64px, 64px, 654px, 470px, '../images/desktop/sprites.png', 'sd-btn_play', );
$sd-btn-play-02-name: 'sd-btn_play_02';
$sd-btn-play-02-x: 293px;
$sd-btn-play-02-y: 134px;
$sd-btn-play-02-offset-x: -293px;
$sd-btn-play-02-offset-y: -134px;
$sd-btn-play-02-width: 128px;
$sd-btn-play-02-height: 128px;
$sd-btn-play-02-total-width: 654px;
$sd-btn-play-02-total-height: 470px;
$sd-btn-play-02-image: '../images/desktop/sprites.png';
$sd-btn-play-02: (293px, 134px, -293px, -134px, 128px, 128px, 654px, 470px, '../images/desktop/sprites.png', 'sd-btn_play_02', );
$sd-btn-prev-name: 'sd-btn_prev';
$sd-btn-prev-x: 603px;
$sd-btn-prev-y: 237px;
$sd-btn-prev-offset-x: -603px;
$sd-btn-prev-offset-y: -237px;
$sd-btn-prev-width: 23px;
$sd-btn-prev-height: 23px;
$sd-btn-prev-total-width: 654px;
$sd-btn-prev-total-height: 470px;
$sd-btn-prev-image: '../images/desktop/sprites.png';
$sd-btn-prev: (603px, 237px, -603px, -237px, 23px, 23px, 654px, 470px, '../images/desktop/sprites.png', 'sd-btn_prev', );
$sd-dq-left-name: 'sd-dq_left';
$sd-dq-left-x: 400px;
$sd-dq-left-y: 271px;
$sd-dq-left-offset-x: -400px;
$sd-dq-left-offset-y: -271px;
$sd-dq-left-width: 15px;
$sd-dq-left-height: 12px;
$sd-dq-left-total-width: 654px;
$sd-dq-left-total-height: 470px;
$sd-dq-left-image: '../images/desktop/sprites.png';
$sd-dq-left: (400px, 271px, -400px, -271px, 15px, 12px, 654px, 470px, '../images/desktop/sprites.png', 'sd-dq_left', );
$sd-dq-left-02-name: 'sd-dq_left_02';
$sd-dq-left-02-x: 632px;
$sd-dq-left-02-y: 194px;
$sd-dq-left-02-offset-x: -632px;
$sd-dq-left-02-offset-y: -194px;
$sd-dq-left-02-width: 22px;
$sd-dq-left-02-height: 19px;
$sd-dq-left-02-total-width: 654px;
$sd-dq-left-02-total-height: 470px;
$sd-dq-left-02-image: '../images/desktop/sprites.png';
$sd-dq-left-02: (632px, 194px, -632px, -194px, 22px, 19px, 654px, 470px, '../images/desktop/sprites.png', 'sd-dq_left_02', );
$sd-dq-right-name: 'sd-dq_right';
$sd-dq-right-x: 400px;
$sd-dq-right-y: 289px;
$sd-dq-right-offset-x: -400px;
$sd-dq-right-offset-y: -289px;
$sd-dq-right-width: 15px;
$sd-dq-right-height: 12px;
$sd-dq-right-total-width: 654px;
$sd-dq-right-total-height: 470px;
$sd-dq-right-image: '../images/desktop/sprites.png';
$sd-dq-right: (400px, 289px, -400px, -289px, 15px, 12px, 654px, 470px, '../images/desktop/sprites.png', 'sd-dq_right', );
$sd-dq-right-02-name: 'sd-dq_right_02';
$sd-dq-right-02-x: 594px;
$sd-dq-right-02-y: 316px;
$sd-dq-right-02-offset-x: -594px;
$sd-dq-right-02-offset-y: -316px;
$sd-dq-right-02-width: 21px;
$sd-dq-right-02-height: 18px;
$sd-dq-right-02-total-width: 654px;
$sd-dq-right-02-total-height: 470px;
$sd-dq-right-02-image: '../images/desktop/sprites.png';
$sd-dq-right-02: (594px, 316px, -594px, -316px, 21px, 18px, 654px, 470px, '../images/desktop/sprites.png', 'sd-dq_right_02', );
$sd-icon-accordion-down-name: 'sd-icon_accordion_down';
$sd-icon-accordion-down-x: 380px;
$sd-icon-accordion-down-y: 318px;
$sd-icon-accordion-down-offset-x: -380px;
$sd-icon-accordion-down-offset-y: -318px;
$sd-icon-accordion-down-width: 26px;
$sd-icon-accordion-down-height: 14px;
$sd-icon-accordion-down-total-width: 654px;
$sd-icon-accordion-down-total-height: 470px;
$sd-icon-accordion-down-image: '../images/desktop/sprites.png';
$sd-icon-accordion-down: (380px, 318px, -380px, -318px, 26px, 14px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_accordion_down', );
$sd-icon-accordion-up-name: 'sd-icon_accordion_up';
$sd-icon-accordion-up-x: 621px;
$sd-icon-accordion-up-y: 316px;
$sd-icon-accordion-up-offset-x: -621px;
$sd-icon-accordion-up-offset-y: -316px;
$sd-icon-accordion-up-width: 26px;
$sd-icon-accordion-up-height: 14px;
$sd-icon-accordion-up-total-width: 654px;
$sd-icon-accordion-up-total-height: 470px;
$sd-icon-accordion-up-image: '../images/desktop/sprites.png';
$sd-icon-accordion-up: (621px, 316px, -621px, -316px, 26px, 14px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_accordion_up', );
$sd-icon-attach-name: 'sd-icon_attach';
$sd-icon-attach-x: 268px;
$sd-icon-attach-y: 195px;
$sd-icon-attach-offset-x: -268px;
$sd-icon-attach-offset-y: -195px;
$sd-icon-attach-width: 18px;
$sd-icon-attach-height: 16px;
$sd-icon-attach-total-width: 654px;
$sd-icon-attach-total-height: 470px;
$sd-icon-attach-image: '../images/desktop/sprites.png';
$sd-icon-attach: (268px, 195px, -268px, -195px, 18px, 16px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_attach', );
$sd-icon-command01-name: 'sd-icon_command01';
$sd-icon-command01-x: 322px;
$sd-icon-command01-y: 424px;
$sd-icon-command01-offset-x: -322px;
$sd-icon-command01-offset-y: -424px;
$sd-icon-command01-width: 41px;
$sd-icon-command01-height: 42px;
$sd-icon-command01-total-width: 654px;
$sd-icon-command01-total-height: 470px;
$sd-icon-command01-image: '../images/desktop/sprites.png';
$sd-icon-command01: (322px, 424px, -322px, -424px, 41px, 42px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_command01', );
$sd-icon-command02-name: 'sd-icon_command02';
$sd-icon-command02-x: 463px;
$sd-icon-command02-y: 424px;
$sd-icon-command02-offset-x: -463px;
$sd-icon-command02-offset-y: -424px;
$sd-icon-command02-width: 41px;
$sd-icon-command02-height: 42px;
$sd-icon-command02-total-width: 654px;
$sd-icon-command02-total-height: 470px;
$sd-icon-command02-image: '../images/desktop/sprites.png';
$sd-icon-command02: (463px, 424px, -463px, -424px, 41px, 42px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_command02', );
$sd-icon-command03-name: 'sd-icon_command03';
$sd-icon-command03-x: 416px;
$sd-icon-command03-y: 424px;
$sd-icon-command03-offset-x: -416px;
$sd-icon-command03-offset-y: -424px;
$sd-icon-command03-width: 41px;
$sd-icon-command03-height: 42px;
$sd-icon-command03-total-width: 654px;
$sd-icon-command03-total-height: 470px;
$sd-icon-command03-image: '../images/desktop/sprites.png';
$sd-icon-command03: (416px, 424px, -416px, -424px, 41px, 42px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_command03', );
$sd-icon-command04-name: 'sd-icon_command04';
$sd-icon-command04-x: 369px;
$sd-icon-command04-y: 424px;
$sd-icon-command04-offset-x: -369px;
$sd-icon-command04-offset-y: -424px;
$sd-icon-command04-width: 41px;
$sd-icon-command04-height: 42px;
$sd-icon-command04-total-width: 654px;
$sd-icon-command04-total-height: 470px;
$sd-icon-command04-image: '../images/desktop/sprites.png';
$sd-icon-command04: (369px, 424px, -369px, -424px, 41px, 42px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_command04', );
$sd-icon-command05-name: 'sd-icon_command05';
$sd-icon-command05-x: 510px;
$sd-icon-command05-y: 424px;
$sd-icon-command05-offset-x: -510px;
$sd-icon-command05-offset-y: -424px;
$sd-icon-command05-width: 41px;
$sd-icon-command05-height: 42px;
$sd-icon-command05-total-width: 654px;
$sd-icon-command05-total-height: 470px;
$sd-icon-command05-image: '../images/desktop/sprites.png';
$sd-icon-command05: (510px, 424px, -510px, -424px, 41px, 42px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_command05', );
$sd-icon-command06-name: 'sd-icon_command06';
$sd-icon-command06-x: 557px;
$sd-icon-command06-y: 424px;
$sd-icon-command06-offset-x: -557px;
$sd-icon-command06-offset-y: -424px;
$sd-icon-command06-width: 41px;
$sd-icon-command06-height: 42px;
$sd-icon-command06-total-width: 654px;
$sd-icon-command06-total-height: 470px;
$sd-icon-command06-image: '../images/desktop/sprites.png';
$sd-icon-command06: (557px, 424px, -557px, -424px, 41px, 42px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_command06', );
$sd-icon-detail-name: 'sd-icon_detail';
$sd-icon-detail-x: 268px;
$sd-icon-detail-y: 137px;
$sd-icon-detail-offset-x: -268px;
$sd-icon-detail-offset-y: -137px;
$sd-icon-detail-width: 14px;
$sd-icon-detail-height: 26px;
$sd-icon-detail-total-width: 654px;
$sd-icon-detail-total-height: 470px;
$sd-icon-detail-image: '../images/desktop/sprites.png';
$sd-icon-detail: (268px, 137px, -268px, -137px, 14px, 26px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_detail', );
$sd-icon-down-name: 'sd-icon_down';
$sd-icon-down-x: 338px;
$sd-icon-down-y: 373px;
$sd-icon-down-offset-x: -338px;
$sd-icon-down-offset-y: -373px;
$sd-icon-down-width: 22px;
$sd-icon-down-height: 14px;
$sd-icon-down-total-width: 654px;
$sd-icon-down-total-height: 470px;
$sd-icon-down-image: '../images/desktop/sprites.png';
$sd-icon-down: (338px, 373px, -338px, -373px, 22px, 14px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_down', );
$sd-icon-error-name: 'sd-icon_error';
$sd-icon-error-x: 0px;
$sd-icon-error-y: 0px;
$sd-icon-error-offset-x: 0px;
$sd-icon-error-offset-y: 0px;
$sd-icon-error-width: 153px;
$sd-icon-error-height: 131px;
$sd-icon-error-total-width: 654px;
$sd-icon-error-total-height: 470px;
$sd-icon-error-image: '../images/desktop/sprites.png';
$sd-icon-error: (0px, 0px, 0px, 0px, 153px, 131px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_error', );
$sd-icon-featured01-name: 'sd-icon_featured01';
$sd-icon-featured01-x: 204px;
$sd-icon-featured01-y: 424px;
$sd-icon-featured01-offset-x: -204px;
$sd-icon-featured01-offset-y: -424px;
$sd-icon-featured01-width: 62px;
$sd-icon-featured01-height: 46px;
$sd-icon-featured01-total-width: 654px;
$sd-icon-featured01-total-height: 470px;
$sd-icon-featured01-image: '../images/desktop/sprites.png';
$sd-icon-featured01: (204px, 424px, -204px, -424px, 62px, 46px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_featured01', );
$sd-icon-featured02-name: 'sd-icon_featured02';
$sd-icon-featured02-x: 136px;
$sd-icon-featured02-y: 424px;
$sd-icon-featured02-offset-x: -136px;
$sd-icon-featured02-offset-y: -424px;
$sd-icon-featured02-width: 62px;
$sd-icon-featured02-height: 46px;
$sd-icon-featured02-total-width: 654px;
$sd-icon-featured02-total-height: 470px;
$sd-icon-featured02-image: '../images/desktop/sprites.png';
$sd-icon-featured02: (136px, 424px, -136px, -424px, 62px, 46px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_featured02', );
$sd-icon-featured03-name: 'sd-icon_featured03';
$sd-icon-featured03-x: 68px;
$sd-icon-featured03-y: 424px;
$sd-icon-featured03-offset-x: -68px;
$sd-icon-featured03-offset-y: -424px;
$sd-icon-featured03-width: 62px;
$sd-icon-featured03-height: 46px;
$sd-icon-featured03-total-width: 654px;
$sd-icon-featured03-total-height: 470px;
$sd-icon-featured03-image: '../images/desktop/sprites.png';
$sd-icon-featured03: (68px, 424px, -68px, -424px, 62px, 46px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_featured03', );
$sd-icon-featured04-name: 'sd-icon_featured04';
$sd-icon-featured04-x: 563px;
$sd-icon-featured04-y: 342px;
$sd-icon-featured04-offset-x: -563px;
$sd-icon-featured04-offset-y: -342px;
$sd-icon-featured04-width: 62px;
$sd-icon-featured04-height: 46px;
$sd-icon-featured04-total-width: 654px;
$sd-icon-featured04-total-height: 470px;
$sd-icon-featured04-image: '../images/desktop/sprites.png';
$sd-icon-featured04: (563px, 342px, -563px, -342px, 62px, 46px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_featured04', );
$sd-icon-featured05-name: 'sd-icon_featured05';
$sd-icon-featured05-x: 0px;
$sd-icon-featured05-y: 424px;
$sd-icon-featured05-offset-x: 0px;
$sd-icon-featured05-offset-y: -424px;
$sd-icon-featured05-width: 62px;
$sd-icon-featured05-height: 46px;
$sd-icon-featured05-total-width: 654px;
$sd-icon-featured05-total-height: 470px;
$sd-icon-featured05-image: '../images/desktop/sprites.png';
$sd-icon-featured05: (0px, 424px, 0px, -424px, 62px, 46px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_featured05', );
$sd-icon-iks-name: 'sd-icon_iks';
$sd-icon-iks-x: 268px;
$sd-icon-iks-y: 239px;
$sd-icon-iks-offset-x: -268px;
$sd-icon-iks-offset-y: -239px;
$sd-icon-iks-width: 16px;
$sd-icon-iks-height: 16px;
$sd-icon-iks-total-width: 654px;
$sd-icon-iks-total-height: 470px;
$sd-icon-iks-image: '../images/desktop/sprites.png';
$sd-icon-iks: (268px, 239px, -268px, -239px, 16px, 16px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_iks', );
$sd-icon-lock-name: 'sd-icon_lock';
$sd-icon-lock-x: 268px;
$sd-icon-lock-y: 169px;
$sd-icon-lock-offset-x: -268px;
$sd-icon-lock-offset-y: -169px;
$sd-icon-lock-width: 16px;
$sd-icon-lock-height: 20px;
$sd-icon-lock-total-width: 654px;
$sd-icon-lock-total-height: 470px;
$sd-icon-lock-image: '../images/desktop/sprites.png';
$sd-icon-lock: (268px, 169px, -268px, -169px, 16px, 20px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_lock', );
$sd-icon-message-name: 'sd-icon_message';
$sd-icon-message-x: 159px;
$sd-icon-message-y: 0px;
$sd-icon-message-offset-x: -159px;
$sd-icon-message-offset-y: 0px;
$sd-icon-message-width: 128px;
$sd-icon-message-height: 128px;
$sd-icon-message-total-width: 654px;
$sd-icon-message-total-height: 470px;
$sd-icon-message-image: '../images/desktop/sprites.png';
$sd-icon-message: (159px, 0px, -159px, 0px, 128px, 128px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_message', );
$sd-icon-new-name: 'sd-icon_new';
$sd-icon-new-x: 268px;
$sd-icon-new-y: 217px;
$sd-icon-new-offset-x: -268px;
$sd-icon-new-offset-y: -217px;
$sd-icon-new-width: 16px;
$sd-icon-new-height: 16px;
$sd-icon-new-total-width: 654px;
$sd-icon-new-total-height: 470px;
$sd-icon-new-image: '../images/desktop/sprites.png';
$sd-icon-new: (268px, 217px, -268px, -217px, 16px, 16px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_new', );
$sd-icon-pdf-name: 'sd-icon_pdf';
$sd-icon-pdf-x: 593px;
$sd-icon-pdf-y: 95px;
$sd-icon-pdf-offset-x: -593px;
$sd-icon-pdf-offset-y: -95px;
$sd-icon-pdf-width: 48px;
$sd-icon-pdf-height: 48px;
$sd-icon-pdf-total-width: 654px;
$sd-icon-pdf-total-height: 470px;
$sd-icon-pdf-image: '../images/desktop/sprites.png';
$sd-icon-pdf: (593px, 95px, -593px, -95px, 48px, 48px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_pdf', );
$sd-icon-recommend-02-name: 'sd-icon_recommend_02';
$sd-icon-recommend-02-x: 235px;
$sd-icon-recommend-02-y: 355px;
$sd-icon-recommend-02-offset-x: -235px;
$sd-icon-recommend-02-offset-y: -355px;
$sd-icon-recommend-02-width: 14px;
$sd-icon-recommend-02-height: 12px;
$sd-icon-recommend-02-total-width: 654px;
$sd-icon-recommend-02-total-height: 470px;
$sd-icon-recommend-02-image: '../images/desktop/sprites.png';
$sd-icon-recommend-02: (235px, 355px, -235px, -355px, 14px, 12px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_recommend_02', );
$sd-icon-reply-name: 'sd-icon_reply';
$sd-icon-reply-x: 366px;
$sd-icon-reply-y: 373px;
$sd-icon-reply-offset-x: -366px;
$sd-icon-reply-offset-y: -373px;
$sd-icon-reply-width: 10px;
$sd-icon-reply-height: 10px;
$sd-icon-reply-total-width: 654px;
$sd-icon-reply-total-height: 470px;
$sd-icon-reply-image: '../images/desktop/sprites.png';
$sd-icon-reply: (366px, 373px, -366px, -373px, 10px, 10px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_reply', );
$sd-icon-search-name: 'sd-icon_search';
$sd-icon-search-x: 603px;
$sd-icon-search-y: 150px;
$sd-icon-search-offset-x: -603px;
$sd-icon-search-offset-y: -150px;
$sd-icon-search-width: 24px;
$sd-icon-search-height: 24px;
$sd-icon-search-total-width: 654px;
$sd-icon-search-total-height: 470px;
$sd-icon-search-image: '../images/desktop/sprites.png';
$sd-icon-search: (603px, 150px, -603px, -150px, 24px, 24px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_search', );
$sd-icon-shortcut-name: 'sd-icon_shortcut';
$sd-icon-shortcut-x: 593px;
$sd-icon-shortcut-y: 40px;
$sd-icon-shortcut-offset-x: -593px;
$sd-icon-shortcut-offset-y: -40px;
$sd-icon-shortcut-width: 48px;
$sd-icon-shortcut-height: 48px;
$sd-icon-shortcut-total-width: 654px;
$sd-icon-shortcut-total-height: 470px;
$sd-icon-shortcut-image: '../images/desktop/sprites.png';
$sd-icon-shortcut: (593px, 40px, -593px, -40px, 48px, 48px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_shortcut', );
$sd-icon-support01-name: 'sd-icon_support01';
$sd-icon-support01-x: 0px;
$sd-icon-support01-y: 137px;
$sd-icon-support01-offset-x: 0px;
$sd-icon-support01-offset-y: -137px;
$sd-icon-support01-width: 128px;
$sd-icon-support01-height: 128px;
$sd-icon-support01-total-width: 654px;
$sd-icon-support01-total-height: 470px;
$sd-icon-support01-image: '../images/desktop/sprites.png';
$sd-icon-support01: (0px, 137px, 0px, -137px, 128px, 128px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_support01', );
$sd-icon-support02-name: 'sd-icon_support02';
$sd-icon-support02-x: 134px;
$sd-icon-support02-y: 137px;
$sd-icon-support02-offset-x: -134px;
$sd-icon-support02-offset-y: -137px;
$sd-icon-support02-width: 128px;
$sd-icon-support02-height: 128px;
$sd-icon-support02-total-width: 654px;
$sd-icon-support02-total-height: 470px;
$sd-icon-support02-image: '../images/desktop/sprites.png';
$sd-icon-support02: (134px, 137px, -134px, -137px, 128px, 128px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_support02', );
$sd-icon-support03-name: 'sd-icon_support03';
$sd-icon-support03-x: 293px;
$sd-icon-support03-y: 0px;
$sd-icon-support03-offset-x: -293px;
$sd-icon-support03-offset-y: 0px;
$sd-icon-support03-width: 128px;
$sd-icon-support03-height: 128px;
$sd-icon-support03-total-width: 654px;
$sd-icon-support03-total-height: 470px;
$sd-icon-support03-image: '../images/desktop/sprites.png';
$sd-icon-support03: (293px, 0px, -293px, 0px, 128px, 128px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_support03', );
$sd-icon-up-name: 'sd-icon_up';
$sd-icon-up-x: 631px;
$sd-icon-up-y: 371px;
$sd-icon-up-offset-x: -631px;
$sd-icon-up-offset-y: -371px;
$sd-icon-up-width: 22px;
$sd-icon-up-height: 14px;
$sd-icon-up-total-width: 654px;
$sd-icon-up-total-height: 470px;
$sd-icon-up-image: '../images/desktop/sprites.png';
$sd-icon-up: (631px, 371px, -631px, -371px, 22px, 14px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_up', );
$sd-icon-user-name: 'sd-icon_user';
$sd-icon-user-x: 604px;
$sd-icon-user-y: 424px;
$sd-icon-user-offset-x: -604px;
$sd-icon-user-offset-y: -424px;
$sd-icon-user-width: 40px;
$sd-icon-user-height: 40px;
$sd-icon-user-total-width: 654px;
$sd-icon-user-total-height: 470px;
$sd-icon-user-image: '../images/desktop/sprites.png';
$sd-icon-user: (604px, 424px, -604px, -424px, 40px, 40px, 654px, 470px, '../images/desktop/sprites.png', 'sd-icon_user', );
$sd-nugu-name: 'sd-nugu';
$sd-nugu-x: 427px;
$sd-nugu-y: 0px;
$sd-nugu-offset-x: -427px;
$sd-nugu-offset-y: 0px;
$sd-nugu-width: 227px;
$sd-nugu-height: 34px;
$sd-nugu-total-width: 654px;
$sd-nugu-total-height: 470px;
$sd-nugu-image: '../images/desktop/sprites.png';
$sd-nugu: (427px, 0px, -427px, 0px, 227px, 34px, 654px, 470px, '../images/desktop/sprites.png', 'sd-nugu', );
$sd-title-tutorial-name: 'sd-title_tutorial';
$sd-title-tutorial-x: 0px;
$sd-title-tutorial-y: 271px;
$sd-title-tutorial-offset-x: 0px;
$sd-title-tutorial-offset-y: -271px;
$sd-title-tutorial-width: 348px;
$sd-title-tutorial-height: 41px;
$sd-title-tutorial-total-width: 654px;
$sd-title-tutorial-total-height: 470px;
$sd-title-tutorial-image: '../images/desktop/sprites.png';
$sd-title-tutorial: (0px, 271px, 0px, -271px, 348px, 41px, 654px, 470px, '../images/desktop/sprites.png', 'sd-title_tutorial', );
$sd-txt-melon-name: 'sd-txt_melon';
$sd-txt-melon-x: 513px;
$sd-txt-melon-y: 316px;
$sd-txt-melon-offset-x: -513px;
$sd-txt-melon-offset-y: -316px;
$sd-txt-melon-width: 75px;
$sd-txt-melon-height: 20px;
$sd-txt-melon-total-width: 654px;
$sd-txt-melon-total-height: 470px;
$sd-txt-melon-image: '../images/desktop/sprites.png';
$sd-txt-melon: (513px, 316px, -513px, -316px, 75px, 20px, 654px, 470px, '../images/desktop/sprites.png', 'sd-txt_melon', );
$sd-txt-nugu-01-name: 'sd-txt_nugu_01';
$sd-txt-nugu-01-x: 427px;
$sd-txt-nugu-01-y: 194px;
$sd-txt-nugu-01-offset-x: -427px;
$sd-txt-nugu-01-offset-y: -194px;
$sd-txt-nugu-01-width: 170px;
$sd-txt-nugu-01-height: 37px;
$sd-txt-nugu-01-total-width: 654px;
$sd-txt-nugu-01-total-height: 470px;
$sd-txt-nugu-01-image: '../images/desktop/sprites.png';
$sd-txt-nugu-01: (427px, 194px, -427px, -194px, 170px, 37px, 654px, 470px, '../images/desktop/sprites.png', 'sd-txt_nugu_01', );
$sd-txt-nugu-02-name: 'sd-txt_nugu_02';
$sd-txt-nugu-02-x: 427px;
$sd-txt-nugu-02-y: 237px;
$sd-txt-nugu-02-offset-x: -427px;
$sd-txt-nugu-02-offset-y: -237px;
$sd-txt-nugu-02-width: 170px;
$sd-txt-nugu-02-height: 37px;
$sd-txt-nugu-02-total-width: 654px;
$sd-txt-nugu-02-total-height: 470px;
$sd-txt-nugu-02-image: '../images/desktop/sprites.png';
$sd-txt-nugu-02: (427px, 237px, -427px, -237px, 170px, 37px, 654px, 470px, '../images/desktop/sprites.png', 'sd-txt_nugu_02', );
$sd-txt-nugu-03-name: 'sd-txt_nugu_03';
$sd-txt-nugu-03-x: 0px;
$sd-txt-nugu-03-y: 373px;
$sd-txt-nugu-03-offset-x: 0px;
$sd-txt-nugu-03-offset-y: -373px;
$sd-txt-nugu-03-width: 209px;
$sd-txt-nugu-03-height: 45px;
$sd-txt-nugu-03-total-width: 654px;
$sd-txt-nugu-03-total-height: 470px;
$sd-txt-nugu-03-image: '../images/desktop/sprites.png';
$sd-txt-nugu-03: (0px, 373px, 0px, -373px, 209px, 45px, 654px, 470px, '../images/desktop/sprites.png', 'sd-txt_nugu_03', );
$sd-txt-nugu-04-name: 'sd-txt_nugu_04';
$sd-txt-nugu-04-x: 0px;
$sd-txt-nugu-04-y: 318px;
$sd-txt-nugu-04-offset-x: 0px;
$sd-txt-nugu-04-offset-y: -318px;
$sd-txt-nugu-04-width: 229px;
$sd-txt-nugu-04-height: 49px;
$sd-txt-nugu-04-total-width: 654px;
$sd-txt-nugu-04-total-height: 470px;
$sd-txt-nugu-04-image: '../images/desktop/sprites.png';
$sd-txt-nugu-04: (0px, 318px, 0px, -318px, 229px, 49px, 654px, 470px, '../images/desktop/sprites.png', 'sd-txt_nugu_04', );
$sd-txt-nugu-05-name: 'sd-txt_nugu_05';
$sd-txt-nugu-05-x: 427px;
$sd-txt-nugu-05-y: 150px;
$sd-txt-nugu-05-offset-x: -427px;
$sd-txt-nugu-05-offset-y: -150px;
$sd-txt-nugu-05-width: 170px;
$sd-txt-nugu-05-height: 38px;
$sd-txt-nugu-05-total-width: 654px;
$sd-txt-nugu-05-total-height: 470px;
$sd-txt-nugu-05-image: '../images/desktop/sprites.png';
$sd-txt-nugu-05: (427px, 150px, -427px, -150px, 170px, 38px, 654px, 470px, '../images/desktop/sprites.png', 'sd-txt_nugu_05', );
$sd-txt-nugu-06-name: 'sd-txt_nugu_06';
$sd-txt-nugu-06-x: 513px;
$sd-txt-nugu-06-y: 280px;
$sd-txt-nugu-06-offset-x: -513px;
$sd-txt-nugu-06-offset-y: -280px;
$sd-txt-nugu-06-width: 133px;
$sd-txt-nugu-06-height: 30px;
$sd-txt-nugu-06-total-width: 654px;
$sd-txt-nugu-06-total-height: 470px;
$sd-txt-nugu-06-image: '../images/desktop/sprites.png';
$sd-txt-nugu-06: (513px, 280px, -513px, -280px, 133px, 30px, 654px, 470px, '../images/desktop/sprites.png', 'sd-txt_nugu_06', );
$sd-txt-nugu-07-name: 'sd-txt_nugu_07';
$sd-txt-nugu-07-x: 215px;
$sd-txt-nugu-07-y: 373px;
$sd-txt-nugu-07-offset-x: -215px;
$sd-txt-nugu-07-offset-y: -373px;
$sd-txt-nugu-07-width: 117px;
$sd-txt-nugu-07-height: 25px;
$sd-txt-nugu-07-total-width: 654px;
$sd-txt-nugu-07-total-height: 470px;
$sd-txt-nugu-07-image: '../images/desktop/sprites.png';
$sd-txt-nugu-07: (215px, 373px, -215px, -373px, 117px, 25px, 654px, 470px, '../images/desktop/sprites.png', 'sd-txt_nugu_07', );
$sd-txt-smarthome-name: 'sd-txt_smarthome';
$sd-txt-smarthome-x: 235px;
$sd-txt-smarthome-y: 318px;
$sd-txt-smarthome-offset-x: -235px;
$sd-txt-smarthome-offset-y: -318px;
$sd-txt-smarthome-width: 110px;
$sd-txt-smarthome-height: 31px;
$sd-txt-smarthome-total-width: 654px;
$sd-txt-smarthome-total-height: 470px;
$sd-txt-smarthome-image: '../images/desktop/sprites.png';
$sd-txt-smarthome: (235px, 318px, -235px, -318px, 110px, 31px, 654px, 470px, '../images/desktop/sprites.png', 'sd-txt_smarthome', );
$spritesheet-width: 654px;
$spritesheet-height: 470px;
$spritesheet-image: '../images/desktop/sprites.png';
$spritesheet-sprites: ($sd-answer-left, $sd-answer-right, $sd-bg-radio, $sd-bg-radio-selected, $sd-btn-android, $sd-btn-clear, $sd-btn-close, $sd-btn-first, $sd-btn-ios, $sd-btn-last, $sd-btn-login, $sd-btn-next, $sd-btn-nugu, $sd-btn-play, $sd-btn-play-02, $sd-btn-prev, $sd-dq-left, $sd-dq-left-02, $sd-dq-right, $sd-dq-right-02, $sd-icon-accordion-down, $sd-icon-accordion-up, $sd-icon-attach, $sd-icon-command01, $sd-icon-command02, $sd-icon-command03, $sd-icon-command04, $sd-icon-command05, $sd-icon-command06, $sd-icon-detail, $sd-icon-down, $sd-icon-error, $sd-icon-featured01, $sd-icon-featured02, $sd-icon-featured03, $sd-icon-featured04, $sd-icon-featured05, $sd-icon-iks, $sd-icon-lock, $sd-icon-message, $sd-icon-new, $sd-icon-pdf, $sd-icon-recommend-02, $sd-icon-reply, $sd-icon-search, $sd-icon-shortcut, $sd-icon-support01, $sd-icon-support02, $sd-icon-support03, $sd-icon-up, $sd-icon-user, $sd-nugu, $sd-title-tutorial, $sd-txt-melon, $sd-txt-nugu-01, $sd-txt-nugu-02, $sd-txt-nugu-03, $sd-txt-nugu-04, $sd-txt-nugu-05, $sd-txt-nugu-06, $sd-txt-nugu-07, $sd-txt-smarthome, );
$spritesheet: (654px, 470px, '../images/desktop/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
