@charset "UTF-8";
@import url(roboto.css);
@import url(notosanskr.css);
/**
 * variable
 */
body {
  background-color: #fff; }

/* Common Style */
* {
  margin: 0;
  padding: 0; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  line-height: 1.3em;
  border: 0 none; }

body {
  position: relative;
  min-height: 320px;
  margin: 0 auto;
  font-size: 100%;
  line-height: 1.3em;
  font-family: "Noto Sans KR", sans-serif;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

header, h1 {
  font-size: 100%; }

html, body {
  height: 100%; }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden; }

caption {
  display: none; }

img {
  border: none;
  vertical-align: top; }

select, input {
  vertical-align: top;
  border: 0px;
  border-radius: 0;
  background-color: transparent; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  list-style: none; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px;
  background-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, keygen, select, button {
  font-family: "Noto Sans KR", sans-serif; }

strong {
  font-weight: normal; }

dfn {
  font-style: normal; }

/* link Style */
a:link, a:visited, a:active, a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.is-hidden {
  display: none !important; }

.visible-hidden {
  visibility: hidden !important; }

.clear {
  clear: both; }

.txt-center {
  text-align: center !important; }

.inline-block {
  display: inline-block;
  vertical-align: middle; }

/* forms */
fieldset {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

select,
input[type=submit],
input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px; }

input:focus,
button:focus,
textarea:focus,
select,
div {
  outline: 0; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
/* media queries */
/* z-index */
/* retina */
/* aspect ratio */
/**
 * import
 */
/** layout **/
/* buttons */
.btn-nugu {
  display: block;
  text-indent: -9999px; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .btn-nugu {
      background-image: url(../images/mobile/sprites.png);
      background-position: -54px 0px;
      width: 40px;
      height: 28px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .btn-nugu {
      background-image: url(../images/mobile/sprites@2x.png);
      background-size: 116px 84px; } }
  @media only screen and (min-width: 768px) {
    .btn-nugu {
      background-image: url(../images/desktop/sprites.png);
      background-position: 0px 0px;
      width: 80px;
      height: 56px; } }

.btn-menu {
  display: block;
  text-indent: -9999px;
  background-image: url(../images/mobile/sprites.png);
  background-position: 0px -54px;
  width: 30px;
  height: 30px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .btn-menu {
      background-image: url(../images/mobile/sprites@2x.png);
      background-size: 116px 84px; } }

.btn-login {
  display: block;
  text-indent: -9999px; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .btn-login {
      background-image: url(../images/mobile/sprites.png);
      background-position: -36px -54px;
      width: 30px;
      height: 30px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .btn-login {
      background-image: url(../images/mobile/sprites@2x.png);
      background-size: 116px 84px; } }
  @media only screen and (min-width: 768px) {
    .btn-login {
      background-image: url(../images/desktop/sprites.png);
      background-position: 0px -62px;
      width: 60px;
      height: 60px; } }

/* top navigation */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .shortcut-menus {
    display: none; } }

@media only screen and (min-width: 768px) {
  .shortcut-menus .shortcut-menus-title {
    display: none; }
  .shortcut-menus ul {
    text-align: center; }
  .shortcut-menus li {
    display: inline-block;
    padding: 0 30px 0 30px; }
    .shortcut-menus li > a {
      display: block;
      position: relative;
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 500;
      color: #666;
      line-height: 100px; }
      .shortcut-menus li > a:hover {
        color: #ed6627; }
    .shortcut-menus li.is-selected > a {
      color: #ed6627; }
      .shortcut-menus li.is-selected > a:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        height: 4px;
        width: 100%;
        background-color: #ed6627; } }

/* filter(search & category) container */
.search-container {
  display: block;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding: 0 6.122448979592%;
  height: 37px;
  width: 76.5625%;
  border-radius: 37px;
  background-color: #f2f2f2; }
  .search-container select {
    display: block;
    float: left;
    margin-top: 10px;
    margin-right: 6px;
    width: 22.857142857143%;
    font-size: 0.750rem;
    color: #a9a9a9;
    vertical-align: middle;
    background: url("/assets/images/mobile/bg_search_select@2x.png") right center no-repeat;
    background-size: 11px 20px; }
  .search-container p {
    display: inline-block;
    position: relative;
    width: 61.224489795918%; }
    .search-container p:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -5px;
      height: 11px;
      width: 1px;
      background-color: #d5d5d5; }
    .search-container p input[type=text] {
      display: block;
      box-sizing: border-box;
      padding-left: 10px;
      height: 37px;
      width: 100%;
      font-size: 0.750rem;
      color: #252525;
      line-height: 37px;
      vertical-align: middle; }
  .search-container .btn-submit {
    display: block;
    position: absolute;
    top: 50%;
    right: 6.122448979592%;
    margin-top: -8px;
    text-indent: -9999px; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .search-container .btn-submit {
      background-image: url(../images/mobile/sprites.png);
      background-position: -72px -54px;
      width: 16px;
      height: 16px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .search-container .btn-submit {
      background-image: url(../images/mobile/sprites@2x.png);
      background-size: 116px 84px; } }
  @media only screen and (min-width: 768px) {
    .search-container {
      padding: 0 30px 0 20px;
      height: 56px;
      width: 430px;
      border-radius: 56px; }
      .search-container select {
        margin-top: 15px;
        margin-right: 16px;
        font-size: 1.000rem;
        background: url("/assets/images/desktop/bg_search_select.png") right center no-repeat;
        background-size: 12px 26px; }
      .search-container p:before {
        margin-top: -8px;
        height: 16px; }
      .search-container p input[type=text] {
        height: 56px;
        font-size: 1.000rem;
        line-height: 56px; }
      .search-container .btn-submit {
        right: 30px;
        margin-top: -12px;
        background-image: url(../images/desktop/sprites.png);
        background-position: -86px 0px;
        width: 24px;
        height: 24px; } }

.category-container {
  text-align: center; }
  .category-container .btn-category {
    display: inline-block;
    padding-right: 21px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #ed6829;
    background: url("/assets/images/mobile/bg_search_select@2x.png") right center no-repeat;
    background-size: 11px 20px; }
  .category-container .list-category {
    text-align: center; }
    .category-container .list-category > li {
      display: inline-block;
      padding: 0 16px 0 20px; }
      .category-container .list-category > li a {
        font-size: 1.125rem;
        font-weight: 500;
        color: #999;
        line-height: 1em; }
        .category-container .list-category > li a:hover {
          color: #ed6829; }
      .category-container .list-category > li.is-selected a {
        color: #ed6829; }
      .category-container .list-category > li + li {
        border-left: 1px solid #d6d6d6; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .category-container {
      margin-top: 15px; }
      .category-container .list-category {
        display: none; } }
  @media only screen and (min-width: 768px) {
    .category-container {
      margin-top: 60px; }
      .category-container .btn-category {
        display: none; }
      .category-container .new {
        display: inline-block;
        margin-top: -4px;
        text-indent: -9999px;
        vertical-align: middle; }
      .category-container .new {
        background-image: url(../images/desktop/sprites.png);
        background-position: -116px -101px;
        width: 16px;
        height: 16px; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .filter-container {
    padding-top: 13px;
    padding-bottom: 17px; } }

@media only screen and (min-width: 768px) {
  .filter-container {
    padding-top: 60px;
    padding-bottom: 30px; } }

/* bbs */
.item-info .category {
  display: block;
  position: relative;
  margin-top: 0px;
  height: 28px;
  font-size: 0.750rem;
  font-weight: 500;
  color: #ed7d7d; }
  .item-info .category:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 20px;
    background-color: #ccc; }

.item-info .title {
  display: block;
  margin-top: 7px;
  font-size: 1.000rem;
  font-weight: 400;
  color: #252525;
  line-height: 1.313em; }

.item-info .new {
  display: inline-block;
  margin-top: -4px;
  text-indent: -9999px;
  vertical-align: middle; }

.item-info .options {
  margin-top: 10px;
  font-size: 0.750rem;
  font-weight: 400;
  color: #939393; }
  .item-info .options time {
    display: inline-block;
    vertical-align: middle; }
  .item-info .options .number {
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle; }
    .item-info .options .number:before {
      content: '';
      display: inline-block;
      width: 1px;
      vertical-align: middle;
      background-color: #f2f2f2; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .item-info .new {
    background-image: url(../images/mobile/sprites.png);
    background-position: -100px -32px;
    width: 12px;
    height: 12px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .item-info .new {
      background-image: url(../images/mobile/sprites@2x.png);
      background-size: 116px 84px; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .item-info .options {
    font-family: "Roboto", sans-serif; }
    .item-info .options .number {
      line-height: 11px; }
      .item-info .options .number:before {
        display: inline-block;
        margin: -2px 10px 0 0;
        height: 11px;
        width: 1px;
        background-color: #f2f2f2; }
      .item-info .options .number > span {
        display: inline-block;
        margin-top: -2px;
        margin-right: 1px;
        text-indent: -9999px;
        vertical-align: middle; }
      .item-info .options .number.hit > span {
        background-image: url(../images/mobile/sprites.png);
        background-position: -100px -50px;
        width: 13px;
        height: 11px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi) {
        .item-info .options .number.hit > span {
          background-image: url(../images/mobile/sprites@2x.png);
          background-size: 116px 84px; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
      .item-info .options .number.recommend > span {
        background-image: url(../images/mobile/sprites.png);
        background-position: -100px -67px;
        width: 9px;
        height: 11px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi) {
        .item-info .options .number.recommend > span {
          background-image: url(../images/mobile/sprites@2x.png);
          background-size: 116px 84px; } }

@media only screen and (min-width: 768px) {
  .item-info .category {
    height: 35px;
    font-size: 1.000rem; }
  .item-info .title {
    display: inline-block;
    overflow: hidden;
    margin-top: 6px;
    height: 28px;
    max-width: 700px;
    font-size: 1.375rem;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .item-info .new {
    background-image: url(../images/desktop/sprites.png);
    background-position: -116px -101px;
    width: 16px;
    height: 16px; }
  .item-info .options {
    display: inline-block;
    margin-left: 26px;
    font-size: 1.000rem;
    font-weight: 300;
    vertical-align: top; }
    .item-info .options .number {
      margin-left: 16px; }
      .item-info .options .number:before {
        margin-top: -4px;
        margin-right: 20px;
        height: 14px;
        background-color: #e0e0e0; }
  .list-by-admin .item-info .title {
    display: block;
    height: 56px;
    text-overflow: none;
    white-space: normal; }
  .list-by-admin .item-info .options {
    margin-left: 0; } }

.list-bbs-item {
  display: block;
  position: relative; }
  .list-bbs-item .thumb + .item-info .category {
    margin-top: 14px; }
  @media only screen and (min-width: 768px) {
    .list-bbs .list-bbs-item:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 30px;
      margin-top: -13px;
      background-image: url(../images/desktop/sprites.png);
      background-position: -116px -29px;
      width: 14px;
      height: 26px; }
    .list-bbs-item .thumb {
      height: 175px; }
      .list-bbs-item .thumb img {
        height: 175px;
        width: 350px; } }

.list-by-admin {
  border-top: 2px solid #717171; }
  .list-by-admin > li {
    padding: 20px 4.6875% 17px;
    border-top: 1px solid #e9ecef; }
    .list-by-admin > li:first-child {
      border-top: 0; }
  @media only screen and (min-width: 768px) {
    .list-by-admin {
      overflow: hidden;
      padding: 40px 0;
      width: 100%;
      border-top: 2px solid #9b9b9b; }
      .list-by-admin > li {
        float: left;
        padding: 0 17px;
        width: 350px;
        border-top: 0px; }
        .list-by-admin > li:nth-child(3n+1) {
          padding-left: 0; }
        .list-by-admin > li:nth-child(3n+3) {
          padding-right: 0; }
        .list-by-admin > li + li {
          width: 349px;
          border-left: 1px solid #dde2e6; } }

.list-bbs > li {
  padding: 20px 4.6875% 17px;
  border-top: 1px solid #e9ecef; }
  .list-bbs > li:last-child {
    border-bottom: 1px solid #e9ecef; }

@media only screen and (min-width: 768px) {
  .list-bbs > li {
    padding: 38px 0 37px 0;
    border-top: 1px solid #dde2e6; } }

/* bbs navigation */
.list-bbs-navigation {
  padding-top: 20px; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .list-bbs-navigation .btn-more {
      display: block;
      margin: 0 auto;
      height: 30px;
      width: 52.5%;
      font-size: 0.875rem;
      font-weight: 400;
      color: #868686;
      text-align: center;
      line-height: 30px;
      border: 1px solid #b6b6b6;
      border-radius: 30px; } }
  @media only screen and (min-width: 768px) {
    .list-bbs-navigation {
      padding-top: 35px;
      text-align: center; }
      .list-bbs-navigation .btn-more {
        display: none; }
      .list-bbs-navigation a {
        display: inline-block;
        margin: 0 9px 0 13px;
        padding: 0 2px;
        height: 21px;
        font-family: "Roboto", sans-serif;
        font-size: 1.000rem;
        font-weight: 500;
        color: #949494;
        line-height: 21px;
        border-bottom: 2px solid #fff; }
        .list-bbs-navigation a:hover {
          color: #ed6829;
          border-bottom: 2px solid #ed6829; }
        .list-bbs-navigation a.is-selected {
          color: #ed6829;
          border-bottom: 2px solid #ed6829; }
      .list-bbs-navigation .btns {
        margin: 0;
        padding: 0;
        text-indent: -9999px; }
        .list-bbs-navigation .btns:hover {
          border-bottom: 2px solid #fff; }
        .list-bbs-navigation .btns.first {
          background-image: url(../images/desktop/sprites.png);
          background-position: -86px -30px;
          width: 23px;
          height: 23px; }
        .list-bbs-navigation .btns.prev {
          background-image: url(../images/desktop/sprites.png);
          background-position: -86px -88px;
          width: 23px;
          height: 23px; }
        .list-bbs-navigation .btns.next {
          background-image: url(../images/desktop/sprites.png);
          background-position: -86px -59px;
          width: 23px;
          height: 23px; }
        .list-bbs-navigation .btns.last {
          background-image: url(../images/desktop/sprites.png);
          background-position: -116px 0px;
          width: 23px;
          height: 23px; } }

/* 게시글 상세 */
.btn-recommend {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  color: #646464;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background-color: #f7f7f7; }
  .btn-recommend .recommend {
    display: inline-block; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .btn-recommend {
      margin: 35px auto 0 auto;
      width: 119px;
      line-height: 47px; }
      .btn-recommend .recommend {
        margin-top: -4px;
        margin-right: 5px;
        text-indent: -9999px;
        vertical-align: middle;
        background-image: url(../images/mobile/sprites.png);
        background-position: -77px -34px;
        width: 14px;
        height: 13px; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi) {
      .btn-recommend .recommend {
        background-image: url(../images/mobile/sprites@2x.png);
        background-size: 116px 84px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
      .view-bbs-item-info .btn-recommend {
        display: none; } }
  @media only screen and (min-width: 768px) {
    .btn-recommend {
      margin: 30px auto 0 auto;
      width: 186px;
      font-size: 1.000rem;
      color: #646464;
      line-height: 60px; }
      .btn-recommend .recommend {
        margin-right: 22px;
        font-family: "Roboto", sans-serif;
        font-size: 1.000rem;
        font-weight: 400;
        color: #ed6829; }
        .btn-recommend .recommend > span {
          display: inline-block;
          text-indent: -9999px;
          margin-top: -4px;
          vertical-align: middle;
          background-image: url(../images/desktop/sprites.png);
          background-position: -66px -62px;
          width: 14px;
          height: 12px; }
      .btn-recommend .txt {
        text-decoration: underline; }
        .btn-recommend .txt:after {
          content: '>'; }
      .view-bbs-item-info .btn-recommend {
        position: absolute;
        top: 50%;
        right: 30px;
        margin-top: -41px;
        padding: 16px 0;
        width: 153px;
        line-height: 28px; }
        .view-bbs-item-info .btn-recommend .recommend {
          display: block;
          margin-right: 0; }
          .view-bbs-item-info .btn-recommend .recommend > span {
            margin-right: 5px; } }

.view-bbs-item-info {
  position: relative;
  padding: 17px 0; }
  .view-bbs-item-info .category {
    display: block;
    font-size: 1.000rem;
    font-weight: 500;
    color: #ed7d7d; }
  .view-bbs-item-info .title {
    font-size: 1.500rem;
    font-weight: 400;
    color: #252525;
    line-height: 1.250em; }
  .view-bbs-item-info .options {
    font-size: 0.875rem;
    font-weight: 400;
    color: #939393; }
    .view-bbs-item-info .options time {
      display: inline-block;
      vertical-align: middle; }
    .view-bbs-item-info .options .number {
      display: inline-block;
      margin-left: 6px;
      vertical-align: middle; }
      .view-bbs-item-info .options .number:before {
        content: '';
        display: inline-block;
        width: 1px;
        vertical-align: middle;
        background-color: #f2f2f2; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .view-bbs-item-info .title {
      margin-top: 8px; }
    .view-bbs-item-info .options {
      margin-top: 7px;
      font-family: "Roboto", sans-serif; }
      .view-bbs-item-info .options .number {
        line-height: 13px; }
        .view-bbs-item-info .options .number:before {
          display: inline-block;
          margin: -2px 10px 0 0;
          height: 12px;
          width: 1px;
          background-color: #f2f2f2; }
        .view-bbs-item-info .options .number > span {
          display: inline-block;
          margin-top: -2px;
          margin-right: 1px;
          text-indent: -9999px;
          vertical-align: middle; }
        .view-bbs-item-info .options .number.hit > span {
          background-image: url(../images/mobile/sprites.png);
          background-position: -54px -34px;
          width: 17px;
          height: 13px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi) {
        .view-bbs-item-info .options .number.hit > span {
          background-image: url(../images/mobile/sprites@2x.png);
          background-size: 116px 84px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
        .view-bbs-item-info .options .number.recommend > span {
          background-image: url(../images/mobile/sprites.png);
          background-position: -77px -34px;
          width: 14px;
          height: 13px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi) {
        .view-bbs-item-info .options .number.recommend > span {
          background-image: url(../images/mobile/sprites@2x.png);
          background-size: 116px 84px; } }
  @media only screen and (min-width: 768px) {
    .view-bbs-item-info {
      padding: 36px 0 39px 30px; }
      .view-bbs-item-info .category {
        display: inline-block;
        font-size: 1.500rem;
        font-weight: 400; }
      .view-bbs-item-info .title {
        display: inline-block; }
      .view-bbs-item-info .options {
        margin-top: 20px;
        font-size: 1.000rem; }
        .view-bbs-item-info .options .number {
          margin-left: 16px; }
          .view-bbs-item-info .options .number:before {
            margin-top: -4px;
            margin-right: 20px;
            height: 14px;
            background-color: #e0e0e0; }
          .view-bbs-item-info .options .number.recommend {
            display: none; } }

.view-bbs {
  border-top: 2px solid #717171; }
  .view-bbs .view-bbs-content {
    border-top: 1px solid #d9d9d9; }
    .view-bbs .view-bbs-content img {
      display: block;
      margin: 0 auto; }
    .view-bbs .view-bbs-content p {
      margin-top: 24px;
      font-size: 1.000rem;
      font-weight: 400;
      color: #252525;
      line-height: 1.500em; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .view-bbs {
      margin-top: 12px;
      padding: 0 4.6875%; }
      .view-bbs .view-bbs-content {
        padding: 20px 0 0 0; }
        .view-bbs .view-bbs-content img {
          width: 100%; } }
  @media only screen and (min-width: 768px) {
    .view-bbs {
      margin-top: 60px; }
      .view-bbs .view-bbs-content {
        padding: 40px 0 48px 0;
        border-bottom: 1px solid #d9d9d9; } }

.btn-in-bbs {
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
  color: #fff;
  text-align: left; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .btn-in-bbs {
      position: fixed;
      right: 15px;
      bottom: 15px;
      text-indent: -9999px;
      background-image: url(../images/mobile/sprites.png);
      background-position: 0px 0px;
      width: 48px;
      height: 48px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .btn-in-bbs {
      background-image: url(../images/mobile/sprites@2x.png);
      background-size: 116px 84px; } }
  @media only screen and (min-width: 768px) {
    .btn-in-bbs {
      display: inline-block;
      min-width: 135px;
      text-align: center;
      line-height: 46px;
      border-radius: 46px;
      background-color: #ed6829; } }

.view-bbs-btns {
  margin-top: 30px;
  text-align: right; }

.view-bbs-navigation {
  overflow: hidden;
  border-top: 1px solid #717171;
  border-bottom: 1px solid #717171; }
  .view-bbs-navigation a {
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 50%;
    font-weight: 400;
    color: #252525; }
    .view-bbs-navigation a:before {
      content: attr(title);
      display: block;
      font-weight: 300;
      color: #9c9b9b; }
    .view-bbs-navigation a:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 15px; }
    .view-bbs-navigation a .category {
      margin-right: 6px;
      font-weight: 500;
      color: #ed7d7d; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .view-bbs-navigation a {
      float: left;
      padding-left: 40px;
      font-size: 0.875rem;
      line-height: 49px; }
      .view-bbs-navigation a > span {
        display: none; }
      .view-bbs-navigation a + a {
        border-left: 1px solid #d9d9d9; }
      .view-bbs-navigation a.prev:after {
        margin-top: -5px;
        background-image: url(../images/mobile/sprites.png);
        background-position: -100px -16px;
        width: 16px;
        height: 10px; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi) {
      .view-bbs-navigation a.prev:after {
        background-image: url(../images/mobile/sprites@2x.png);
        background-size: 116px 84px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
      .view-bbs-navigation a.next:after {
        margin-top: -5px;
        background-image: url(../images/mobile/sprites.png);
        background-position: -100px 0px;
        width: 16px;
        height: 10px; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi) {
      .view-bbs-navigation a.next:after {
        background-image: url(../images/mobile/sprites@2x.png);
        background-size: 116px 84px; } }
  @media only screen and (min-width: 768px) {
    .view-bbs-navigation {
      margin-top: 60px; }
      .view-bbs-navigation a {
        width: 100%;
        font-size: 1.000rem;
        line-height: 68px; }
        .view-bbs-navigation a:before {
          display: inline-block;
          padding-left: 70px;
          width: 90px; }
        .view-bbs-navigation a:after {
          left: 30px; }
        .view-bbs-navigation a + a {
          border-top: 1px solid #d9d9d9; }
        .view-bbs-navigation a.prev:after {
          margin-top: -7px;
          background-image: url(../images/desktop/sprites.png);
          background-position: -116px -81px;
          width: 22px;
          height: 14px; }
        .view-bbs-navigation a.next:after {
          margin-top: -7px;
          background-image: url(../images/desktop/sprites.png);
          background-position: -116px -61px;
          width: 22px;
          height: 14px; } }

body {
  background-color: #fff; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .only-desktop {
    display: none; }
  img {
    width: 100%; } }

@media only screen and (min-width: 768px) {
  .only-mobile {
    display: none; } }

/* header */
.layout-header {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #ddd; }
  .layout-header .btn-menu {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -15px; }
  .layout-header .btn-nugu {
    position: absolute;
    top: 50%;
    margin-top: -14px; }
  .layout-header .btn-login {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -14px; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .layout-header .btn-nugu {
      left: 50%;
      margin-left: -20px; } }
  @media only screen and (min-width: 768px) {
    .layout-header {
      height: 100px;
      min-width: 1120px; }
      .layout-header .btn-menu {
        display: none; }
      .layout-header .btn-nugu {
        left: 40px;
        margin-top: -28px; }
      .layout-header .btn-login {
        right: 30px;
        margin-top: -28px; } }

/* contents */
.layout-contents {
  margin: 0 auto;
  padding-bottom: 60px; }
  .layout-contents .page-title {
    margin-top: 24px;
    font-family: "Roboto", sans-serif;
    font-size: 1.500rem;
    font-weight: 500;
    color: #252525;
    text-align: center; }
  .layout-contents .hidden-title {
    display: none; }
  @media only screen and (min-width: 768px) {
    .layout-contents {
      padding-bottom: 120px;
      width: 1120px; }
      .layout-contents .page-title {
        display: none; } }

/* footer */
.layout-footer {
  padding: 30px 0 0 0;
  text-align: center;
  border-top: 1px solid #ddd; }
  @media only screen and (min-width: 768px) {
    .layout-footer {
      padding: 80px 0 0 0;
      min-width: 1120px; } }
